<script type="text/javascript">
  authdata = {
    uptime: "<%= ENV.fetch("UPTIME_APIKEY") %>",
  }
</script>

<div class="dashboard"></div>
<div class="dashboard-omnibar"><input autofocus=true type="text"></div>
