<%= content_for(:head) do %>
  <script src="https://combinatronics.com/sweaver2112/Regex-combined-emojis/master/regex.js"></script>
  <script type="text/javascript">
    authdata = {
      uptime: "<%= ENV.fetch("UPTIME_APIKEY") %>",
    }
  </script>
<% end %>

<div class="dashboard"></div>
<div class="dashboard-omnibar"><input autofocus=true type="text"></div>
