<template id="select">
</template>
<template id="bool">
  <label class="switch raw-input">
    <input type="checkbox" name="bool-{}">
    <span class="slider"></span>
  </label>
</template>
<template id="str">
  <input type="text" name="str-{}" placeholder="Hello, World!" class="raw-input">
</template>
<template id="num">
  <input type="number" name="num-{}" placeholder="#" class="raw-input">
</template>
<template id="hash">
  <!-- Cannot be done inline -->
</template>
<template id="array">
  <!-- Cannot be done inline -->
</template>
<template id="duration">
</template>
<template id="date">
  <input type="date" name="date-{}" class="raw-input">
</template>
<template id="var">
  <!-- No inline, since the input is ANY -->
</template>
<template id="any">
  <!-- adds a new dropdown to select input type, and then renders the template based on that -->
  <!-- OR -- don't allow "any" to be set with a raw value -->
</template>
<template id="task">
</template>

<div class="split-container">
  <div class="tree lists-index-container">
    <div class="list-field">
      <%= text_field_tag "list[name]", "", class: "filterable", placeholder: "Search" %>
    </div>
    <div class="lists">
      <%# Accordion groups, search should filter by group %>
      <% TaskMap::TASKS.each do |task_group, group_items| %>
        <h3><%= task_group.to_s.titleize %></h3>
        <% group_items.each do |op, data| %>
          <div class="list-item-container">
            <span class="list-item" data="<%= ["#{task_group}.#{op}", data].to_json %>">
              <span class="item-name"><%= op.to_s.titleize %></span>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="skinny-container lists-index-container">
    <div class="lists-title">J.I.L.</div>
    <div class="tasks lists">
      <%# Iterate through existing task and populate the blocks here %>
    </div>
  </div>
</div>
