$blue-l20: #F3F7FF;
$blue-l5: #D5E5FF;
$blue-l4: #AACAFF;
$blue-l3: #80B0FF;
$blue-l2: #5695FF;
$blue-l1: #2B7BFF;
$base-blue: #0160FF;
$blue-d1: #0150D5;
$blue-d2: #0140AA;
$blue-d3: #013080;
$blue-d4: #002055;
$blue-d5: #00102B;
$base-complementary: #FFA001;

$danger: #F6433D;
$grey-blue: #6481A1;
$grey-light: #ECF0F1;
$grey-disabled: #BDC3C7;
$grey-dark: #34495E;

$text-color: darken($grey-blue, 20%);

$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;

$dpl-purple: #8168B1;
$facebook-blue: #3B5998;
$github-black: black;

// #3D94F6 // Old Portfolio
// #4169e1 // Royal
// #0B84FF // iMessage
// #0160FF // Rockster160
