$base-blue: #3D94F6;
$blue-1: lighten($base-blue, 45%);
$blue-2: lighten($base-blue, 25%);
$blue-3: $base-blue;
$blue-4: darken($base-blue, 25%);
$blue-5: darken($base-blue, 50%);

$danger: #F6433D;
$grey-blue: #6481A1;
$grey-light: #ECF0F1;
$grey-disabled: #BDC3C7;
$grey-dark: #34495E;

$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;

$dpl-purple: #8168B1;
$facebook-blue: #3B5998;
$github-black: black;
