body,
html {
  box-sizing: border-box;
  background: $blue-l20;
  color: $text-color;
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

html.dark-mode {
  &,
  body {
    color: $grey-light;
    background: darken($blue-d5, 5%);
  }
}

p {
  max-width: 100%;
  overflow-x: auto;
}
