.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.italics { font-style: italic; }
.normal { font-weight: normal; }
.hidden { display: none !important; }
.danger { color: red; }
