@mixin pin_chart($pin_height, $container_height) {
  .pin-container {
    // $pin_height: 100px;
    // $space_height: 279px;
    $horz_dist: $pin_height * 0.7;
    $pin_width_ratio: 0.4;
    $pin_width: $pin_height * $pin_width_ratio;
    $vert_dist: ($container_height - $pin_height)/3;
    $text_size: $pin_height / 5;
    $text_offset: $pin_height / 8;

    position: absolute;
    bottom: 0;
    left: calc(50% - #{$pin_width / 2});
    &, * { touch-action: manipulation; }

    .pin-wrapper {
      position: relative;

      .pin {
        position: absolute;
        width: $pin_width;
        height: $pin_height;
      }

      .pin-num, .pin-dot {
        position: absolute;
        padding-bottom: $text_offset;
        width: $pin_width;
        font-size: 14px;
        font-weight: bold;
        user-select: none;
        text-align: center;
      }
      .pin-dot {
        // Alignment for dots is slightly different than text
        padding-bottom: 0;
        margin-bottom: -3px;
      }

      &.fallen * {
        fill: rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
      }
      &.fallen-before * {
        fill: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
      }
    }

    &[data-pin-num="1"] .pin-wrapper > * { bottom: 0; left: 50%; }
    &[data-pin-num="2"] .pin-wrapper > * { bottom: $vert_dist; left: calc(#{50%} - #{$horz_dist/2}); }
    &[data-pin-num="3"] .pin-wrapper > * { bottom: $vert_dist; left: calc(#{50%} + #{$horz_dist/2}); }
    &[data-pin-num="4"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: calc(#{50%} - #{($horz_dist/2) * 2}); }
    &[data-pin-num="5"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: 50%; }
    &[data-pin-num="6"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: calc(#{50%} + #{($horz_dist/2) * 2}); }
    &[data-pin-num="7"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} - #{($horz_dist/2) * 3}); }
    &[data-pin-num="8"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} - #{($horz_dist/2) * 1}); }
    &[data-pin-num="9"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} + #{($horz_dist/2) * 1}); }
    &[data-pin-num="10"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} + #{($horz_dist/2) * 3}); }
  }
}



.ctr-bowling_leagues, .ctr-bowling_sets, .ctr-bowling_games {
  overscroll-behavior: contain;
  * { touch-action: manipulation; }

  .bowler-form {
    position: relative;
    margin: 10px;
    box-shadow: 2px 2px 2px $grey-blue;
    border: 1px solid $grey-blue;
    border-radius: 6px;
    background: $blue-l5;
    padding: 10px;

    &.bowler-select:hover {
      transition: background 0.3s;
      cursor: pointer;
      background: $blue-l4;
    }
  }

  .pin-svg-wrapper svg { height: 26px; }

  .posi {
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
    &.neutral {}
  }

  .bowling-btn {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top ease-in-out 0.07s, background ease-in-out 0.1s;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    background: white;
    padding: 15px;
    touch-action: manipulation;
    font-size: 30px;
    user-select: none;
    text-align: center;

    &:active {
      top: 1px;
      background: $blue-l20;
    }
    &.active {
      background: $blue-l5;
    }
  }

  .in-roster {
    position: absolute;
    top: 5px;
    left: 5px;
    color: gold;
  }

  .remove-bowler {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
  }


  .bowling-keypad-entry {
    @include pin_chart(100px, 279px);
  }

  .pin-input {
    touch-action: none;
  }

  .pin-stat-wrapper {
    display: inline-block;
    text-align: center;
    font-size: 12px;

    .mini-pin-chart {
      position: relative;
      height: 50px;
      width: 50px;

      @include pin_chart(18px, 50px);
    }
  }

  .dot-pin-chart {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;

    @include pin_chart(10px, 30px);
  }

  .pin-all-toggle.fall svg {
    transform: rotate(90deg) translate(5px);
  }

  .backspace {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
  }
  td {
    padding: 3px 5px;
  }
  .bowling-table {
    display: grid;
    position: relative;
    grid-template-columns: minmax(100px, 1fr) repeat(11, 80px);

    .bowling-cell {
      position: relative;
      border: 1px solid $grey-blue;
      border-collapse: collapse;
      height: 60px;
      text-align: center;

      &.invisi-frame {
        border: none;
      }
    }

    &.bowling-header .bowling-cell {
      height: auto;
      font-size: 12px;
    }

    .prev-scores {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: space-around;
      padding: 2px;
      font-size: 10px;
    }
    .team-total {
      padding: 3px;
    }

    .bowler-options {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      justify-content: space-between;
      z-index: 2;
      border: 1px solid $grey-blue;
      background: $blue-l5;
      padding: 3px;
      min-width: 300px;
      font-size: 12px;

      text-align: left;

      .actions {
        text-align: right;

        .btn {
          padding: 3px 12px;
          font-size: 10px;
        }
      }
    }
    .bowler-name {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .avg {
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 10px;

      .avg-label {
        vertical-align: bottom;
        font-size: 7px;
        letter-spacing: -0.5px;
      }
    }

    .remove {
      position: absolute;
      top: 0;
      right: 1px;
      color: red;
      font-size: 10px;
    }

    .card-point {
      position: absolute;
      top: 2px;
      left: 2px;
      color: $base-blue;
      font-size: 14px;
    }

    .frame {
      display: flex;
      position: relative;
      justify-content: flex-end;
      height: 60px;

      .shot {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        border: 1px solid $grey-blue;
        border-radius: 0;
        border-collapse: collapse;
        background: transparent;
        width: 25px;
        height: 25px;
        line-height: 25px;

        text-align: center;

        &.active {
          outline: none;
        }

        &.current {
          z-index: 2;
          border: 2px solid $flash-alert-bg;
        }
      }
      .split {
        position: relative;

        &.split-holder:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          border: 2px solid $flash-alert-bg;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          content: "";
        }
      }
      .score {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 5px;
        text-align: center;
      }
    }
    &.absent, &.skip {
      .frame .shot {
        background: $grey-light;
      }
    }
    .total {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-end;

      .score {
        border: none;
        background: transparent;
        padding-top: 10px;
        width: 100%;
        font-size: 20px;

        text-align: center;
      }
      .hdcp {
        font-size: 10px;
      }
      .max {
        display: block;
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .absent-game {
    color: red;
  }

  .bowling-winner {
    background: rgba($blue-l4, 0.7);
    font-weight: bold;
  }

  tr.line-bot td {
    border-bottom: 1px solid $grey-blue;
  }

  .bowling-set-summary {
    margin-bottom: 20px;

    tr:last-of-type td {
      border-top: 1px solid $grey-blue;
    }
    tr:first-of-type td {
      border-bottom: 1px solid $grey-blue;
    }
    td {
      vertical-align: middle;
      padding: 2px 5px 1px;
    }
  }
  .league-set {
    .league-game {
      margin-bottom: 10px;
    }
  }

  .small-bowling-table, .detail-bowling-table {
    display: grid;
    grid-template-columns: 80px repeat(9, 60px) 85px repeat(2, 40px);
    margin-bottom: 15px;
    width: auto;

    .bowling-cell {
      .toss-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        padding-right: 2px;

        .bowling-toss {
          position: relative;
          z-index: 0;
          box-sizing: border-box;
          margin-top: -1px;
          margin-right: -1px;
          border: 1px solid $grey-blue;
          border-collapse: collapse;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;

          &.split::after {
            position: absolute;
            top: 1px;
            right: 0;
            bottom: 1px;
            left: 0;
            border: 2px solid $flash-alert-bg;
            border-radius: 100%;
            content: "";
          }
        }
      }

      &.edge-t.edge-l .bowling-toss:first-of-type {
        border-top-left-radius: 5px;
      }
      &.edge-t.edge-r .bowling-toss:last-of-type {
        border-top-right-radius: 5px;
      }
      &.edge-b.edge-l .bowling-toss:first-of-type {
        border-bottom-left-radius: 5px;
      }
      &.edge-b.edge-r .bowling-toss:last-of-type {
        border-bottom-right-radius: 5px;
      }
      &.center-text {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .detail-bowling-table {
    font-size: 14px;
    grid-template-columns: 80px repeat(9, 60px) 100px repeat(2, 40px);

    .bowling-cell {
      margin: 5px 0;

      .toss-wrapper {
        .bowling-toss {
          width: 20px;
          height: 20px;
          line-height: 20px;

          &.split::after {
            top: 0;
            bottom: 0;
          }
        }
      }
      .pin-detail {
        height: 30px;
        text-align: center;
      }
    }
  }

  .bowling-input-spacer { height: 350px; }
  .bowling-input {
    display: grid;
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
    margin: 10px auto;
    text-align: center;

    .pin-input {
      grid-area: 1 / 2;
    }

    .bowling-keypad-entry {
      grid-gap: 5px;
      display: grid;
      position: relative;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(4, 1fr);
      justify-content: center;
      width: auto;
    }
    .numpad-key {
      @extend .bowling-btn;

      &:active {
        top: 1px;
        background: $blue-l20;
      }
    }
    .new-bowler {
      grid-area: 2 / 3;
      font-size: 15px;
    }
    .pin-mode-toggle {
      grid-area: 4 / 3;
      font-size: 24px;
    }
    .pin-mode-toggle {
      grid-area: 4 / 3;
      font-size: 24px;
    }
    .backspace {
      grid-area: 1 / 1;
    }
    .card {
      grid-area: 4 / 1;
    }
    .stats-holder {
      grid-area: 2 / 1;
      padding: 10px;
      overflow: hidden;
    }
    .pin-all-toggle {
      grid-area: 1 / 1;
    }
    .close-frame {
      grid-area: 3 / 1;
    }
    .pocket-close {
      grid-area: 3 / 2;
    }
    .brooklyn-close {
      grid-area: 3 / 3;
    }
    .pocket-toggle {
      grid-area: 4 / 2;
    }
    .brooklyn-toggle {
      grid-area: 4 / 3;
    }
    .next-frame {
      grid-area: 4 / 1;
    }
    .bowling-edit {
      grid-area: 1 / 3;
      text-decoration: none;
    }
    .bowling-form-btn {
      grid-area: 1 / 3;
      margin: 0;
      padding: 0;
    }
  }
  .bowling-navigation {
    display: none;

    .nav-buttons {
      @extend .bowling-btn;
      margin: 0 10px;

      padding: 6px 30px;
      font-size: 14px;
    }
  }

  @include small-down {
    .bowling-input {
      display: block;

      .bowling-keypad-entry:not(.pin-input) {
        display: block;
        bottom: 250px;

        .numpad-key, .bowling-form-btn {
          height: 30px;
          font-size: 16px;
          line-height: 30px;
          padding: 0 5px;
          min-width: 80px;
          margin: 5px;
        }
        .numpad-key.next-frame {
          position: fixed;
          top: auto;
          bottom: 40px;
          left: calc(50% + 50px);
        }
        .stats-holder {
          position: fixed;
          top: auto;
          bottom: 40px;
          left: calc(50% - 130px);
        }

        .pin-svg-wrapper svg { height: 16px; }
      }

      .bowling-keypad-entry {
        @include pin_chart(80px, 225px);
      }
    }
  }
}
