.ctr-bowling_leagues, .ctr-bowling_sets, .ctr-bowling_games {
  .bowler-form {
    position: relative;
    border: 1px solid $grey-blue;
    border-radius: 6px;
    box-shadow: 2px 2px 2px $grey-blue;
    margin: 10px;
    padding: 10px;
    background: $blue-l5;
  }

  .in-roster {
    position: absolute;
    color: gold;
    top: 5px;
    left: 5px;
  }

  .remove-bowler {
    cursor: pointer;
    position: absolute;
    color: red;
    top: 5px;
    right: 5px;
  }

  .backspace {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
  }
  td {
    padding: 3px 5px;
  }
  .bowling-table {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(11, 80px);

    .bowling-cell {
      position: relative;
      border: 1px solid $grey-blue;
      border-collapse: collapse;
      text-align: center;
      height: 60px;

      &.invisi-frame {
        border: none;
      }
    }

    &.bowling-header .bowling-cell {
      font-size: 12px;
      height: auto;
    }

    .prev-scores {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2px;
      font-size: 10px;
      display: flex;
      justify-content: space-around;
    }
    .team-total {
      padding: 3px;
    }

    .bowler-options {
      width: 100%;
      text-align: left;
      font-size: 12px;

      display: flex;
      justify-content: space-between;
      padding: 3px;

      .actions {
        text-align: right;

        .btn {
          padding: 3px 12px;
          font-size: 10px;
        }
      }
    }
    .bowler-name {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .avg {
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 10px;

      .avg-label {
        font-size: 7px;
        letter-spacing: -0.5px;
        vertical-align: bottom;
      }
    }

    .remove {
      color: red;
      position: absolute;
      top: 0;
      right: 1px;
      font-size: 10px;
    }

    .card-point {
      position: absolute;
      top: 2px;
      left: 2px;
      color: $base-blue;
      font-size: 14px;
    }

    .bowling-form-btn {
      z-index: 2;
    }

    .frame {
      display: flex;
      position: relative;
      justify-content: flex-end;
      height: 60px;

      .shot {
        z-index: 0;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        border-radius: 0;
        border: 1px solid $grey-blue;
        border-collapse: collapse;
        background: transparent;
        width: 25px;
        height: 25px;
        line-height: 25px;

        text-align: center;

        &.active {
          outline: none;
        }

        &.current {
          z-index: 1;
          border: 2px solid red;
        }
      }
      .score {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 5px;
        text-align: center;
      }
    }
    &.absent, &.skip {
      .frame .shot {
        background: $grey-light;
      }
    }
    .total {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .score {
        border: none;
        background: transparent;
        padding-top: 10px;
        width: 100%;
        font-size: 20px;

        text-align: center;
      }
      .hdcp {
        font-size: 10px;
      }
      .max {
        display: block;
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .absent-game {
    color: red;
  }

  .bowling-winner {
    font-weight: bold;
    background: rgba($blue-l4, 0.7);
  }

  tr.line-bot td {
    border-bottom: 1px solid $grey-blue;
  }

  .bowling-set-summary {
    margin-bottom: 20px;

    tr:last-of-type td {
      border-top: 1px solid $grey-blue;
    }
    tr:first-of-type td {
      border-bottom: 1px solid $grey-blue;
    }
    td {
      padding: 2px 5px 1px;
      vertical-align: middle;
    }
  }
  .league-set {
  }
  .league-game {
    margin-bottom: 10px;
  }

  .small-bowling-table {
    display: grid;
    grid-template-columns: 80px repeat(9, 60px) 85px repeat(2, 40px);
    margin-bottom: 15px;
    width: auto;

    .bowling-cell {
      display: flex;
      position: relative;
      justify-content: flex-end;
      margin-left: 5px;
      align-items: center;
      padding-right: 2px;

      .bowling-toss {
        z-index: 0;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        border: 1px solid $grey-blue;
        border-collapse: collapse;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
      &.corner-tl .bowling-toss:first-of-type {
        border-top-left-radius: 5px;
      }
      &.corner-tr .bowling-toss:last-of-type {
        border-top-right-radius: 5px;
      }
      &.corner-bl .bowling-toss:first-of-type {
        border-bottom-left-radius: 5px;
      }
      &.corner-br .bowling-toss:last-of-type {
        border-bottom-right-radius: 5px;
      }
    }
  }

  .bowling-input-spacer { height: 350px; }
  .bowling-input {
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 1;
    margin: 10px auto;
    text-align: center;

    .bowling-keypad-entry {
      grid-gap: 5px;
      display: grid;
      grid-template-columns: repeat(3, 100px);
      justify-content: center;
      width: auto;

      .numpad-key {
        position: relative;
        top: 0;
        transition: top ease-in-out 0.07s, background ease-in-out 0.1s;
        border: 1px solid $grey-blue;
        border-radius: 8px;
        background: white;
        padding: 15px;
        font-size: 30px;
        text-align: center;

        &:active {
          top: 1px;
          background: $blue-l20;
        }
      }
    }
  }
}
