@mixin pin_chart($pin_height, $container_height) {
  .pin-container {
    // $pin_height: 100px;
    // $space_height: 279px;
    $horz_dist: $pin_height * 0.7;
    $pin_width_ratio: 0.4;
    $pin_width: $pin_height * $pin_width_ratio;
    $vert_dist: ($container_height - $pin_height)/3;
    $text_size: $pin_height / 6;
    $text_offset: $pin_height / 8;

    position: absolute;
    bottom: 0;
    left: calc(50% - #{$pin_width / 2});
    &, * { touch-action: manipulation; }

    .pin-wrapper {
      position: relative;

      .pin {
        position: absolute;
        width: $pin_width;
        height: $pin_height;
      }

      .pin-num, .pin-dot {
        position: absolute;
        padding-bottom: $text_offset;
        width: $pin_width;
        font-size: $text_size;
        font-weight: bold;
        user-select: none;
        text-align: center;
      }
      .pin-dot {
        // Alignment for dots is slightly different than text
        font-size: 14px;
        padding-bottom: 0;
        margin-bottom: -3px;
      }

      &.fallen * {
        fill: rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
      }
      &.fallen-before * {
        fill: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
      }
    }

    &[data-pin-num="1"] .pin-wrapper > * { bottom: 0; left: 50%; }
    &[data-pin-num="2"] .pin-wrapper > * { bottom: $vert_dist; left: calc(#{50%} - #{$horz_dist/2}); }
    &[data-pin-num="3"] .pin-wrapper > * { bottom: $vert_dist; left: calc(#{50%} + #{$horz_dist/2}); }
    &[data-pin-num="4"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: calc(#{50%} - #{($horz_dist/2) * 2}); }
    &[data-pin-num="5"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: 50%; }
    &[data-pin-num="6"] .pin-wrapper > * { bottom: #{$vert_dist * 2}; left: calc(#{50%} + #{($horz_dist/2) * 2}); }
    &[data-pin-num="7"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} - #{($horz_dist/2) * 3}); }
    &[data-pin-num="8"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} - #{($horz_dist/2) * 1}); }
    &[data-pin-num="9"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} + #{($horz_dist/2) * 1}); }
    &[data-pin-num="10"] .pin-wrapper > * { bottom: #{$vert_dist * 3}; left: calc(#{50%} + #{($horz_dist/2) * 3}); }
  }
}

@function textoutline($color) {
  $list: 0 0 0 $color;
  @for $x from -1 through 1 {
    @for $y from -1 through 1 {
      $list: #{$list}, #{$x/2}px #{$y/2}px 1px $color;
    }
  }
  @return $list
}

.ctr-bowling_leagues, .ctr-bowling_sets, .ctr-bowling_games {
  overscroll-behavior: contain;
  * { touch-action: manipulation; }

  .bowler-form {
    position: relative;
    margin: 10px;
    box-shadow: 2px 2px 2px $grey-blue;
    border: 1px solid $grey-blue;
    border-radius: 6px;
    background: $blue-l5;
    padding: 10px;

    &.bowler-select {
      .bowler-data { display: none; }
      &:hover {
        transition: background 0.3s;
        cursor: pointer;
        background: $blue-l4;
      }
    }
  }

  .pin-svg-wrapper svg { height: 26px; }

  .posi {
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
    &.neutral {}
  }

  .bowling-btn {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top ease-in-out 0.07s, background ease-in-out 0.1s;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    background: white;
    padding: 15px;
    touch-action: manipulation;
    font-size: 30px;
    user-select: none;
    text-align: center;

    &:active {
      top: 1px;
      background: $blue-l20;
    }
    &.active {
      background: $blue-l5;
    }
  }

  .in-roster {
    position: absolute;
    top: 5px;
    left: 5px;
    color: gold;
  }

  .remove-bowler {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
  }


  .bowling-keypad-entry {
    @include pin_chart(100px, 279px);
  }

  .pin-input {
    touch-action: none;
    user-select: none;
  }

  .pin-stat-wrapper {
    display: inline-block;
    text-align: center;
    font-size: 12px;

    .mini-pin-chart {
      position: relative;
      height: 50px;
      width: 50px;

      @include pin_chart(18px, 50px);
    }
  }

  .dot-pin-chart {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;

    @include pin_chart(10px, 30px);
  }

  .pin-all-toggle.fall svg {
    transform: rotate(90deg) translate(5px);
  }

  .backspace {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
  }
  td {
    padding: 3px 5px;
  }
  .bowling-table {
    display: grid;
    position: relative;
    grid-template-columns: minmax(100px, 1fr) repeat(11, 80px);

    .bowling-cell {
      position: relative;
      border: 1px solid $grey-blue;
      border-collapse: collapse;
      height: 60px;
      text-align: center;

      &.invisi-frame {
        border: none;
      }
      &.clean-start {
        border-color: $base-blue;
        color: $base-blue;

        input[type=text] {
          border-color: $base-blue;
          color: $base-blue;

          &.current {
            border-color: purple;
          }
        }
      }
      &.drink-frame, &.consec-start {
        border-color: gold;
        color: inherit;

        input[type=text] {
          border-color: gold;
          color: gold;

          &.current {
            border-color: purple;
          }
        }
      }
      &.missed-drink-frame {
        border-color: red;
        background-image: url("https://staticg.sportskeeda.com/editor/2022/08/2d25d-16594604976321-1920.jpg");
        background-position: -9px 0;
        background-size: cover;
        text-shadow: textoutline(black);

        input[type=text] {
          border-color: red;
          color: red;
          text-shadow: textoutline(black);

          &.current {
            border-color: purple;
          }
        }
      }
    }

    &.bowling-header .bowling-cell {
      height: auto;
      font-size: 12px;

      &.drink-frame {
        background: gold;
        color: white;
      }
    }

    &.perfect-game {
      .bowling-cell {
        background: gold;
        color: $base-blue;
        border-color: $base-blue;
        border-width: 2px;
        font-weight: bold;

        input[type=text] {
          border-color: $base-blue;
          color: $base-blue;
          border-width: 2px;
          font-weight: bold;
        }
      }
    }

    .prev-scores {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: space-around;
      padding: 2px;
      font-size: 10px;

      @at-root .bowling-header .prev-scores {
        bottom: auto;
        top: 0;
      }
    }
    .team-total {
      padding: 3px;

      .enemy-totals {
        color: salmon;
      }
    }

    .bowler-options {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      justify-content: space-between;
      z-index: 3;
      border: 1px solid $grey-blue;
      background: $blue-l5;
      padding: 3px;
      min-width: 300px;
      font-size: 12px;

      text-align: left;

      .actions {
        text-align: right;

        .btn {
          padding: 3px 12px;
          font-size: 10px;
        }
      }

      .details .bowler-option {
        cursor: pointer;
        text-decoration: underline;
        margin-right: 2px;

        .option-label {
          font-size: 8px;
        }
        .option-value {
          font-weight: bold;
        }
      }
    }
    .bowler-name {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .avg {
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 10px;

      .avg-label {
        vertical-align: bottom;
        font-size: 7px;
        letter-spacing: -0.5px;
      }
    }

    .remove {
      position: absolute;
      top: 0;
      right: 1px;
      color: red;
      font-size: 10px;
    }

    .card-point {
      position: absolute;
      top: 2px;
      left: 2px;
      color: $base-blue;
      font-size: 14px;
    }

    .frame {
      display: flex;
      position: relative;
      justify-content: flex-end;
      height: 60px;

      .shot {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        border: 1px solid $grey-blue;
        border-radius: 0;
        border-collapse: collapse;
        background: transparent;
        width: 25px;
        height: 25px;
        line-height: 25px;

        text-align: center;

        &.active, &:focus {
          outline: none;
        }

        &.current {
          z-index: 2;
          border: 2px solid $flash-alert-bg;
        }
      }
      .split {
        position: relative;

        &.split-holder:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          border: 2px solid $flash-alert-bg;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          content: "";
        }
      }
      .score {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 5px;
        text-align: center;
      }
    }

    &:has(.absent-checkbox:not(:checked)) .absent-bowler { display: none; }
    &:has(.card-point-field:not([value='true'])) .card-point { display: none; }
    &:has(.skip-checkbox:not(:checked)) .skip-bowler { display: none; }
    &:has(.absent-checkbox:checked), &:has(.skip-checkbox:checked) {
      .frame .shot {
        background: $grey-light;
      }
    }
    .total {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-end;

      .score {
        border: none;
        background: transparent;
        padding-top: 10px;
        width: 100%;
        font-size: 20px;

        text-align: center;
      }
      .hdcp {
        font-size: 10px;
      }
      .max-wrapper {
        display: block;
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .absent-game {
    color: red;
  }

  .bowling-winner {
    background: rgba($blue-l4, 0.7);
    font-weight: bold;
    border-radius: 2px;
  }

  .perfect-game {
    background: gold !important;
    color: $base-blue !important;
    font-weight: bold;
    border-radius: 2px;
    padding: 2px;

      // background: gold;
      // color: white;
      // border-color: white;
      // border-width: 2px;
      // font-weight: bold;
      //
      // input[type=text] {
      //   border-color: white;
      //   color: white;
      //   border-width: 2px;
      //   font-weight: bold;
      // }
  }

  tr.line-bot td {
    border-bottom: 1px solid $grey-blue;
  }

  .bowling-set-summary {
    margin-bottom: 20px;

    tr:last-of-type td {
      border-top: 1px solid $grey-blue;
    }
    tr:first-of-type td {
      border-bottom: 1px solid $grey-blue;
    }
    td {
      vertical-align: middle;
      padding: 2px 5px 1px;
    }
  }
  .league-set {
    .league-game {
      margin-bottom: 10px;
    }
  }

  .small-bowling-table, .detail-bowling-table {
    display: grid;
    grid-template-columns: 80px repeat(9, 60px) 85px repeat(2, 40px);
    margin-bottom: 15px;
    width: auto;

    .bowling-cell {
      .toss-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        padding-right: 2px;

        .bowling-toss {
          position: relative;
          z-index: 0;
          box-sizing: border-box;
          margin-top: -1px;
          margin-right: -1px;
          border: 1px solid $grey-blue;
          border-collapse: collapse;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;

          &.split::after {
            position: absolute;
            top: 1px;
            right: 0;
            bottom: 1px;
            left: 0;
            border: 2px solid $flash-alert-bg;
            border-radius: 100%;
            content: "";
          }
        }
      }

      &.edge-t.edge-l .bowling-toss:first-of-type {
        border-top-left-radius: 5px;
      }
      &.edge-t.edge-r .bowling-toss:last-of-type {
        border-top-right-radius: 5px;
      }
      &.edge-b.edge-l .bowling-toss:first-of-type {
        border-bottom-left-radius: 5px;
      }
      &.edge-b.edge-r .bowling-toss:last-of-type {
        border-bottom-right-radius: 5px;
      }
      &.box-align-text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3px;

        &.bowling-name {
          justify-content: flex-end;
          padding-right: 5px;
        }
      }
    }
  }
  .detail-bowling-table {
    font-size: 16px;
    grid-template-columns: 80px repeat(9, 55px) 100px repeat(2, 40px);

    .bowling-cell {
      padding: 10px 0;

      .toss-wrapper {
        .bowling-toss {
          width: 24px;
          height: 24px;
          line-height: 24px;

          &.split::after {
            top: 0;
            bottom: 0;
          }
        }
      }
      .pin-detail {
        height: 30px;
        text-align: center;
      }
      $col_count: 13;
      @for $i from 1 through $col_count {
        &:nth-child(#{$col_count*2}n + #{$i + $col_count}) {
          background: rgba($blue-l4, 0.3);
        }
      }
      &.bowling-winner {
        background: $blue-l4;
      }
    }
  }

  .bowling-input-spacer { height: 350px; }
  .bowling-input {
    display: grid;
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
    margin: 10px auto;
    text-align: center;

    .pin-input {
      grid-area: 1 / 2;
    }

    .bowling-keypad-entry {
      grid-gap: 5px;
      display: grid;
      position: relative;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(4, 1fr);
      justify-content: center;
      width: auto;
    }
    .numpad-key {
      @extend .bowling-btn;

      &:active {
        top: 1px;
        background: $blue-l20;
      }

      .lane-input {
        text-align: center;
        height: 19px;
      }
    }
    .new-bowler {
      grid-area: 2 / 3;
      font-size: 15px;
    }
    .crosslane-toggle {
      grid-area: 2 / 3;
    }
    .lane-input-btn {
      grid-area: 2 / 2;
    }
    .lanetalk-toggle {
      grid-area: 2 / 1;
      position: relative;
      text-align: center;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 80%;
      }
    }
    .pin-mode-toggle {
      grid-area: 4 / 3;
      font-size: 24px;
    }
    .pin-mode-toggle {
      grid-area: 4 / 3;
      font-size: 24px;
    }
    .backspace {
      grid-area: 1 / 1;
    }
    .card {
      grid-area: 4 / 1;
    }
    .stats-holder {
      grid-area: 2 / 1;
      padding: 10px;
      overflow: hidden;
    }
    // .enemy-results {
    //   grid-area: 2 / 2;
    //   grid-column: span 2;
    //   padding: 0;
    //   overflow: hidden;
    //
    //   table {
    //     font-size: 10px;
    //
    //     td {
    //       text-align: right;
    //       border-spacing: 0;
    //       padding: 0 5px;
    //     }
    //   }
    // }
    .pin-all-toggle {
      grid-area: 1 / 1;
    }
    .close-frame {
      grid-area: 3 / 1;
    }
    .pocket-close {
      grid-area: 3 / 2;
    }
    .brooklyn-close {
      grid-area: 3 / 3;
    }
    .pocket-toggle {
      grid-area: 4 / 2;
    }
    .brooklyn-toggle {
      grid-area: 4 / 3;
    }
    .next-frame {
      grid-area: 4 / 1;
    }
    .bowling-edit {
      grid-area: 1 / 3;
      text-decoration: none;
    }
    .timer-toggle {
      grid-area: 1 / 2;
      .fa { transform: scaleY(-1) rotateZ(-90deg); }
    }
    .bowling-form-btn {
      grid-area: 1 / 3;
      margin: 0;
      padding: 0;
    }
  }
  .bowling-navigation {
    display: none;

    .nav-buttons {
      @extend .bowling-btn;
      margin: 0 10px;

      padding: 6px 30px;
      font-size: 14px;
    }
  }

  @include small-down {
    .bowling-input {
      display: block;

      .bowling-keypad-entry:not(.pin-input) {
        display: block;
        bottom: 250px;

        .numpad-key, .bowling-form-btn {
          height: 30px;
          font-size: 16px;
          line-height: 30px;
          padding: 0 5px;
          min-width: 80px;
          margin: 5px;
        }
        .numpad-key.next-frame {
          position: fixed;
          top: auto;
          bottom: 40px;
          left: calc(50% + 50px);
        }
        .stats-holder {
          position: fixed;
          top: auto;
          bottom: 40px;
          left: calc(50% - 130px);
        }

        .pin-svg-wrapper svg { height: 16px; }
        .timer-toggle svg {
          // Hacky, but other styles are applied inline with JS, so need to override.
          transform: scale(0.5) rotateZ(-90deg) !important;
        }
      }

      .bowling-keypad-entry {
        @include pin_chart(80px, 225px);
      }
    }
  }
}

.dark-mode {
  .ctr-bowling_leagues, .ctr-bowling_sets, .ctr-bowling_games {
    .pin-container {
      .pin-wrapper {
        .pin-num, .pin-dot {
          color: $grey-blue;
        }
        &.fallen * {
          fill: rgba($grey-blue, 0.4);
          color: rgba($grey-blue, 0.4);
        }
        &.fallen-before * {
          fill: rgba($grey-blue, 0.1);
          color: rgba($grey-blue, 0.1);
        }
      }
    }
    svg {
      fill: $grey-blue;
    }
    input.shot, .total input.score {
      color: $grey-blue;
    }
    .bowler-form {
      background: $grey-dark;
      &.bowler-select:hover {
        background: $grey-blue;
      }
    }
    .bowler-options {
      background: $grey-dark;
      border: 1px solid $grey-blue;
    }
    .bowling-btn {
      background: $grey-dark;
      border-color: $grey-blue;

      &:active {
        background: $grey-blue;
      }
      &.active {
        background: $grey-blue;
      }
    }
  }
}
