.bowling-table {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(11, 80px);

  &.bowling-header .bowling-cell {
    font-size: 12px;
  }

  .bowling-cell {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  .bowler-name {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .card-point {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 14px;
    color: $base-blue;
  }

  #bowling_game_game_data {
    z-index: 2;
  }

  .frame {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 60px;

    .shot {
      z-index: 0;
      box-sizing: border-box;
      margin-top: -1px;
      margin-right: -1px;
      border: 1px solid black;
      border-collapse: collapse;
      width: 25px;
      height: 25px;
      line-height: 25px;

      &.current {
        z-index: 1;
        border: 2px solid red;
      }
    }
    .score {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding-bottom: 5px;
      text-align: center;
    }
  }
  .total {
    position: relative;

    .score {
      padding-top: 10px;
      font-size: 20px;
    }
    .hdcp {}
    .max {
      font-size: 10px;
      position: absolute;
      bottom: 3px;
      left: 0;
      right: 0;
      text-align: center;
      display: block;
    }
  }
}


.bowling-input-spacer { height: 350px; }
.bowling-input {
  margin: 10px auto;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;

  .bowling-keypad-entry {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    width: auto;

    .numpad-key {
      position: relative;
      top: 0;
      transition: top ease-in-out 0.07s, background ease-in-out 0.1s;
      border: 1px solid black;
      border-radius: 8px;
      background: white;
      padding: 15px;
      font-size: 30px;
      text-align: center;

      &:active {
        top: 1px;
        background: $blue-l20;
      }
    }
  }
}
