.ctr-calcs.act-show {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  overflow: hidden;
}

.calc-container {
  display: flex;
  flex-direction: column;
  background: $blue-d5;
  width: 100%;
  height: 100%;

  .screen-wrapper {
    position: relative;
    color: lime;
    font-family: monospace;
    text-align: right;
    white-space: nowrap;
    background: $blue-d5;

    *, * * {
      display: inline-block;
      overflow: hidden;
      color: lime;
      font-family: monospace;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .prev {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .clipboard {
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 5px;

      svg {
        width: 10px;
      }

      span {
        overflow: auto;
        display: inline-block;
        width: auto;
      }
    }

    .screen {
      display: inline-block;
      background: $blue-d5;
      padding: 10px 20px;
      height: 100px;
      font-size: 34px;

      &::placeholder {
        color: lime;
      }
    }
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5px;
    column-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;

    .row {
      grid-column: span 5;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      text-align: center;
      padding: 0;
      white-space: nowrap;

      &.op { @include btn-color($base-complementary); }
      &.clr { @include btn-color($danger); }
      &.fn { @include btn-color($grey-dark); }
      &.opt { @include btn-color($grey-blue); }
      &.unit { @include btn-color($grey-disabled); }

      &.incomplete {
        color: red;
      }
    }
  }
}
