$code-background: #112435;
$dash-font-size: 0.75rem;
$dash-font-width: $dash-font-size * 0.6;

.html-ctr-dashboard {
  background: $code-background;
  width: 100%;
  height: 100%;
  &, * { box-sizing: border-box; }

  .ctr-dashboard {
    margin: 0;
    background: $code-background;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: lightgrey;
    font-family: monospace;
    font-size: $dash-font-size;
    text-align: center;
  }
}

.dashboard-omnibar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;

  input[type=text] {
    background: $code-background;
    color: lightgrey;
    font-family: monospace;

    &:focus {
      outline: none;
    }
  }
}

@keyframes flashdash {
  0%   { border-color: $blue-d3; }
  10%  { border-color: $blue-d1; }
  100% { border-color: $blue-d3; }
}
@keyframes flashdashactive {
  0%   { border-color: $blue-d1; }
  10%  { border-color: $blue-l1; }
  100% { border-color: $blue-d1; }
}

.dashboard {
  row-gap: 15px;
  display: inline-grid;
  grid-template-columns: repeat(4, 242px);
  grid-template-rows: repeat(5, 124px);
  column-gap: 5px;
  transition: border-color 1s;
  text-align: left;

  .dash-cell {
    position: relative;
    border: 2px solid $blue-d3;
    border-radius: 4px;
    padding: 5px 3px;
    width: 100%;
    height: 100%;

    &.flash {
      animation: 1s ease-out flashdash;
    }
    &.active {
      border-color: $blue-d1;

      &.flash {
        animation: 1s ease-out flashdashactive;
      }
    }
    .dash-title {
      position: absolute;
      top: -10px;
      width: 100%;
      text-align: center;

      span {
        background: $code-background;
        padding: 0 5px;
        line-height: $dash-font-size;
        height: $dash-font-size;
      }
    }

    .dash-content {
      overflow: hidden;
      white-space: pre-wrap;
      max-height: 100%;
      line-height: $dash-font-size;

      * {
        line-height: $dash-font-size;
        display: inline-block;
      }
      e {
        display: inline-block;
        width: $dash-font-width*2;
        height: $dash-font-size;
        line-height: $dash-font-size;
      }
    }
  }

  // @media screen and (min-width: 1200px) {
    // grid-template-columns: repeat(5, 220px);
    // grid-template-rows: repeat(5, 140px);
  // }
}
