.email-details {
  border-bottom: 2px solid #DDD;
  padding-left: 50px;

  table tr td {
    padding-left: 30px;
  }
}
.display-email-container {
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #DDD;
  width: 600px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: pre-wrap;
}

.emails-container {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;

  .controls {
    position: relative;
    margin-top: -30px;
    pointer-events: none;
    text-align: right;

    a {
      display: inline-block;
      transition: 0.3s all;
      margin-left: 10px;
      width: 30px;
      height: 30px;
      pointer-events: all;
      font-size: 20px;
      line-height: 30px;
      text-align: center;

      &:hover { background-color: $base-blue; }
    }
  }

  .email-container {
    display: block;
    position: relative;
    transition: all 0.3s;
    border: 1px solid #DDD;
    background: white;
    padding: 10px;
    overflow: hidden;
    color: #555;
    text-decoration: none;
    height: 91px;

    &.unread { background: #EBF4FE; }
    .attachments {
      display: inline-block;
    }
    .timestamp {
      margin-top: -5px;
      margin-bottom: 5px;
      font-size: 12px;
    }
    .from {
      position: relative;
      color: black;
      font-size: 20px;
      font-weight: bold;
    }
    .to {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 12px;
    }
    .subject {
      font-size: 14px;
    }
    .body {
      padding-left: 20px;
      overflow: hidden;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover {
      box-shadow: 0 2px 20px -5px #999;
      background: #EEE;

      &.unread { background: darken(#EBF4FE, 5%); }
    }
  }
}

.email-form-wrapper {
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 40px;
  width: 650px;
  max-width: 100%;

  * { box-sizing: border-box; }
  .entered-emails {
    margin: 10px 0;
    font-size: 0;

    .label { font-size: 14px; }
    .email {
      margin: 0 1px;
      border: 1px solid green;
      border-radius: 4px;
      background: rgba(green, 0.2);
      padding: 3px 5px;
      font-size: 12px;

      span {
        vertical-align: top;
        padding-left: 5px;
        color: red;
        font-size: 8px;
      }
    }
  }
  .from {
    display: flex;
    align-items: center;

    input { text-align: right; }
    select {
      appearance: none;
      box-sizing: border-box;
      margin: 2px 0 5px;
      box-shadow: none;

      border: 1px solid grey;
      border-radius: 4px;

      background: white url('https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.png') no-repeat calc(100% - 5px) 55%;
      background-color: white;
      background-size: 10px 10px;
      padding: 0 8px;
      width: 200px;
      height: 23px;
      overflow: hidden;

      color: black;
      font-weight: normal;

      line-height: 100%;
      text-overflow: ellipsis;
    }
  }
  input[type=text] {
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 3px;
    width: 100%;
    font-size: 12px;
  }
  #pell {
    border: 1px solid grey;
    border-radius: 4px;
    overflow: hidden;

    .email-editor {
      background: white;
      padding: 5px;
      min-height: 300px;
    }
    .email-actions {
      margin: 0 auto;
      border-bottom: 1px solid $blue-d1;
      background: #F9F9F9;
      padding: 10px;
      text-align: center;
    }
    .email-action-btn {
      appearance: none;
      vertical-align: top;
      margin: 0;
      box-shadow: none;
      border: 1px solid $grey-blue;
      border-radius: 0;
      background: none;
      padding: 0;
      width: 35px;
      height: 35px;
      color: $text-color !important;
      font-size: 14px;

      &:hover {
        background-color: $blue-l5;
      }
    }
    .email-selected {
      background: blue;
    }
  }
}
