.colors-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  .colors-container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    background: #EEF;
    padding: 15px;
    .color-error {
      color: red;
      text-align: center;
    }

    color {
      display: block;
      position: relative;
      font-family: monospace;
      text-align: center;
      padding: 10px;
    }
  }
}
