.ctr-index.act-home {
  margin: 0;
  background: $blue-l4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $blue-d5;

  font-family: 'CodenameCoder-Bold', monospace;

  .portfolio-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    .portfolio-container {
      margin-bottom: 100px;
      text-align: center;

      h1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 64px;

        text-transform: uppercase;
      }
      p:last-of-type {
        margin-bottom: 0;
        overflow: hidden;
      }
      .portfolio-btns {
        padding-top: 10px;

        a {
          display: inline-block;
          position: relative;
          transition: all 0.17s ease-out;
          margin: 0 5px;

          border: 2px solid $blue-d3;
          width: 40px;

          height: 40px;

          color: $blue-d3;
          font-size: 28px;
          line-height: 40px;
          text-align: center;

          span {
            position: absolute;
            top: -1px; right: -1px; bottom: -1px; left: -1px;

            overflow: hidden;
          }
          span:before {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0.5px;
            z-index: 1;
            transition: all 0.3s ease-out;

            width: 100%;
            height: 100%;
            font-family: "FontAwesome";
            font-size: 25px;

            line-height: 40px;
            text-align: center;
            content: "";
          }
          &.flask span:before { top: 1px; content: "\f0c3"; }
          &.github span:before { top: 2px; content: "\f09b"; }
          &.facebook span:before { top: 2px; left: -0.5px; content: "\f09a"; }
          span:after {
            position: absolute;
            transition: all 0.17s ease-in;
            background-color: $blue-l5;
            width: 40px;

            height: 40px;
            content: "";
          }
          &.flask span:after { top: 1px; left: -45px; }
          &.github span:after { top: 45px; right: 1px; left: 1px; }
          &.facebook span:after { top: 1px; left: 45px; }
          &:hover {
            span:after { top: 1px; right: 1px; left: 1px; }
            &.flask span:before { color: $dpl-purple; }
            &.github span:before { color: $github-black; }
            &.facebook span:before { color: $facebook-blue; }
          }
        }
      }
    }
  }

  #particles-js {
    width: 100%;
    height: 100%;
  }
}
