.ctr-tasks.act-index {
  .tree {
    width: 150px;

    h3 {
      margin: 0;
      margin-left: 20px;
    }

    .list-item-container {
      width: 150px;
    }
    .list-item {
      margin: 3px 0;
      padding: 4px;
      padding-left: 10px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .tasks {
    min-height: 20px;
    position: relative;

    .list-item-placeholder {
      background: $blue-d1;
      height: 30px;
      border-radius: 10px;
    }

    input, select {
      font-size: 14px;
      width: 100px;;
      padding: 5px;

      &.invalid {
        &, &:active, &:hover, &:focus, &:focus-within, &:target, &:visited, &:focus-visible {
          background-color: $danger;
        }
      }
    }

    &:not(.lists) {
      &:before {
        position: absolute;
        content: "";
        left: -5px;
        height: 100%;
        width: 2px;
        border: 1px solid white;
        border-right: none;
      }
    }
  }
  .tasks.lists {
    min-height: 500px;
    height: 100%;
    background: $blue-d5;
    border-radius: 8px;

    .list-item-container {
      width: 100%;
      height: auto;

      .list-item {
        position: relative;
        padding-right: 10px;
        padding-top: 20px;
        min-height: 50px;

        .item-name {
          & > span {
            &:not(:first-child) { margin-left: 10px; }
            &:not(:last-child) { margin-right: 10px; }
          }
        }
        .select-wrapper {
          @include bool-slider(60px);
          position: relative;

          .switch { top: 6px; }
          label {
            position: absolute;
            top: -14px;
            left: 7px;
            background: none;
            font-size: 10px;
          }
        }
        .token {
          position: absolute;
          font-size: 10px;
          top: 2px;
          right: 4px;
        }
        .type {
          position: absolute;
          font-size: 10px;
          top: 2px;
          left: 4px;
        }
        .return {
          position: absolute;
          font-size: 10px;
          bottom: 2px;
          right: 4px;
        }
      }
    }
  }
}
