.ctr-jarvis_tasks.act-new, .ctr-jarvis_tasks.act-edit {
  .tree {
    width: 150px;

    h3 {
      margin: 0;
      margin-left: 20px;
    }

    .list-item-container {
      width: 150px;
    }
    .list-item {
      cursor: pointer;
      margin: 3px 0;
      padding: 4px;
      padding-left: 10px;
      font-size: 14px;
    }
  }

  .tasks {
    position: relative;
    min-height: 20px;

    .list-item-placeholder {
      border-radius: 10px;
      background: $blue-d1;
      height: 30px;
    }

    input, select {
      padding: 5px;
      width: 100px;
      font-size: 14px;

      &.invalid {
        &, &:active, &:hover, &:focus, &:focus-within, &:target, &:visited, &:focus-visible {
          background-color: $danger;
        }
      }
    }

    &:not(.lists) {
      &:before {
        position: absolute;
        left: -5px;
        border: 1px solid white;
        border-right: none;
        width: 2px;
        height: 100%;
        content: "";
      }
    }
  }
  .tasks.lists {
    border-radius: 8px;
    background: $blue-d5;
    height: 100%;
    min-height: 500px;

    .list-item-container {
      width: 100%;
      height: auto;

      .list-item {
        position: relative;
        padding-top: 20px;
        padding-right: 10px;
        min-height: 50px;

        .item-name {
          & > span {
            &:not(:first-child) { margin-left: 10px; }
            &:not(:last-child) { margin-right: 10px; }
          }
        }
        .select-wrapper {
          @include bool-slider(60px);
          position: relative;

          .switch { top: 6px; }
          label {
            position: absolute;
            top: -14px;
            left: 7px;
            background: none;
            font-size: 10px;
          }
        }
        .delete {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          padding: 2px;
          width: 16px;
          height: 16px;
          color: $flash-alert-bg;
          font-size: 10px;
          text-align: center;

          .fa { font-weight: bold; }
        }
        .token {
          position: absolute;
          top: 2px;
          right: 18px;
          font-size: 10px;
        }
        .type {
          position: absolute;
          top: 2px;
          left: 4px;
          font-size: 10px;
        }
        .return {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 10px;
        }
      }
    }
  }
}
