.ctr-tasks.act-index {
  .tree {
    width: 150px;

    h3 {
      margin: 0;
      margin-left: 20px;
    }

    .list-field input {
      font-size: 14px;
      padding: 5px;
    }

    .list-item-container {
      width: 150px;
    }
    .list-item {
      margin: 3px 0;
      padding: 4px;
      padding-left: 10px;
      font-size: 14px;
    }
  }

  .tasks {
    min-height: 500px;

    .list-item-container {
      width: 100%;
      height: auto;

      .list-item {
        position: relative;

        .item-name {
          & > * {
            &:not(:first-of-type) { margin-left: 10px; }
            &:not(:last-of-type) { margin-right: 10px; }
          }
        }
        select {
          width: auto;
          min-width: 100px;
        }
        .token {
          position: absolute;
          font-size: 10px;
          top: 2px;
          left: 4px;
        }
        .type {
          position: absolute;
          font-size: 10px;
          top: 2px;
          right: 4px;
        }
        .return {
          position: absolute;
          font-size: 10px;
          bottom: 2px;
          left: 4px;
        }
      }
    }
  }
}
