$faded-label: rgba($base-blue, 0.7);
$faded-compl: rgba($base-complementary, 0.6);

.ctr-jarvis_tasks.act-index {

  .list-item-container {
    position: relative;

    .list-item-config {
      width: 100%;

      .status.disabled {
        position: absolute;
        right: 10px;
        font-size: 8px;
        color: rgba($danger, 0.8);
      }
    }
  }
}

.ctr-jarvis_tasks.act-new, .ctr-jarvis_tasks.act-edit {
  .modal.modal-wrapper {
    .selectable {
      width: 100%;
      padding: 15px;
      display: block;

      transition: background 0.2s;
      margin: 6px 0;
      box-shadow: 1px 1px 3px $blue-d4;
      border-radius: 5px;
      padding: 15px 40px 15px 10px;
      text-decoration: none;
      border: 1px solid $blue-l5;
      background: $blue-d5;
      color: $grey-light;

      &:hover {
        background: $blue-d3;
        cursor: pointer;
      }
      &.active {
        border-color: $base-blue;
        background: lighten($base-blue, 30%);
      }
    }
  }
  .drawer-tree {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transition: left 0.5s;
    width: 150px;

    .tab {
      position: absolute;
      top: 200px;
      left: -25px;
      border-radius: 0 15px 15px 0;
      background: $blue-d2;
      width: 25px;
      height: 50px;

      &:before,
      &:after {
        position: absolute;
        top: 10px;
        left: 4px;
        border-radius: 10px;
        background-color: $blue-l3;
        width: 5px;
        height: 30px;
        content: "";
      }
      &:after { left: 14px; }
    }

    .wrapper {
      box-sizing: border-box;
      background: $blue-d5;
      padding: 3px;
      padding-bottom: 100px; // Offset the console
      width: 100%;
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    h3 {
      margin: 0;
      margin-left: 20px;
    }

    .list-item-container {
      width: 100%;
    }
    .list-item {
      position: relative;
      cursor: pointer;
      margin: 3px 0;
      padding: 4px;
      padding-left: 10px;
      font-size: 14px;

      .handle {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: move;
      }
    }

    @include max(900px) {
      &.collapsed {
        left: -150px;

        .tab {
          left: 150px
        }
      }
    }
  }

  .tasks {
    position: relative;
    min-height: 10px;

    &.pending-drop {
      min-height: 50px;
    }

    .list-item-placeholder {
      border-radius: 10px;
      background: $blue-d1;
      height: 30px;
    }

    input, select {
      padding: 5px;
      width: 100px;
      font-size: 14px;

      &:has(> option[value="input"]:checked) {
        width: 15px;
        padding-left: 15px;
      }
      &.invalid {
        &, &:active, &:hover, &:focus, &:focus-within, &:target, &:visited, &:focus-visible {
          background-color: $danger;
        }
      }
    }

    textarea {
      white-space: nowrap;
      overflow-x: auto;
      font-size: 10px;
    }

    &:not(.lists) {
      &:before {
        position: absolute;
        left: -5px;
        border: 1px solid white;
        border-right: none;
        width: 2px;
        height: 100%;
        content: "";
      }
    }
  }
  .tasks.lists {
    border-radius: 8px;
    background: $blue-d5;
    padding-bottom: 500px;
    height: 100%;

    .list-item-container {
      width: 100%;
      height: auto;

      .list-item {
        position: relative;
        padding-right: 10px;
        min-height: 50px;

        &.task-running, &.task-starting {
          background: $base-complementary;
        }
        .item-name {
          & > span {
            &:not(:last-child) { margin-right: 10px; }
          }
        }
        .select-wrapper {
          @include bool-slider(60px);
          position: relative;

          .switch { top: 6px; }
          label {
            position: absolute;
            top: -14px;
            left: 7px;
            background: none;
            font-size: 10px;

            .shorttype {
              color: $grey-blue;
            }
            .select-name {
              white-space: nowrap;
            }
          }
        }
        .duplicate {
          position: absolute;
          top: 0;
          left: 0;
          cursor: copy;
          padding: 2px;
          width: 16px;
          height: 16px;
          color: $grey-blue;
          font-size: 10px;
          text-align: center;
          z-index: 2;

          .fa { font-weight: bold; }
        }
        .delete {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          padding: 2px;
          width: 16px;
          height: 16px;
          color: rgba($flash-alert-bg, 0.7);
          font-size: 10px;
          text-align: center;

          .fa { font-weight: bold; }
        }
        .token {
          position: absolute;
          top: 2px;
          right: 18px;
          color: $faded-label;
          font-size: 10px;
          font-style: italic;
        }
        .type {
          position: absolute;
          bottom: 2px;
          left: 4px;
          color: $faded-label;
          font-size: 10px;
        }
        .return {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 10px;

          .return-label {
            padding-right: 5px;
            color: $faded-label;
            font-style: italic;
          }
          .return-type {
            color: $faded-compl;
            font-weight: bold;
          }
        }
      }
    }
  }

  .jil-console {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: $blue-d5;
    max-width: 100%;
    height: 100px;

    code {
      display: block;
      position: relative;
      margin: 0 auto;
      background: none;
      width: 600px;
      max-width: 100%;
      height: 100%;
      color: lime;
      white-space: pre-wrap;
    }
  }
}
