html:has(.ctr-tasks.act-index) {
  &.dark-mode,
  &,
  body {
    overscroll-behavior: auto none;
    background: #21374F;

    .lists-index-container .important-list-items .list-item,
    .lists-index-container .list-items .list-item,
    .lists-index-container .lists .list-item {
      background: #013080;

      &:hover {
        background: darken(#013080, 8%);
      }
    }
  }
}

.list-container,
.lists-index-container {
  padding-bottom: 40px;
  color: $blue-d5;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  font-weight: bold;

  &.no-padding {
    padding: 0;
  }

  .btn-container {
    padding: 0 3px;
  }

  .important-container,
  .list-item-container,
  .list-item-options {
    position: relative;
    color: $text-color;
    user-select: none;

    .danger {
      color: $danger;
    }

    .list-item-handle {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: grab;
      width: 30px;
      height: 100%;

      &:active {
        cursor: grabbing;
      }
    }

    .settings-btn {
      position: absolute;
      top: 25px;
      right: 0;
      z-index: 2;
      width: 40px;
      line-height: 25px;
      text-align: center;
    }

    .category-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      width: 40px;
      line-height: 25px;
      text-align: center;
    }

    .item-name big {
      display: block;
      font-size: 26px;
    }

    .list-item-brief {
      display: flex;
      position: absolute;
      bottom: 2px;
      left: 5px;
      right: 5px;
      justify-content: space-between;
      z-index: 2;
      color: $text-color;
      font-size: 12px;
    }

    .list-item-config {
      position: absolute;
      top: 2px;
      left: 5px;
      z-index: 2;
      color: $text-color;
      font-size: 12px;
      width: 100%;

      & > * {
        display: inline-block;
        vertical-align: top;
      }

      .important {
        width: 14px;
        height: 14px;
        color: gold;
      }

      .details {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f0c9";
        }
      }

      .locked {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f023";
        }
      }

      .status.disabled {
        position: absolute;
        right: 10px;
        font-size: 8px;
        color: rgba($danger, 0.8);
      }

      .recurring {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f021";
        }
      }
    }
  }

  .list-error {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.6;
    z-index: 999;
    border: 2px solid red;
    border-radius: 8px;
    background-color: pink;
    padding: 10px;
    color: $blue-d5;
  }

  .list-title,
  .lists-title {
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
  }

  .list-description {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .collaborators {
    p {
      margin: 0;
      font-size: 14px;
    }
    span.invited {
      color: $grey-blue;
    }
  }

  .new-list-item-form {
    .list-field {
      input.new-list-item {
        border: 1px solid $text-color;
        border-radius: 4px;
        padding: 5px 10px;
        width: 100%;
        max-width: 600px;
        height: auto;
        font-size: 16px;
      }
    }
  }

  .important-list-items {
    border-bottom: 1px solid $text-color;
    padding-bottom: 10px;

    .list-item-handle {
      display: none;
    }
  }
  .list-section-tab .section-header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
  }
  .important-list-items,
  .list-items,
  .lists {
    input[type="checkbox"] {
      display: none;
    }
    .list-item {
      display: block;
      position: relative;
      transition: background 0.2s;
      margin: 6px 0;
      box-shadow: 1px 1px 3px $blue-d4;
      border-radius: 5px;
      background: $blue-l5;
      padding: 15px 40px 15px 10px;
      padding-left: 25px; // Make space for draggable handle
      color: $text-color;
      text-decoration: none;

      .checkbox-wrapper {
      }
      .item-name {
        .markdown-container {
          font-family: "Comic Sans MS", sans-serif;
        }
      }
      &:hover {
        text-decoration: none;
        &:not(.nohover) {
          background: darken($blue-l5, 10%);
        }
      }
    }
    &:not(.survey-questions) {
      label {
        background: $blue-l5;
      }

      input[type="checkbox"]:checked + label {
        border-color: red;
        background: pink;
        color: red;
        text-decoration: line-through;
      }
      .list-item-options {
        input[type="checkbox"]:checked + label {
          border-color: $base-blue;
          background: lighten($base-blue, 30%);
          color: $base-blue;
          text-decoration: none;
        }
      }
    }
  }
  .important-list-items {
    .list-item {
      padding: 15px 40px 15px 10px;
    }
  }
}

.list-container .list-items .list-item-container.item-placeholder .list-item {
  color: rgba($text-color, 0.5);
  background: rgba($blue-l5, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dark-mode {
  .important-container,
  .list-item-container,
  .list-item-options {
    color: $blue-l5;
    .list-item-config {
      color: $blue-l5;
    }
  }
  .list-container,
  .lists-index-container {
    color: $grey-light;

    .important-list-items,
    .list-items,
    .lists {
      border-color: $grey-light;

      .list-item {
        border: 1px solid $blue-l5;
        background: $blue-d5;
        color: $grey-light;

        &:hover:not(.nohover) {
          background: $blue-d3;
        }
      }

      &:not(.survey-questions) {
        input[type="checkbox"]:checked + label {
          background: pink;

          .list-item-access {
            color: red;
          }
        }
      }
      .list-item-options {
        input[type="checkbox"]:checked + label {
          border-color: $base-blue;
          background: lighten($base-blue, 30%);
        }
      }
    }
  }
  .list-container .list-items .list-item-container.item-placeholder .list-item {
    color: rgba($grey-light, 0.5);
    border-color: rgba($grey-light, 0.5);
    background: rgba($blue-d5, 0.5);
  }
}
