.black { background: black; }

.list-container, .lists-index-container {
  padding-bottom: 40px;
  font-family: "gunny_rewrittenregular", "claire_handregular", "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;

  .btn-container {
    padding: 0 3px;
  }

  .list-item-container {
    position: relative;

    .list-item-handle {
      z-index: 1;
      position: absolute;
      right: 5px;
      top: 25px;
    }
  }

  .list-error {
    background-color: pink;
    border: 2px solid red;
    border-radius: 8px;
    color: black;
    padding: 20px;
  }

  .list-title, .lists-title {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
  }

  .list-description {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .list-field {
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    text-align: center;

    input.new-list-item {
      box-sizing: border-box;
      width: 100%;
      max-width: 600px;
      font-size: 24px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 2px;
      border-color: black;
    }
  }

  .list-items, .lists {
    input[type=checkbox] { display: none; }
    .list-item {
      text-decoration: none;
      position: relative;
      display: block;
      border: 1px solid black;
      border-bottom-color: white;
      padding: 20px 40px 20px 10px;

      .checkbox-wrapper {}
      .item-name {}
      &:hover {
        text-decoration: none;
        background: lighten(black, 10%);
      }
    }
    label { background: black; }

    input[type=checkbox]:checked + label {
      color: red;
      background: pink;
      border-color: red;
      text-decoration: line-through;

      &:after {
        content: "\2713 ";
        position: absolute;
        line-height: 1;
        font-size: 35px;
        top: 10px;
        left: 10px;
      }
    }
  }
}
