.list-container, .lists-index-container {
  padding-bottom: 40px;
  color: $blue-d5;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  font-weight: bold;

  &.no-padding { padding: 0; }

  .btn-container {
    padding: 0 3px;
  }

  .important-container, .list-item-container, .list-item-options {
    position: relative;
    user-select: none;
    color: $text-color;

    .list-item-handle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grab;

      &:active { cursor: grabbing; }
    }

    .settings-btn {
      position: absolute;
      top: 25px;
      right: 0;
      z-index: 2;
      width: 40px;
      line-height: 25px;
      text-align: center;
    }

    .category-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 40px;
      line-height: 25px;
      text-align: center;
      cursor: pointer;
    }

    .item-name big {
      display: block;
      font-size: 26px;
    }

    .list-item-config {
      color: $text-color;
      position: absolute;
      top: 2px;
      left: 5px;
      z-index: 2;
      font-size: 12px;

      & > * {
        display: inline-block;
        vertical-align: top;
      }

      .important {
        color: gold;
        width: 14px;
        height: 14px;
      }

      .details {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f0c9";
        }
      }

      .locked {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f023";
        }
      }

      .recurring {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f021";
        }
      }
    }
  }

  .list-error {
    z-index: 999;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid red;
    border-radius: 8px;
    background-color: pink;
    opacity: 0.6;
    padding: 10px;
    color: $blue-d5;
  }

  .list-title, .lists-title {
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
  }

  .list-description {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .collaborators {
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .new-list-item-form {
    .list-field {
      input.new-list-item {
        border-radius: 4px;
        border: 1px solid $text-color;
        padding: 5px 10px;
        width: 100%;
        max-width: 600px;
        height: auto;
        font-size: 16px;
      }
    }
  }

  .important-list-items {
    border-bottom: 1px solid $text-color;
    padding-bottom: 10px;

    .list-item-handle { display: none; }
  }
  .important-list-items, .list-items, .lists {
    input[type=checkbox] { display: none; }
    .list-item {
      transition: background 0.2s;
      display: block;
      position: relative;
      margin: 6px 0;
      box-shadow: 1px 1px 3px $blue-d4;
      border-radius: 5px;
      background: $blue-l5;
      padding: 15px 40px 15px 10px;
      padding-left: 25px; // Make space for draggable thing
      color: $text-color;
      text-decoration: none;

      .checkbox-wrapper {}
      .item-name {}
      &:hover {
        background: darken($blue-l5, 10%);
        text-decoration: none;
      }
    }
    &:not(.survey-questions) {
      label { background: $blue-l5; }

      input[type=checkbox]:checked + label {
        border-color: red;
        background: pink;
        color: red;
        text-decoration: line-through;
      }
      .list-item-options {
        input[type=checkbox]:checked + label {
          border-color: $base-blue;
          background: lighten($base-blue, 30%);
          color: $base-blue;
          text-decoration: none;
        }
      }
    }
  }
  .important-list-items {
    .list-item {
      padding: 15px 40px 15px 10px;
    }
  }
}

@keyframes pulse {
  0%   { transform: scale(1);   }
  25%  { transform: scale(1.1); }
  50%  { transform: scale(1.3); }
  75%  { transform: scale(1.1); }
  100% { transform: scale(1);   }
}

.dark-mode {
  .important-container, .list-item-container, .list-item-options {
    color: $blue-l5;
    .list-item-config {
      color: $blue-l5;
    }
  }
  .list-container, .lists-index-container {
    color: $grey-light;

    .important-list-items, .list-items, .lists {
      border-color: $grey-light;

      .list-item {
        border: 1px solid $blue-l5;
        background: $blue-d5;
        color: $grey-light;

        &:hover {
          background: $blue-d3;
        }
      }
      input[type=checkbox]:checked + label {
        background: pink;

        .list-item-access {
          color: red;
        }
      }
      .list-item-options {
        input[type=checkbox]:checked + label {
          border-color: $base-blue;
          background: lighten($base-blue, 30%);
        }
      }
    }
  }
}
