.black { background: black; }

.list-container, .lists-index-container {
  padding-bottom: 40px;
  font-family: "gunny_rewrittenregular", "claire_handregular", "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;

  .btn-container {
    padding: 0 3px;
  }

  .important-container, .list-item-container, .list-item-options {
    user-select: none;
    position: relative;

    .list-item-handle {
      z-index: 2;
      position: absolute;
      line-height: 50px;
      width: 30px;
      text-align: center;
      top: 0;
      right: 0;
    }

    .settings-btn {
      z-index: 2;
      position: absolute;
      line-height: 20px;
      font-size: 12px;
      width: 30px;
      text-align: center;
      top: 45px;
      right: 0;
    }

    .item-name big {
      font-size: 26px;
      display: block;
    }

    .list-item-config {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 12px;
      z-index: 2;

      & > * {
        display: inline-block;
        vertical-align: top;
      }

      .important {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background: radial-gradient(circle at 5px 8px, lighten($flash-alert-bg, 40%), $flash-alert-bg);
        animation: 1s ease-out pulse infinite;
      }

      .locked {
        width: 14px;
        position: relative;

        &:after {
          position: absolute;
          top: 3px;
          left: 3px;
          text-align: center;
          content: "\f023";
          font-family: "FontAwesome";
        }
      }

      .recurring {
        width: 14px;
        position: relative;

        &:after {
          position: absolute;
          top: 3px;
          left: 3px;
          text-align: center;
          content: "\f021";
          font-family: "FontAwesome";
        }
      }
    }
  }

  .list-error {
    background-color: pink;
    border: 2px solid red;
    border-radius: 8px;
    color: black;
    padding: 20px;
  }

  .list-title, .lists-title {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
  }

  .list-description {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .new-list-item-form {
    .list-field {
      input.new-list-item {
        width: 100%;
        height: auto;
        max-width: 600px;
        font-size: 24px;
        padding: 5px 10px;
        border-radius: 2px;
        border-color: black;
      }
    }
  }

  .important-list-items {
    border-bottom: 1px solid white;
    padding-bottom: 10px;

    .list-item-handle { display: none; }
  }
  .important-list-items, .list-items, .lists {
    input[type=checkbox] { display: none; }
    .list-item {
      text-decoration: none;
      position: relative;
      display: block;
      border: 1px solid black;
      border-bottom-color: white;
      padding: 20px 40px 20px 10px;

      .checkbox-wrapper {}
      .item-name {}
      &:hover {
        text-decoration: none;
        background: lighten(black, 10%);
      }
    }
    label { background: black; }

    input[type=checkbox]:checked + label {
      color: red;
      background: pink;
      border-color: red;
      text-decoration: line-through;

      &:after {
        content: "\f00c";
        font-family: "FontAwesome";
        position: absolute;
        line-height: 1;
        font-size: 35px;
        top: 0px;
        right: 20px;
      }
    }
    .list-item-options {
      input[type=checkbox]:checked + label {
        color: $base-blue;
        border-color: $base-blue;
        background: lighten($base-blue, 30%);
        text-decoration: none;

        &:after {

        }
      }
    }
  }
}

@keyframes pulse {
  0%   { transform: scale(1);   }
  25%  { transform: scale(1.1); }
  50%  { transform: scale(1.3); }
  75%  { transform: scale(1.1); }
  100% { transform: scale(1);   }
}
