.list-container, .lists-index-container {
  padding-bottom: 40px;
  color: $blue-5;
  font-family: "gunny_rewrittenregular", "claire_handregular", "Comic Sans MS", sans-serif;
  font-size: 20px;
  font-weight: bold;

  .btn-container {
    padding: 0 3px;
  }

  .important-container, .list-item-container, .list-item-options {
    position: relative;
    user-select: none;

    .list-item-handle {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 30px;
      line-height: 50px;
      text-align: center;
    }

    .settings-btn {
      position: absolute;
      top: 45px;
      right: 0;
      z-index: 2;
      width: 30px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }

    .item-name big {
      display: block;
      font-size: 26px;
    }

    .list-item-config {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 2;
      font-size: 12px;

      & > * {
        display: inline-block;
        vertical-align: top;
      }

      .important {
        animation: 1s ease-out pulse infinite;
        border-radius: 100%;
        background: radial-gradient(circle at 5px 8px, lighten($flash-alert-bg, 40%), $flash-alert-bg);
        width: 14px;
        height: 14px;
      }

      .details {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 3px;
          left: 3px;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f0c9";
        }
      }

      .locked {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 3px;
          left: 3px;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f023";
        }
      }

      .recurring {
        position: relative;
        width: 14px;

        &:after {
          position: absolute;
          top: 3px;
          left: 3px;
          font-family: "FontAwesome";
          text-align: center;
          content: "\f021";
        }
      }
    }
  }

  .list-error {
    border: 2px solid red;
    border-radius: 8px;
    background-color: pink;
    padding: 20px;
    color: $blue-5;
  }

  .list-title, .lists-title {
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
  }

  .list-description {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .collaborators {
    p {
      margin: 0;
      font-size: 14px;
      line-height: 1;
    }
  }

  .new-list-item-form {
    .list-field {
      input.new-list-item {
        border-radius: 4px;
        border-color: $blue-5;
        padding: 5px 10px;
        width: 100%;
        max-width: 600px;
        height: auto;
        font-size: 24px;
      }
    }
  }

  .important-list-items {
    border-bottom: 1px solid $blue-5;
    padding-bottom: 10px;

    .list-item-handle { display: none; }
  }
  .important-list-items, .list-items, .lists {
    input[type=checkbox] { display: none; }
    .list-item {
      display: block;
      position: relative;
      border: 1px solid $blue-5;
      border-bottom-color: $blue-5;
      padding: 20px 40px 20px 10px;
      text-decoration: none;

      .checkbox-wrapper {}
      .item-name {}
      &:hover {
        background: darken($blue-1, 10%);
        text-decoration: none;
      }
    }
    label { background: $blue-1; }

    input[type=checkbox]:checked + label {
      border-color: red;
      background: pink;
      color: red;
      text-decoration: line-through;

      &:after {
        position: absolute;
        top: 0px;
        right: 20px;
        font-family: "FontAwesome";
        font-size: 35px;
        line-height: 1;
        content: "\f00c";
      }
    }
    .list-item-options {
      input[type=checkbox]:checked + label {
        border-color: $base-blue;
        background: lighten($base-blue, 30%);
        color: $base-blue;
        text-decoration: none;

        &:after {

        }
      }
    }
  }
}

@keyframes pulse {
  0%   { transform: scale(1);   }
  25%  { transform: scale(1.1); }
  50%  { transform: scale(1.3); }
  75%  { transform: scale(1.1); }
  100% { transform: scale(1);   }
}

.black { background: $blue-5; }
.white {
  background: $blue-5;

  .list-container, .lists-index-container {
    color: $blue-5;

    .important-list-items, .list-items, .lists {
      border-color: $blue-5;

      .list-item {
        border: 1px solid $blue-5;

        &:hover {
          background: darken(white, 10%);
        }
      }
      label { background: $blue-1; }
      input[type=checkbox]:checked + label {
        background: pink;
      }
      .list-item-options {
        input[type=checkbox]:checked + label {
          border-color: $base-blue;
          background: lighten($base-blue, 30%);
        }
      }
    }
    .new-list-item-form {
      .list-field {
        input.new-list-item {
          // border-color: gg;
        }
      }
    }
  }
}
