.ctr-summoners_wars {
  .monster-selector {
    width: 250px;
    display: block;
  }
  .crit {
    display: block;
    font-weight: bold;
  }
  // .js-searchable-menu
  // .searchable-loading-container
  // .js-searchable-option-wrapper
  // &.searchable-toSelect
}
