.act-playground {
  padding-bottom: 50px;
  .app-card-container {
    .project-wrapper {
      position: relative;
      transition: border-color 0.3s, border-width 0.3s, margin 0.3s;
      display: block;
      margin: 10px 0;
      border: 1px solid black;
      border-radius: 2px;
      padding: 5px;
      text-decoration: none;
      box-sizing: padding-box;

      .json-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: #ECD63F;
        color: #262724;
        border-radius: 4px;
        font-size: 10px;
        padding: 7px 3px 7px 5px;
        text-align: center;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background: darken(#ECD63F, 10%);
        }
      }
      &:hover {
        margin: 8px -2px;
        border-color: $blue-3;
        border-width: 3px;
      }
      .project-title {
        text-align: center;
        font-size: 18px;
        text-shadow: 0 0 2px $blue-3;
        color: darken($grey-blue, 15%);
      }
      .project-description {
        padding: 5px 25px;
        font-family: "gunny_rewrittenregular", "claire_handregular", "Comic Sans MS", sans-serif;
      }
    }
  }
}
