.html-ctr-quick_actions.html-act-show,
.html-ctr-meal_builders.html-act-show {
  @keyframes blink {
    from {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    to {
      visibility: visible;
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes jiggle {
    0% {
      transform: rotate(-2deg);
      animation-timing-function: ease-in;
    }
    50% {
      transform: rotate(2.5deg);
      animation-timing-function: ease-out;
    }
  }

  &,
  body {
    margin: 0;
    background: darken($blue-d5, 5%);
    padding: 10px;
    height: 100%;
    overflow: auto;
    color: $grey-light;
    font-family: terminess, monospace;

    &,
    * {
      box-sizing: border-box;
    }
  }

  .hidden {
    display: none !important;
  }

  .settings {
    position: absolute;
    top: 30px;
    left: 30px;

    i {
      cursor: pointer;
      font-size: 32px;
    }
  }

  .settings-wrapper {
    margin: 30px;
    text-align: center;
  }

  i.emoji {
    font-style: normal;
  }
  .title i.emoji {
    position: absolute;
    left: calc(50% - 32px);
    font-size: 64px;
    font-style: normal;
    letter-spacing: -64px;
    line-height: 0;
    text-align: center;
    white-space: nowrap;

    img,
    svg {
      position: absolute;
      margin-top: -20px; // min-widget height / 4 (emoji is centered)
      margin-left: 8px; // (48 - 32)/2
      height: 48px;
    }
  }

  .widget-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 675px;
    height: 100%;

    .delete-widget,
    .edit-widget {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: rgba($danger, 0.2);
      padding: 10px;
      color: $grey-light;
      font-size: 32px;
      text-decoration: none;

      &.edit-widget {
        background: rgba($base-blue, 0.2);
      }
    }
    .widget-holder {
      position: relative;
      align-self: center;
      transition: box-shadow 0.2s;
      margin: 10px;
      box-shadow: 1px 1px 3px 0 $grey-blue, inset 0 0 0 0 $grey-blue;
      border: 1px solid $grey-blue;
      border-radius: 8px;
      background: darken($blue-d5, 5%);
      width: 150px;
      height: 150px;

      .widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;

        .lines {
          font-size: 12px;
        }

        &[data-type="monitor"] {
          align-items: start;
          justify-content: start;
          text-align: left;

          .lines {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
          }
        }

        &[data-error="true"],
        &[data-task-text-wrap="true"] {
          .lines {
            text-overflow: unset;
            white-space: pre-wrap;
          }
        }
        &[data-error="true"],
        &[data-task-center-text="true"] {
          text-align: center;
        }
        &[data-error="true"],
        &[data-task-vert-center="true"] {
          justify-content: center;
        }

        .loading {
          position: absolute;
          top: 2.4px;
          left: 3.7px;
          animation: spin 1s linear infinite;
          width: 10px;
          height: 10px;

          .ti {
            position: absolute;
            top: -3px;
            left: 0;
            width: 0;
            height: 0;
            color: $grey-light;
            font-size: 10px;
            text-align: left;
          }
        }
        .error {
          position: absolute;
          bottom: 5px;
          left: 5px;
          color: $danger;
          font-size: 12px;
        }
        .disconnected {
          position: absolute;
          top: 5px;
          left: 6px;

          &:before {
            position: absolute;
            border-radius: 100%;
            background: $danger;
            width: 5px;
            height: 5px;
            content: "";
          }
        }
        .refresh {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          width: 30px;
          height: 30px;

          color: $grey-light;
          font-size: 24px;
          line-height: 25px;
        }
        .last-sync {
          position: absolute;
          right: 5px;
          bottom: 5px;
          color: $grey-light;
          font-size: 12px;
        }
        .blip {
          position: absolute;
          top: -5px;
          right: -5px;

          border-radius: 16px;
          background: $danger;
          min-width: 16px;
          max-width: 40px;
          height: 16px;
          overflow: hidden;
          color: $grey-light;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          text-align: center;
        }
      }

      &:active,
      &:hover {
        box-shadow: 0 0 0 0 $grey-blue, inset 2px 2px 5px 0 $grey-blue;
      }

      &.empty {
        box-shadow: none;
        border: none;
      }

      // .draggable-source--is-dragging -- placeholder
      // .draggable-mirror -- held item (ghost)
      &.jiggle:not(&.draggable-mirror) {
        animation: jiggle 0.3s alternate infinite;
        cursor: grab;
        &:nth-of-type(2n) {
          animation-delay: -0.75s;
        }
        &:nth-of-type(3n) {
          animation-delay: -0.31s;
        }
        &:nth-of-type(4n) {
          animation-delay: -0.67s;
        }
        &:nth-of-type(5n) {
          animation-delay: -0.27s;
        }
      }
      &.draggable-source--is-dragging {
        opacity: 0.3;
      }
      /* .draggable-mirror { cursor: grabbing; } */
    }
  }

  .flash {
    position: fixed;
    top: 10px;
    left: -300px;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    background: $grey-dark;
    padding: 10px;
    color: $grey-light;

    &.show {
      left: 10px;
    }
  }

  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 1;
    z-index: 10;
    transition: top 0.3s ease, opacity 0.3s ease;
    pointer-events: auto;

    .modal-content {
      box-shadow: 1px 1px 4px 2px $grey-dark, inset 0 0 0 0 $grey-dark;
      border-radius: 12px;
      background: $grey-blue;
      width: 100%;
      height: 100%;
      overflow: auto;
      color: $text-color;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 35px;
      height: 35px;
      color: $danger;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
    }

    .status {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      box-shadow: 0px 0px 3px 2px $grey-dark;
      border-radius: 5px;
      background: red;
      width: 5px;
      height: 5px;

      &.connected {
        background: green;
      }
    }

    &.widget-modal .modal-content {
      position: relative;
      padding: 30px;

      .widget-wrapper {
        .widget-holder {
          position: relative;
          margin: 8px;
          box-shadow: 1px 1px 3px 0 $grey-dark, inset 0 0 0 0 $grey-dark;
          border: 1px solid $grey-dark;
          background: $grey-blue;
          width: 80px;
          height: 80px;
          color: $blue-d4;
          font-size: 16px;
          font-weight: bold;

          .widget {
          }

          .subtitle {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
          }

          &:active,
          &:hover {
            box-shadow: 0 0 0 0 $grey-dark, inset 2px 2px 5px 0 $grey-dark;
          }

          &.hidden {
            &,
            &:active,
            &:hover {
              box-shadow: none;
              border: none;
            }
          }
        }
      }
    }

    &#widget-form {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 40px auto;
      width: 400px;
      max-width: 100%;
      height: calc(100% - 80px);

      form {
        margin: 30px;
        font-size: 28px;

        select {
          width: 100%;
        }
      }
    }

    &#command-modal {
      bottom: 20px;
      right: 20px;

      .modal-content {
        display: flex;
        flex-direction: column;
        font-family: "Arial Unicode MS", "Segoe UI", "Helvetica Neue",
          "Open Sans", "Roboto";

        .messages {
          display: flex;
          flex-direction: column-reverse;
          flex-grow: 1;
          overflow: auto;

          .message {
            margin: 5px 10px;
            box-shadow: 2px 2px 3px 0 $grey-dark;
            border-radius: 8px;
            padding: 8px;
            color: $grey-light;
            white-space: pre-wrap;

            &.in {
              margin-right: 50px;
              background: $grey-dark;
            }
            &.out {
              margin-left: 50px;
              background: $base-blue;
            }
          }
        }
        .text-entry {
          padding: 5px;

          input {
            box-sizing: border-box;
            margin: 4px auto;
            box-shadow: 2px 2px 2px $grey-blue;
            border: 1px solid $grey-blue;

            border-radius: 4px;
            background: $blue-l5;
            padding: 8px;
            width: 100%;
            color: $text-color;
            font-size: 16px;
          }
        }
      }
    }

    &:not(.show) {
      top: -280px;
      opacity: 0;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 550px) {
    .widget-wrapper {
      .widget-holder.empty {
        display: none;
      }
    }
  }
}
