.rlc-container {
  .rlc-tooltip {
    position: absolute;
    border: 0;
    border-radius: 6px;
    background: lightsteelblue;
    padding: 4px;
    width: auto;
    max-width: 200px;
    height: auto;
    pointer-events: none;
    font-size: 12px;
    text-align: center;

    h4,
    i,
    small {
      display: block;
      margin: 0;
    }
  }
}

.rlc-form {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  text-align: center;

  * {
    font-family: Arial;
  }

  input,
  select {
    padding: 3px 2px;
    width: 200px;
    height: auto;
    font-size: 16px;
    text-align: center;
  }

  input[type=checkbox] {
    width: auto;
  }

  .rlc-input-coord {
    width: 60px;
  }

  .rlc-input-title {
    width: 100px;
  }

  .clear-btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background: lightgrey;
    padding: 2px;
  }
}
