.rlc-container {
  .rlc-tooltip {
    position: absolute;
    border: 0;
    border-radius: 6px;
    background: lightsteelblue;
    padding: 4px;
    width: auto;
    max-width: 200px;
    height: auto;
    pointer-events: none;
    font-family: Arial;
    font-size: 12px;
    text-align: center;

    h4,
    i,
    small {
      display: block;
      margin: 0;
    }
  }
}

[rlc-color="Waystone"] {
  fill: #FFA500;
}

[rlc-color="Black Dragon"] {
  fill: #000;
}

[rlc-color="Red Dragon"] {
  fill: #F00;
}

[rlc-color="Green Dragon"] {
  fill: #3C3;
}

[rlc-color="White Dragon"] {
  fill: #CCC;
}

[rlc-color="Blue Dragon"] {
  fill: #03C;
}

[rlc-color="Book"] {
  fill: #930;
}

[rlc-color="Player Base"] {
  fill: #A569BD;
}

[rlc-color="Other"] {
  fill: #F7DC6F;
}

.rlc-form {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  text-align: center;

  * {
    font-family: Arial;
  }

  input,
  select {
    padding: 3px 2px;
    width: 200px;
    height: auto;
    font-size: 16px;
    text-align: center;
  }

  input[type=checkbox] {
    width: auto;
  }

  svg {
    width: 10px;
    height: 10px;

    circle {
      r: 5;
      cx: 5;
      cy: 5;
    }
  }

  .rlc-input-coord {
    width: 60px;
  }

  .rlc-input-title {
    width: 100px;
  }

  .clear-btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background: lightgrey;
    padding: 2px;
  }
}
