.ctr-surveys, .ctr-prompts {
  .lists-index-container .list-items.survey-questions {
    input[type=checkbox], input[type=radio] { display: none; }
    input[type=checkbox]:hover:not(:checked) + label, input[type=radio]:hover:not(:checked) + label {
      background: $blue-d3;
    }
    input[type=checkbox]:checked + label, input[type=radio]:checked + label {
      transition: color, background 0.3s;
      background: $base-blue;
      color: $blue-l5;
    }
  }

  .centered-options {
    display: flex;

    span:nth-of-type(1) {
      text-align: right;
    }
    span:nth-of-type(1), span:nth-of-type(3) {
      flex: 1;
    }
    span:nth-of-type(2) {
      padding: 0 5px;
    }
  }
}
