.ctr-surveys, .ctr-jil_prompts {
  .lists-index-container .list-items.survey-questions {
    input[type=checkbox] { display: none; }
    input[type=checkbox]:hover:not(:checked) + label {
      background: $blue-d3;
    }
    input[type=checkbox]:checked + label {
      transition: color, background 0.3s;
      background: $base-blue;;
      color: $blue-l5;
    }
  }
}
