<% content_for :head do %>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    //   var rlc_map = RLCraftSVG.getMap()
    //
    //   rlc_map.add_points()
    })
  </script>
<% end %>

<div id="calendar-svg-wrapper">
</div>
