/* line 1, /home/rails/Portfolio/app/assets/stylesheets/clocks.css.scss */
#clocks {
  border: 6px groove green;
  margin: 30px;
}
/* line 1, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#clocks, #flashcards {
  position: absolute;
}

/* line 5, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.highlight {
  background: #FEEDBB;
}

/* line 9, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashcards {
  right: 0;
}

/* line 13, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#options {
  margin-left: 140px;
}

/* line 17, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults {
  position: relative;
  margin: 10px 0 10px 75px;
  width: 250px;
  height: 150px;
  border: gray 3px ridge;
}
/* line 24, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults #rule, #searchResults #left, #searchResults #right {
  position: absolute;
}
/* line 27, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults #rule {
  left: 125px;
}
/* line 30, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults #left {
  white-space: nowrap;
  padding: 10px;
  width: 105px;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 38, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults #right {
  white-space: nowrap;
  padding: 10px;
  left: 125px;
  width: 105px;
  height: 120px;
  overflow-y: auto;
}
/* line 46, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults .cell {
  height: 20px;
  padding-left: 3px;
  border: 1px black solid;
  overflow-x: hidden;
}
/* line 52, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#searchResults .cell:hover {
  background: #FEEDBB;
  cursor: pointer;
}

/* line 58, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard {
  margin: 0 20px 20px 20px;
  width: 400px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0 0 5px #000;
}
/* line 64, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard #cardrule {
  list-style: none;
  line-height: 12px;
}
/* line 69, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard #flashcard-title {
  border-bottom: 2px #FF7B7B solid;
  font-weight: bold;
  background: transparent;
}
/* line 74, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .flashcard-read-title {
  height: 23px;
}
/* line 77, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .flashcard-edit-title {
  height: 25px;
}
/* line 81, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard #flashcard-line {
  border-bottom: 2px #A8ABFF solid;
  height: 20px;
}
/* line 86, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .flashcard-class {
  font-family: "Comic Sans MS";
  padding-right: 21px;
  padding-left: 8px;
  font-size: 16px;
  width: 371px;
  border: none;
}
/* line 93, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .flashcard-class:focus {
  outline: 0;
}
/* line 98, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .center {
  text-align: center;
}
/* line 102, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .flashcard-btn {
  position: absolute;
  right: 0;
  padding: 2px;
  width: 14px;
  height: 14px;
}
/* line 109, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .jsflip-btn {
  margin: 6px 3px 0 0;
}
/* line 112, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .center-btn {
  margin: 1px 3px 0 0;
}
/* line 115, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .check {
  display: none;
}
/* line 118, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .check + label {
  display: inline-block;
}
/* line 121, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .check:checked + label {
  background-color: #BBB;
}
/* line 124, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .back-body {
  padding: 20px;
  height: 207px;
  width: 351px;
}
/* line 129, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .back-textbox {
  position: absolute;
  background: transparent;
  top: 18px;
  left: 20px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  overflow: hidden;
}
/* line 142, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
#flashCard .back-textbox:focus {
  outline: 0;
}

/* line 148, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.flashcard-container {
  width: 400px;
  height: 240px;
  position: relative;
  margin: 10px 50px 10px 0;
}

/* line 155, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.flashcard-container.flip .card {
  -webkit-transform: rotateY(180deg) translateX(-200px);
  -moz-transform: rotateY(180deg) translateX(-200px);
}

/* line 160, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.flashcard-container .card {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100px 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transform-origin: 100px 100%;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.6s;
}

/* line 173, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.flashcard-container .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 181, /home/rails/Portfolio/app/assets/stylesheets/flashcard.css.scss */
.flashcard-container .card .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  background: white;
}
/* line 1, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests {
  border: black 2px solid;
  position: absolute;
  top: 200px;
  left: 50px;
  width: 400px;
  height: 250px;
}
/* line 9, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-inner-box-container {
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -35px;
}
/* line 16, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-inner-box-container #hover-inner-box {
  position: relative;
  background: #333;
  border-radius: 50% / 10%;
  width: 70px;
  height: 50px;
}
/* line 22, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-inner-box-container #hover-inner-box:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
/* line 32, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-inner-box-container #hover-inner-box #hover-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid white;
}
/* line 46, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-banner-bottom {
  background: rgba(10, 10, 10, 0.5);
  width: 100%;
  position: absolute;
  height: 40px;
  bottom: 0;
}
/* line 52, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests #hover-banner-bottom #hover-banner-text {
  position: relative;
  top: 10px;
  left: 10px;
  opacity: 1;
  color: white;
  font-family: serif;
}
/* line 61, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests:hover {
  cursor: pointer;
}
/* line 62, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests:hover #hover-inner-box {
  background: red;
  opacity: 1;
}
/* line 66, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests:hover #hover-inner-box-container {
  opacity: 1;
}
/* line 68, /home/rails/Portfolio/app/assets/stylesheets/hovertests.css.scss */
#hover-tests:hover #hover-inner-box-container #hover-inner-box {
  background: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 22, /home/rails/Portfolio/app/assets/stylesheets/application.css.scss */
.hidden {
  visibility: hidden;
}

/* line 26, /home/rails/Portfolio/app/assets/stylesheets/application.css.scss */
.btn {
  border: 1px outset buttonface;
  border-radius: 5px;
  text-align: center;
  padding: 2px 6px 3px;
  background-color: #EFEFEF;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.7em;
  letter-spacing: normal;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  color: black;
  cursor: default;
}
/* line 43, /home/rails/Portfolio/app/assets/stylesheets/application.css.scss */
.btn:hover {
  background: #DDD;
}

/* line 48, /home/rails/Portfolio/app/assets/stylesheets/application.css.scss */
.btn-disabled {
  background: #DDD;
  color: #AAA;
}
