<div class="player hidden" data-location-x="<%= @avatar.try(:location_x) %>" data-location-y="<%= @avatar.try(:location_y) %>" data-id="<%= @avatar.try(:uuid) %>">
  <div class="character stand"><%= @character.to_html %></div>
</div>
