<% content_for :head do %>
  <%= javascript_include_tag 'support/pathfinding.js' %>
<% end %>

<ul class="instructions">
  <li>Arrow keys to move/change direction</li>
  <li><strong>A</strong> - Spell</li>
  <li><strong>S</strong> - Jab</li>
  <li><strong>D</strong> - Slash</li>
  <li><strong>F</strong> - Shoot</li>
  <li><strong>G</strong> - Die</li>
  <li><strong>X</strong> - cancel all queued movements</li>
</ul>


<div class="skinny-container">
  <%= link_to "Random", "", class: "btn random-clothes" %>
  <code class="json-placeholder"><p></p></code>
  <%= render partial: "character_form" %>
</div>

<div class="character stand"></div>
