<%= content_for :head do %>
  <%= javascript_include_tag "support/particles_json.js" %>
  <%= javascript_include_tag "support/particles.js" %>
<% end %>

<div id="particles-js">
  <div class="portfolio-wrapper">
    <div class="portfolio-container">
      <h1>Ardesian LLC</h1>
      <p>Web Developer / Software Engineer / Mobile Consulting</p>
      <p>Contact: <a href="tel:3852599640">(385) 259-9640</a> | <a href="mailto:contact@ardesian.com">contact@ardesian.com</a> </p>
      <div class="portfolio-btns">
        <a href="<%= playground_path %>" class="flask"><span></span></a>
        <a href="//github.com/Rockster160" target="_blank" class="github"><span></span></a>
        <!-- <a href="//facebook.com/Rockster160" target="_blank" class="facebook"><span></span></a> -->
      </div>
    </div>
  </div>
</div>
