<%= content_for :head do %>
  <%= javascript_include_tag "support/particles_json.js" %>
  <%= javascript_include_tag "support/particles.js" %>
<% end %>

<div id="particles-js">
  <div class="portfolio-wrapper">
    <div class="portfolio-container">
      <h1>Rocco Nicholls</h1>
      <p>Web Developer / Software Engineer</p>
      <div class="portfolio-btns">
        <a href="<%= playground_path %>" target="_blank" class="flask"><span></span></a>
        <a href="//github.com/Rockster160" target="_blank" class="github"><span></span></a>
        <a href="//facebook.com/Rockster160" target="_blank" class="facebook"><span></span></a>
      </div>
    </div>
  </div>
</div>
