<canvas id="clocks" width=235 height=120></canvas>
<!-- binary x = 235, analog y = 100 -->
<div>
  <%#= form_for flashCards do |f| %>
    <%#= f.text_field :pin %>
    <%#= f.text_field :batch %>
    <%#= f.checkbox :searchBatch %>
    <%#= f.checkbox :searchTitle %>
    <%#= f.checkbox :searchBody %>
    <%#= f.checkbox :searchType %>
  <%# end %>
  <div id="flashcards">
    <div id="options">
      <div id="textfields">
        <input type="password" name="pin" maxlength="4" size="2" placeholder=" PIN">
        <input type="text" name="batch" placeholder=" Search by:"></br>
      </div>
      <input type="checkbox" name="searchable" value="batch"> Batch
      <input type="checkbox" name="searchable" value="title"> Title</br>
      <input type="checkbox" name="searchable" value="body"> Body
      <input type="checkbox" name="searchable" value="type" disabled="disabled"> <span style="color: gray;">Type</span></br>
    </div>
    <div id="searchResults">
      <div id="left"></div>
      <hr width="1" size="130">
      <div id="right"></div>
    </div>
    <div id="flashCard">
      <button class="flashcard-btn flip-btn">v^</button>
      <input type="text" id="flashcard-title" class="flashcard-class">
      <% 8.times do |line| %>
        <div>
          <button class="flashcard-btn center-btn">(c)</button>
          <input type="text" id="flashcard-line" class="flashcard-class center">
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--   -->
