<div class="calc-container">
  <div class="screen-wrapper">
    <div class="prev">
      <div class="num"></div>
      <div class="op"></div>
    </div>
    <div class="clipboard hidden">
      <%= svg "clipboard-regular" %>
      <span></span>
    </div>
    <input class="screen" type="text" placeholder="0">
  </div>

  <div class="controls">
    <div class="btn clr" data-clear="C">C</div>
    <div class="btn opt" data-del="del">del</div>
    <div class="btn opt" data-cp="cp">copy</div>
    <div class="btn opt" data-pst="pst">paste</div>

    <!-- <div class="btn" data-replace="3.141592653589793">π</div> -->
    <!-- <div class="btn incomplete" data-todoooo="%">%</div> -- Divide by 100  -->
    <!-- <div class="btn incomplete" data-frac="frac">[] / []</div> -- Start/toggle fractions -->
    <!-- <div class="btn incomplete" data-todoooo="ft">ft</div> convert current num to ft -->
    <!-- <div class="btn incomplete" data-todoooo="in">in</div> convert current num to in -->
    <!-- <div class="btn incomplete" data-todoooo="m">m</div> convert current num to m -->
    <!-- <div class="btn incomplete" data-todoooo="mm">mm</div> convert current num to mm -->

    <div class="btn fn" data-op="^">x^y</div>
    <div class="btn fn" data-op="√">√</div>
    <div class="btn fn" data-square="x^2">x^2</div>
    <div class="btn fn" data-plmn="±">±</div>

    <div class="btn num" data-enter="7">7</div>
    <div class="btn num" data-enter="8">8</div>
    <div class="btn num" data-enter="9">9</div>
    <div class="btn op" data-op="÷">÷</div>

    <div class="btn num" data-enter="4">4</div>
    <div class="btn num" data-enter="5">5</div>
    <div class="btn num" data-enter="6">6</div>
    <div class="btn op" data-op="×">×</div>

    <div class="btn num" data-enter="1">1</div>
    <div class="btn num" data-enter="2">2</div>
    <div class="btn num" data-enter="3">3</div>
    <div class="btn op" data-op="-">-</div>

    <div class="btn num" data-enter="0">0</div>
    <div class="btn num" data-enter=".">.</div>
    <div class="btn op" data-eq="=">=</div>
    <div class="btn op" data-op="+">+</div>
  </div>
</div>
