<div class="widget-holder">
  <div class="widget tesla">
    <div class="lines">
      <p></p>
      <p></p>
      <p>Loading...</p>
    </div>
    <span class="disconnected"></span>
    <span class="last-sync">Never</span>
    <span class="error hidden">[ERROR]</span>
    <span class="refresh"><i class="ti ti-mdi-refresh"></i></span>
    <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
  </div>
</div>
