<div class="widget-holder">
  <div class="widget upcoming">
    <div class="lines" style="text-align: left;"></div>

    <span class="disconnected"></span>
    <span class="last-sync">Never</span>
    <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
  </div>
</div>
