<div class="modal widget-modal" id="<%= modal_id %>" tabindex="-1">
  <div class="status"></div>
  <div class="close"><i class="ti ti-fa-close"></i></div>
  <div class="modal-content">
    <button type="button" class="settings-trigger" data-modal="quick-actions-settings" aria-label="Settings"><i class="ti ti-fa-cog"></i></button>
    <div class="widget-wrapper">
      <% widget_data[:buttons]&.each do |item| %>
        <%= widget(item) %>
      <% end %>
    </div>
  </div>
</div>
