<div class="widget-wrapper">
  <div class="widget-holder">
    <div class="widget garage closed">
      <i class="ti ti-mdi-garage_open"></i>
      <i class="ti ti-mdi-garage"></i>
      <span class="last-sync">Never</span>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget">
      Car
      <span class="last-sync">35 minutes ago</span>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget">
      Lists?
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget">
      Quick Logs
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget">
      Command
    </div>
  </div>
</div>
