<% content_for(:head) do %>
  <link rel="manifest" href="/jarvis.webmanifest">
<% end %>

<% content_for(:favicon) do %>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00102B">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00102B">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#00102B">
<% end %>

<div class="widget-wrapper">
  <div class="widget-holder">
    <div class="widget tesla">
      <div class="lines">
        <p></p>
        <p></p>
        <p>Loading...</p>
      </div>
      <span class="disconnected"></span>
      <span class="last-sync">Never</span>
      <span class="error hidden">[ERROR]</span>
      <span class="refresh"><i class="ti ti-mdi-refresh"></i></span>
      <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget garage">
      <i class="ti ti-mdi-garage_open"></i>
      <i class="ti ti-mdi-garage"></i>

      <span class="disconnected"></span>
      <span class="last-sync">Never</span>
      <span class="error hidden">[ERROR]</span>
      <span class="refresh"><i class="ti ti-mdi-refresh"></i></span>
      <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget drugs">
      <i class="emoji">💊</i>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget events">
      <i class="emoji ti ti-fa-paper_plane"></i>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget care">
      <i class="emoji">💆‍♂️</i>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget command">
      Command

      <span class="disconnected"></span>
    </div>
  </div>

  <div class="widget-holder empty">
  </div>

  <div class="widget-holder">
    <div class="widget upcoming">
      <div class="lines" style="text-align: left;"></div>

      <span class="disconnected"></span>
      <span class="last-sync">Never</span>
      <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
    </div>
  </div>
</div>

<div class="modal" id="command-modal" tabindex="-1">
  <div class="modal-content">
    <div class="status"></div>
    <div class="close">
      <i class="ti ti-fa-close"></i>
    </div>
    <div class="messages">
      <div class="message in">What can I do for you?</div>
    </div>
    <div class="text-entry">
      <input type="text" name="" value="">
    </div>
  </div>
</div>

<%=
  mini_widgets("care-modal") do
    [
      ["🦷", :Teeth],
      ["🚿", :Shower],
      ["👕", :Laundry, "do laundry"],

      ["🧴", :WashHair, "log care Wash Hair"],
      ["💅", :CutNails, "log care Cut Nails"],
      [emoji("🖋"), :Custom, "log {{Log what?}}"],
    ]
  end
%>

<%=
  mini_widgets("events-modal") do
    [
      [emoji("🔄"), :Reload, ".reload"],
      ["💧", :Water],
      ["🦷", :Teeth],

      ["🚿", :Shower],
      ["👕", :Laundry, "do laundry"],
      [emoji_stack("💪", "❌"), :Done, "No more pullups today"],

      [emoji("🏋️‍♂️"), :Workout, "log Workout {{What did you do?}}"],
      ["5#{emoji("💪")}", :five_pulls, "log Pullups 5"],
      ["##{emoji("💪")}", :enter_pulls, "log Pullups {{How many pullups?}}"],

      [emoji("🖋"), :Custom, "log {{Log what?}}"],
      ["🍕", :Food, "log Food {{What did you eat?}}"],
      ["🧃", :Drink, "log Drink {{What did you drink?}}"],

      ["Protein", :Protein, "log Drink Protein"],
      ["🍍", :Pineapple, "log Drink Pineapple Juice"],
      ["🥃", :Alcohol, "log Alcohol {{What did you drink?}}"],

      [img(:can), :log_soda_dew, "log soda Mountain Dew"],
      [img(:pepsi), :log_soda_pepsi, "log soda Pepsi"],
      [img(:coke), :log_soda_coke, "log soda Coke"],

      *[:tropical, :peach, :arctic].map { |flavor|
        [
          img(:celsius),
          "log_celsius_#{flavor.to_s.downcase}",
          "log drink Celsius #{flavor.to_s.titleize} Vibe",
          flavor.to_s.titleize
        ]
      },

      *[:orange, :kiwi_guava, :wild_berry].map { |flavor|
        [
          img(:celsius),
          "log_celsius_#{flavor.to_s.downcase}",
          "log drink Celsius #{flavor.to_s.titleize}",
          flavor.to_s.titleize
        ]
      },
    ]
  end
%>

<%=
  mini_widgets("drugs-modal") do
    [
      [:Vitamins],
      ["D-AmphXR 20mg"],
      ["D-Amph 20mg"],
      ["Pristiq 25mg"],
      ["AdderallXR 15mg"],
      ["AdderallXR 20mg"],
      ["Buspirone 20mg"],
      ["Relaxium 1"],
      ["Relaxium 2"],
      ["NQ"],
      ["NQ Half"],
      ["Methyl 10mg"],
      ["Methyl 20mg"],
      ["Escital 20mg"],
      ["X"],
      ["Z", nil, "log Z {{}}"],
    ]
  end
%>
