<div class="widget-wrapper">
  <div class="widget-holder">
    <div class="widget tesla">
      <div class="lines">
        <p></p>
        <p></p>
        <p>Loading...</p>
      </div>
      <span class="disconnected"></span>
      <span class="last-sync">Never</span>
      <span class="error hidden">[ERROR]</span>
      <span class="refresh"><i class="ti ti-mdi-refresh"></i></span>
      <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget garage">
      <i class="ti ti-mdi-garage_open"></i>
      <i class="ti ti-mdi-garage"></i>

      <span class="disconnected"></span>
      <span class="last-sync">Never</span>
      <span class="error hidden">[ERROR]</span>
      <span class="refresh"><i class="ti ti-mdi-refresh"></i></span>
      <span class="loading hidden"><i class="ti ti-mdi-loading"></i></span>
    </div>
  </div>

  <!-- <div class="widget-holder">
    <div class="widget">
      Lists?
    </div>
  </div> -->

  <div class="widget-holder">
    <div class="widget">
      Quick Logs
    </div>
  </div>

  <div class="widget-holder">
    <div class="widget command">
      Command

      <span class="disconnected"></span>
    </div>
  </div>
</div>

<div class="modal" id="command-modal" tabindex="-1">
  <div class="modal-content">
    <div class="close">
      <i class="ti ti-fa-close"></i>
    </div>
    <div class="messages">
      <div class="message in">What can I do for you?</div>
    </div>
    <div class="text-entry">
      <input type="text" name="" value="">
    </div>
  </div>
</div>
