<div class="poke-page">
  <div class="error-container"></div>
  <div class="scan">Scan!</div>
  <div class="pokemon-list-container">
    <%= render template: 'pokemon/pokemon_list', locals: {pokemon: @pokemon} %>
  </div>
</div>
