<div class="poke-page">
  <a href="http://ispokemongodownornot.com">API working? Check PTC for US</a>
  <div class="error-container" style="color: red"></div>
  <input type="text" name="loc" value="" class="input-location" placeholder="Enter address/Coordinate">
  <div class="scan">Scan!</div>
  <div class="pokemon-list-container">
    <%= render template: 'pokemon/pokemon_list', locals: {pokemon: @pokemon} %>
  </div>
</div>
