<div class="poke-page">
  <a href="http://ispokemongodownornot.com">API working? Check PTC for US</a>
  <div class="error-container" style="color: red"></div>
  <input type="text" name="loc" value="" class="input-location" placeholder="Enter address/Coordinate">
  <div class="scan">Scan!</div>
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="pokemon-list-container" data-latitude="<%= @location[0] %>" data-longitude="<%= @location[1] %>">
    <%= render template: 'pokemon/pokemon_list', locals: {pokemon: @pokemon} %>
  </div>
</div>
