@import "config/variables";
$asphalt:  #34495e;
$clouds: #ecf0f1;
$river: #3498db;
$silver: #bdc3c7;

.ctr-little_worlds.act-character_builder {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  min-width: 550px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: $clouds;

  code.json-placeholder {
    text-align: center;
    display: block;
    margin: 10px;

    p {
      text-align: left;
      display: inline-block;
      white-space: pre;
      line-height: 1;
      margin: 0;
    }
  }

  .split-container .half-container { height: auto; }

  .character-container {
    padding-left: 150px;
    // min-width: 250px;

    .character-wrapper {
      background-image: radial-gradient(150px 16% at 50% 93%, rgba(0, 50, 40, 0.48) 15%, transparent 50%);
    }
  }

  .character-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 190px;
    background: white;
    overflow-y: auto;
    box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.5);

    .character-form {
      padding: 10px;

      input[type="radio"] {
        display: none;

        & + label {
          display: inline-block;
          cursor: pointer;

          .fa {
            display: inline-block;
            height: 50px;
            width: 50px;
            font-size: 24px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
          }
          &:hover {
            border-color: orange;
          }
        }
      }
      input[type="radio"]:checked + label {
        color: $base-blue;
        border-color: $base-blue;

        .fa {
          font-size: 36px;
        }
      }

      .option-selector {
        margin-top: 5px;
        margin-right: 5px;
        display: flex;
        align-items: center;

        select { display: none; }
        .option-title, .arrow-prev, .arrow-next {
          display: inline-block;
          border-radius: 3px;
          line-height: 18px;
          vertical-align: top;
        }
        .option-title {
          width: 100px;
          flex-grow: 1;
        }
        .arrow-prev, .arrow-next {
          width: 15px;
          font-size: 10px;
          padding: 5px;

          &:hover {
            cursor: pointer;
            background: $asphalt;
            color: $clouds;
          }
          &:active { padding: 4px 2px 2px 4px; }
        }
        &.disabled {
          * {
            border-color: #BDC3C7 !important;
            color: #BDC3C7 !important;
            cursor: not-allowed !important;
          }
        }
      }
    }
  }
  @media(max-width: 600px) {
    .character-form-wrapper {
      position: absolute;
    }
  }
}
