@import "config/variables";
@import "character";

.ctr-little_worlds.act-character_builder {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  min-width: 480px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: $grey-light;
  text-align: center;

  code.json-placeholder {
    text-align: center;
    display: block;
    margin: 10px;

    p {
      text-align: left;
      display: inline-block;
      white-space: pre;
      line-height: 1;
      margin: 0;
    }
  }

  .split-container .half-container { height: auto; }

  .character-container {
    padding-left: 150px;
    min-width: 250px;

    .instructions {
      text-align: center;
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      margin-top: 60px;

      li { text-align: left; }
    }

    @include character(4);

    .character-wrapper {
      background-image: radial-gradient(150px 16% at 50% 93%, rgba(0, 50, 40, 0.48) 15%, transparent 50%);
    }
  }

  .character-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 190px;
    background: white;
    overflow-y: auto;
    box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.5);

    .character-form {
      padding: 10px;

      input[type="radio"] {
        display: none;

        & + label {
          display: inline-block;
          cursor: pointer;

          .fa {
            transition: all 0.2s ease-in-out;
            display: inline-block;
            height: 50px;
            width: 50px;
            font-size: 24px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
          }
          &:hover {
            .fa {
              transform: scale(1.2);
            }
          }
        }
      }
      input[type="radio"]:not(:checked) + label:hover .fa {
        color: darken($base-blue, 20%);
        transform: scale(1.2);
      }
      input[type="radio"]:checked + label .fa {
        color: $base-blue;
        transform: scale(1.5);
      }

      .option-selector {
        margin-top: 5px;
        margin-right: 5px;
        display: flex;
        align-items: center;

        select { display: none; }
        .option-title, .arrow-prev, .arrow-next {
          display: inline-block;
          border-radius: 3px;
          line-height: 18px;
          vertical-align: top;
        }
        .option-title {
          width: 100px;
          flex-grow: 1;
        }
        .arrow-prev, .arrow-next {
          transition: all 0.2s ease-in-out;
          width: 15px;
          font-size: 10px;
          padding: 5px;
        }
        &:not(.disabled) {
          .arrow-prev, .arrow-next {
            &:hover {
              cursor: pointer;
              background: $grey-dark;
              color: $grey-light;
            }
          }
        }

        &.disabled {
          * {
            border-color: $grey-disabled;
            color: $grey-disabled;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
