// Usage:
// ---------- HTML
// <div class="character stand"></div>
// ---------- CSS
// @include character(4)
//
// This will automatically resize the image to fill the space given as much as
//   possible and center it both vertically and horizontally, as well as
//   setting it to an inline element for easy positioning.
//
$spell-animation-duration: 1s;
$thrust-animation-duration: 1s;
$walk-animation-duration: 0.4s;
$slash-animation-duration: 0.5s;
$shoot-animation-duration: 1.2s;
$die-animation-duration: 1s;
// Must be kept in sync with JS values!

@mixin spriteSheet($x, $y, $px-to-block) {
  background-position: ($x * $px-to-block * -1) ($y * $px-to-block * -1);
}
@mixin characterSheet($x, $y, $size-multiplier) {
  @include spriteSheet($x, $y, 64px * $size-multiplier);
}

@mixin character($size-multiplier) {
  .character {
    display: inline-block;
    position: relative;
    height: 64px * $size-multiplier;
    width: 64px * $size-multiplier;
    overflow: hidden;

    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 64px * $size-multiplier;
      width: 64px * $size-multiplier;
      background-size: 832px * $size-multiplier;
      background-repeat: no-repeat;
    }

    &.stand        > * { @include characterSheet(0, 2, $size-multiplier); }
    &.stand-up     > * { @include characterSheet(0, 0, $size-multiplier); }
    &.stand-left   > * { @include characterSheet(0, 1, $size-multiplier); }
    &.stand-down   > * { @include characterSheet(0, 2, $size-multiplier); }
    &.stand-right  > * { @include characterSheet(0, 3, $size-multiplier); }
    // 7
    &.spell-up     > * { @include characterSheet(0, 0, $size-multiplier); animation: spell-up $spell-animation-duration steps(7); }
    &.spell-left   > * { @include characterSheet(0, 1, $size-multiplier); animation: spell-left $spell-animation-duration steps(7); }
    &.spell-down   > * { @include characterSheet(0, 2, $size-multiplier); animation: spell-down $spell-animation-duration steps(7); }
    &.spell-right  > * { @include characterSheet(0, 3, $size-multiplier); animation: spell-right $spell-animation-duration steps(7); }
    // 8
    &.thrust-up    > * { @include characterSheet(0, 4, $size-multiplier); animation: thrust-up $thrust-animation-duration steps(8); }
    &.thrust-left  > * { @include characterSheet(0, 5, $size-multiplier); animation: thrust-left $thrust-animation-duration steps(8); }
    &.thrust-down  > * { @include characterSheet(0, 6, $size-multiplier); animation: thrust-down $thrust-animation-duration steps(8); }
    &.thrust-right > * { @include characterSheet(0, 7, $size-multiplier); animation: thrust-right $thrust-animation-duration steps(8); }
    // 9
    &.walk-up      > * { @include characterSheet(0, 8, $size-multiplier); animation: walk-up $walk-animation-duration steps(9) infinite; }
    &.walk-left    > * { @include characterSheet(0, 9, $size-multiplier); animation: walk-left $walk-animation-duration steps(9) infinite; }
    &.walk-down    > * { @include characterSheet(0, 10, $size-multiplier); animation: walk-down $walk-animation-duration steps(9) infinite; }
    &.walk-right   > * { @include characterSheet(0, 11, $size-multiplier); animation: walk-right $walk-animation-duration steps(9) infinite; }
    // 6
    &.slash-up     > * { @include characterSheet(0, 12, $size-multiplier); animation: slash-up $slash-animation-duration steps(6); }
    &.slash-left   > * { @include characterSheet(0, 13, $size-multiplier); animation: slash-left $slash-animation-duration steps(6); }
    &.slash-down   > * { @include characterSheet(0, 14, $size-multiplier); animation: slash-down $slash-animation-duration steps(6); }
    &.slash-right  > * { @include characterSheet(0, 15, $size-multiplier); animation: slash-right $slash-animation-duration steps(6); }
    // 13
    &.shoot-up     > * { @include characterSheet(0, 16, $size-multiplier); animation: shoot-up $shoot-animation-duration steps(13); }
    &.shoot-left   > * { @include characterSheet(0, 17, $size-multiplier); animation: shoot-left $shoot-animation-duration steps(13); }
    &.shoot-down   > * { @include characterSheet(0, 18, $size-multiplier); animation: shoot-down $shoot-animation-duration steps(13); }
    &.shoot-right  > * { @include characterSheet(0, 19, $size-multiplier); animation: shoot-right $shoot-animation-duration steps(13); }
    // 6
    &.die          > * { @include characterSheet(0, 20, $size-multiplier); animation: die $die-animation-duration steps(6); }
  }

  .character.stand,
  .character.stand-down, .character.spell-down, .character.thrust-down, .character.walk-down, .character.slash-down, .character.shoot-down,
  .character.stand-left, .character.spell-left, .character.thrust-left, .character.walk-left, .character.slash-left, .character.shoot-left,
  .character.stand-right, .character.spell-right, .character.thrust-right, .character.walk-right, .character.slash-right, .character.shoot-right {
    .back    { z-index: 1; }
    .body    { z-index: 2; }
    .nose    { z-index: 3; }
    .ears    { z-index: 4; }
    .eyes    { z-index: 5; }
    .feet    { z-index: 6; }
    .hands   { z-index: 7; }
    .legs    { z-index: 8; }
    .torso   { z-index: 9; }
    .beard   { z-index: 10; }
    .neck    { z-index: 11; }
    .arms    { z-index: 12; }
    .belt    { z-index: 13; }
    .hair    { z-index: 14; }
    .head    { z-index: 15; }
    .weapons { z-index: 16; }
  }
  .character.stand-up, .character.spell-up, .character.thrust-up, .character.walk-up, .character.slash-up, .character.shoot-up {
    .ears    { z-index: 1; }
    .eyes    { z-index: 2; }
    .body    { z-index: 3; }
    .nose    { z-index: 4; }
    .beard   { z-index: 5; }
    .belt    { z-index: 6; }
    .feet    { z-index: 7; }
    .legs    { z-index: 8; }
    .hands   { z-index: 9; }
    .torso   { z-index: 10; }
    .hair    { z-index: 11; }
    .arms    { z-index: 12; }
    .neck    { z-index: 13; }
    .head    { z-index: 14; }
    .weapons { z-index: 15; }
    .back    { z-index: 16; }
  }

  @keyframes spell-up     { 100% { @include characterSheet(7, 0, $size-multiplier); } }
  @keyframes spell-left   { 100% { @include characterSheet(7, 1, $size-multiplier); } }
  @keyframes spell-down   { 100% { @include characterSheet(7, 2, $size-multiplier); } }
  @keyframes spell-right  { 100% { @include characterSheet(7, 3, $size-multiplier); } }
  @keyframes thrust-up    { 100% { @include characterSheet(8, 4, $size-multiplier); } }
  @keyframes thrust-left  { 100% { @include characterSheet(8, 5, $size-multiplier); } }
  @keyframes thrust-down  { 100% { @include characterSheet(8, 6, $size-multiplier); } }
  @keyframes thrust-right { 100% { @include characterSheet(8, 7, $size-multiplier); } }
  @keyframes walk-up      { 100% { @include characterSheet(9, 8, $size-multiplier); } }
  @keyframes walk-left    { 100% { @include characterSheet(9, 9, $size-multiplier); } }
  @keyframes walk-down    { 100% { @include characterSheet(9, 10, $size-multiplier); } }
  @keyframes walk-right   { 100% { @include characterSheet(9, 11, $size-multiplier); } }
  @keyframes slash-up     { 100% { @include characterSheet(6, 12, $size-multiplier); } }
  @keyframes slash-left   { 100% { @include characterSheet(6, 13, $size-multiplier); } }
  @keyframes slash-down   { 100% { @include characterSheet(6, 14, $size-multiplier); } }
  @keyframes slash-right  { 100% { @include characterSheet(6, 15, $size-multiplier); } }
  @keyframes shoot-up     { 100% { @include characterSheet(13, 16, $size-multiplier); } }
  @keyframes shoot-left   { 100% { @include characterSheet(13, 17, $size-multiplier); } }
  @keyframes shoot-down   { 100% { @include characterSheet(13, 18, $size-multiplier); } }
  @keyframes shoot-right  { 100% { @include characterSheet(13, 19, $size-multiplier); } }
  @keyframes die          { 100% { @include characterSheet(6, 20, $size-multiplier); } }
}
