@import "character";

.ctr-little_worlds.act-character_builder {
  text-align: center;

  .instructions {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 60px;

    li { text-align: left; }
  }

  @include character(4)
}
