@import "character";
@import "config/variables";

.ctr-little_worlds.act-show {
  background: $grey-blue;

  ::-webkit-scrollbar, *::-webkit-scrollbar, &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  $cellSize: 64px;
  $cellWidth: $cellSize;
  $cellHeight: $cellSize;
  $boardWidthCells: 64;
  $boardHeightCells: 64;
  $boardWidthPx: $boardWidthCells * $cellWidth;
  $boardHeightPx: $boardWidthCells * $cellHeight;

  .screen-log {
    position: fixed;
    pointer-events: none;
    top: 10px;
    left: 10px;
    font-weight: 400;
    font-size: 18px;
    font-family: monospace;
    z-index: 5;
    color: white;
  }

  .float-point {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background: red;
    z-index: 5;
  }

  .connection-error-status {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    text-align: center;

    p {
      display: inline-block;

      padding: 10px;
      height: auto;
      border-radius: 4px;
      font-size: 16px;
      box-shadow: 0px 8px 10px -8px #000;
      background-color: $flash-alert-bg;
      color: white;
    }
  }

  .open-chat-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: $base-blue;
    color: white;
    border-radius: 100%;
    box-shadow: 1px 1px 10px $grey-blue;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    z-index: 1001;
    cursor: pointer;
  }
  .chat-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 600px;
    padding-bottom: 40px;
    max-width: 100%;
    opacity: 0;
    background: black;
    border-radius: 8px;
    z-index: 1000;

    .messages-container {
      min-height: 40px;
      max-height: 200px;
      padding: 5px;
      overflow-y: scroll;

      .message {
        padding: 5px;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        color: white;

        .author {
          font-weight: bold;
        }
      }
    }
    input {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
    }
  }

  .little-world-wrapper {
    font-size: 0;
    position: relative;

    .player {
      margin: 3px;
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      background-image: radial-gradient(100% 40% at 50% 70%, rgba(0, 0, 50, 0.5) 30%, transparent 50%);
      width: $cellWidth;
      height: $cellHeight;
      pointer-events: none;

      @include character(2);
      .character {
        margin-left: -32px;
        margin-top: -75px;
      }
      .username-wrapper {
        position: absolute;
        bottom: -8px;
        right: 50%;
        text-align: center;

        .username {
          display: inline-block;
          margin-right: -100%;
          border-radius: 3px;
          opacity: 0.7;
          background: white;
          color: black;
          text-shadow: 0 0 2px $grey-blue;
          z-index: 900;
          font-size: 12px;
          padding: 3px;
          padding-top: 1px;
          font-family: Tahoma, Verdana, Segoe, sans-serif;
        }
      }
      .message-container {
        position: absolute;
        bottom: 120px;
        left: 0;
        width: 150px;
        pointer-events: none;
        opacity: 0.9;

        .message {
          display: inline-block;
          min-width: 23px;
          max-width: 150px;
          width: auto;
          font-size: 10px;
          font-family: Tahoma, Verdana, Segoe, sans-serif;
          background: white;
          border: 4px solid black;
          border-radius: 8px;
          padding: 5px;

          &:before, &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: solid transparent;
            bottom: -22px;
            left: 20px;
            border-width: 11px;
            margin-left: -11px;
          }
          &:before {
            border-top-color: black;
          }
          &:after {
            border-top-color: white;
            bottom: -17px;
          }
        }
      }
    }

    .game {
      position: relative;
      white-space: nowrap;
      padding: 100px 30px 64px;

      .block {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        z-index: 0;
        width: $cellWidth;
        height: $cellHeight;

        &.highlight-coord:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          border-radius: 100%;
          background-image: radial-gradient(100% 40% at 50% 70%, rgba(100, 0, 100, 0.5) 30%, transparent 50%);
        }

        .object {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
