@import "character";
@import "config/variables";

.ctr-little_worlds.act-show {
  background: $grey-blue;

  ::-webkit-scrollbar, *::-webkit-scrollbar, &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  $cellSize: 64px;
  $cellWidth: $cellSize;
  $cellHeight: $cellSize;
  $boardWidthCells: 64;
  $boardHeightCells: 64;
  $boardWidthPx: $boardWidthCells * $cellWidth;
  $boardHeightPx: $boardWidthCells * $cellHeight;

  .screen-log {
    position: fixed;
    pointer-events: none;
    top: 10px;
    left: 10px;
    font-weight: 400;
    font-size: 18px;
    font-family: monospace;
    z-index: 5;
    color: white;
  }

  .float-point {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background: red;
    z-index: 5;
  }

  .little-world-wrapper {
    font-size: 0;
    position: relative;

    .player {
      margin: 3px;
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      background-image: radial-gradient(100% 40% at 50% 70%, rgba(0, 0, 50, 0.5) 30%, transparent 50%);
      width: $cellWidth;
      height: $cellHeight;
      pointer-events: none;

      @include character(2);
      .character {
        margin-left: -32px;
        margin-top: -75px;
      }
    }

    .game {
      position: relative;
      white-space: nowrap;
      padding: 100px 30px 64px;

      .block {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        z-index: 0;
        width: $cellWidth;
        height: $cellHeight;

        &.highlight-coord:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          border-radius: 100%;
          background-image: radial-gradient(100% 40% at 50% 70%, rgba(100, 0, 100, 0.5) 30%, transparent 50%);
        }

        .object {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
