// Map is 32x32 blocks - 1024x1024px
@import "character";

@mixin terrainSheet($x, $y) {
  $size-multiplier: 2;
  background-image: image-url("rpg/terrain/terrain_atlas.png");
  background-size: 1024px * $size-multiplier;
  background-repeat: no-repeat;
  @include spriteSheet($x, $y, 32px * $size-multiplier)
}

.ctr-little_worlds {
  *, *:hover, *:active { cursor: image-url("rpg/terrain/little_world_cursor.png"), nw-resize !important; }
}

.little-world-wrapper {
  .block {
    // &.walkable::before {
    //   content: "W";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   text-align: center;
    //   margin-top: 16px;
    //   font-size: 32px;
    //   font-family: monospace;
    //   color: red;
    // }
    &.bad { @include terrainSheet(10, 14); }
    &.check { @include terrainSheet(6, 1); }

    &.water { @include terrainSheet(21, 17); }

    &.grass-length-1 { @include terrainSheet(22, 3); }
    &.grass-length-2 { @include terrainSheet(23, 5); }
    &.grass-length-3 { @include terrainSheet(22, 5); }
    &.grass-length-4 { @include terrainSheet(21, 5); }

    &.grass-right-edge { @include terrainSheet(23, 3); }
    &.grass-left-edge  { @include terrainSheet(21, 3); }
    &.grass-up-edge    { @include terrainSheet(22, 2); }
    &.grass-down-edge  { @include terrainSheet(22, 4); }

    &.grass-up-right-corner   { @include terrainSheet(21, 4); }
    &.grass-up-left-corner    { @include terrainSheet(23, 4); }
    &.grass-down-right-corner { @include terrainSheet(21, 2); }
    &.grass-down-left-corner  { @include terrainSheet(23, 2); }

    &.grass-up-right-inner-corner   { @include terrainSheet(22, 6); }
    &.grass-up-left-inner-corner    { @include terrainSheet(21, 6); }
    &.grass-down-right-inner-corner { @include terrainSheet(22, 7); }
    &.grass-down-left-inner-corner  { @include terrainSheet(21, 7); }

    .object {
      &.cactus { @include terrainSheet(9, 14); }
    }
  }
}
