<%# Per-device visibility filter. Persisted under "agendaHidden:v1". %>
<button type="button" class="agenda-filter-btn" aria-label="Filter agendas" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-filter"></i>
</button>

<div class="agenda-filter-panel hidden" role="dialog" aria-label="Show agendas">
  <h4>Show agendas</h4>
  <ul class="agenda-filter-list">
    <% agendas.each do |a| %>
      <li class="agenda-filter-row" style="--option-color: <%= a.color %>;">
        <label>
          <input type="checkbox" data-agenda-id="<%= a.id %>" checked>
          <span class="agenda-pick-dot" aria-hidden="true"></span>
          <span class="agenda-filter-name"><%= a.name %></span>
        </label>
      </li>
    <% end %>
  </ul>
</div>
