<div class="text-center">
  <select class="monster-selector" name="monster-selector">
    <option value=""></option>
  </select>

  <table class="monsters">
    <tr type="health">
      <td class="attr-title">Health</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="health"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="attack">
      <td class="attr-title">Attack</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="attack"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="defense">
      <td class="attr-title">Defense</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="defense"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="speed">
      <td class="attr-title">Speed</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="speed"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="crit_rate">
      <td class="attr-title">Crit rate</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="crit_rate"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="crit_dmg">
      <td class="attr-title">Crit dmg</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="crit_dmg"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="accuracy">
      <td class="attr-title">Accuracy</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="accuracy"></td>
      <td class="computed-total"></td>
    </tr>
    <tr type="resistance">
      <td class="attr-title">Resistance</td>
      <td class="attr-value"></td>
      <td class="rune-value"><input type="text" name="resistance"></td>
      <td class="computed-total"></td>
    </tr>
  </table>
</div>
