// Must be kept in sync with JS values!
$spell-animation-duration: 1s;
$thrust-animation-duration: 1s;
$walk-animation-duration: 0.8s;
$slash-animation-duration: 0.5s;
$shoot-animation-duration: 1.2s;
$die-animation-duration: 1s;
$size-multiplier: 4;

.ctr-little_worlds.act-character_builder {
  text-align: center;

  .instructions {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    li { text-align: left; }
  }

  .character {
    display: inline-block;
    position: relative;
    height: 64px * $size-multiplier;
    width: 64px * $size-multiplier;
    overflow: hidden;

    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 64px * $size-multiplier;
      width: 64px * $size-multiplier;
      background-repeat: no-repeat;
      background-size: 832px * $size-multiplier;
    }

    &.stand        > * { background-position: 0 -128px * $size-multiplier; }
    &.stand-up     > * { background-position: 0 -0px * $size-multiplier; }
    &.stand-left   > * { background-position: 0 -64px * $size-multiplier; }
    &.stand-down   > * { background-position: 0 -128px * $size-multiplier; }
    &.stand-right  > * { background-position: 0 -192px * $size-multiplier; }
    // 7
    &.spell-up     > * { background-position: 0 0px * $size-multiplier; animation: spell-up $spell-animation-duration steps(7); }
    &.spell-left   > * { background-position: 0 -64px * $size-multiplier; animation: spell-left $spell-animation-duration steps(7); }
    &.spell-down   > * { background-position: 0 -128px * $size-multiplier; animation: spell-down $spell-animation-duration steps(7); }
    &.spell-right  > * { background-position: 0 -192px * $size-multiplier; animation: spell-right $spell-animation-duration steps(7); }
    // 8
    &.thrust-up    > * { background-position: 0 -256px * $size-multiplier; animation: thrust-up $thrust-animation-duration steps(8); }
    &.thrust-left  > * { background-position: 0 -320px * $size-multiplier; animation: thrust-left $thrust-animation-duration steps(8); }
    &.thrust-down  > * { background-position: 0 -384px * $size-multiplier; animation: thrust-down $thrust-animation-duration steps(8); }
    &.thrust-right > * { background-position: 0 -448px * $size-multiplier; animation: thrust-right $thrust-animation-duration steps(8); }
    // 9
    &.walk-up      > * { background-position: 0 -512px * $size-multiplier; animation: walk-up $walk-animation-duration steps(9) infinite; }
    &.walk-left    > * { background-position: 0 -576px * $size-multiplier; animation: walk-left $walk-animation-duration steps(9) infinite; }
    &.walk-down    > * { background-position: 0 -640px * $size-multiplier; animation: walk-down $walk-animation-duration steps(9) infinite; }
    &.walk-right   > * { background-position: 0 -704px * $size-multiplier; animation: walk-right $walk-animation-duration steps(9) infinite; }
    // 6
    &.slash-up     > * { background-position: 0 -768px * $size-multiplier; animation: slash-up $slash-animation-duration steps(6); }
    &.slash-left   > * { background-position: 0 -832px * $size-multiplier; animation: slash-left $slash-animation-duration steps(6); }
    &.slash-down   > * { background-position: 0 -896px * $size-multiplier; animation: slash-down $slash-animation-duration steps(6); }
    &.slash-right  > * { background-position: 0 -960px * $size-multiplier; animation: slash-right $slash-animation-duration steps(6); }
    // 13
    &.shoot-up     > * { background-position: 0 -1024px * $size-multiplier; animation: shoot-up $shoot-animation-duration steps(13); }
    &.shoot-left   > * { background-position: 0 -1088px * $size-multiplier; animation: shoot-left $shoot-animation-duration steps(13); }
    &.shoot-down   > * { background-position: 0 -1152px * $size-multiplier; animation: shoot-down $shoot-animation-duration steps(13); }
    &.shoot-right  > * { background-position: 0 -1216px * $size-multiplier; animation: shoot-right $shoot-animation-duration steps(13); }
    // 6
    &.die          > * { background-position: 0 -1280px * $size-multiplier; animation: die $die-animation-duration steps(6); }
  }

  .character.stand,
  .character.stand-down, .character.spell-down, .character.thrust-down, .character.walk-down, .character.slash-down, .character.shoot-down,
  .character.stand-left, .character.spell-left, .character.thrust-left, .character.walk-left, .character.slash-left, .character.shoot-left,
  .character.stand-right, .character.spell-right, .character.thrust-right, .character.walk-right, .character.slash-right, .character.shoot-right {
    .back    { z-index: 1; }
    .nose    { z-index: 2; }
    .body    { z-index: 3; }
    .ears    { z-index: 4; }
    .eyes    { z-index: 5; }
    .beard   { z-index: 6; }
    .neck    { z-index: 7; }
    .feet    { z-index: 8; }
    .hands   { z-index: 9; }
    .legs    { z-index: 10; }
    .torso   { z-index: 11; }
    .hair    { z-index: 12; }
    .arms    { z-index: 13; }
    .head    { z-index: 14; }
    .belt    { z-index: 15; }
    .weapons { z-index: 16; }
  }
  .character.stand-up, .character.spell-up, .character.thrust-up, .character.walk-up, .character.slash-up, .character.shoot-up {
    .ears    { z-index: 1; }
    .nose    { z-index: 2; }
    .eyes    { z-index: 3; }
    .body    { z-index: 4; }
    .beard   { z-index: 5; }
    .belt    { z-index: 6; }
    .feet    { z-index: 7; }
    .legs    { z-index: 8; }
    .hands   { z-index: 9; }
    .torso   { z-index: 10; }
    .hair    { z-index: 11; }
    .arms    { z-index: 12; }
    .neck    { z-index: 13; }
    .head    { z-index: 14; }
    .weapons { z-index: 15; }
    .back    { z-index: 16; }
  }

  @keyframes spell-up     { 100% { background-position: -448px * $size-multiplier -0px * $size-multiplier; } }
  @keyframes spell-left   { 100% { background-position: -448px * $size-multiplier -64px * $size-multiplier; } }
  @keyframes spell-down   { 100% { background-position: -448px * $size-multiplier -128px * $size-multiplier; } }
  @keyframes spell-right  { 100% { background-position: -448px * $size-multiplier -192px * $size-multiplier; } }
  @keyframes thrust-up    { 100% { background-position: -512px * $size-multiplier -256px * $size-multiplier; } }
  @keyframes thrust-left  { 100% { background-position: -512px * $size-multiplier -320px * $size-multiplier; } }
  @keyframes thrust-down  { 100% { background-position: -512px * $size-multiplier -384px * $size-multiplier; } }
  @keyframes thrust-right { 100% { background-position: -512px * $size-multiplier -448px * $size-multiplier; } }
  @keyframes walk-up      { 100% { background-position: -576px * $size-multiplier -512px * $size-multiplier; } }
  @keyframes walk-left    { 100% { background-position: -576px * $size-multiplier -576px * $size-multiplier; } }
  @keyframes walk-down    { 100% { background-position: -576px * $size-multiplier -640px * $size-multiplier; } }
  @keyframes walk-right   { 100% { background-position: -576px * $size-multiplier -704px * $size-multiplier; } }
  @keyframes slash-up     { 100% { background-position: -384px * $size-multiplier -768px * $size-multiplier; } }
  @keyframes slash-left   { 100% { background-position: -384px * $size-multiplier -832px * $size-multiplier; } }
  @keyframes slash-down   { 100% { background-position: -384px * $size-multiplier -896px * $size-multiplier; } }
  @keyframes slash-right  { 100% { background-position: -384px * $size-multiplier -960px * $size-multiplier; } }
  @keyframes shoot-up     { 100% { background-position: -832px * $size-multiplier -1024px * $size-multiplier; } }
  @keyframes shoot-left   { 100% { background-position: -832px * $size-multiplier -1088px * $size-multiplier; } }
  @keyframes shoot-down   { 100% { background-position: -832px * $size-multiplier -1152px * $size-multiplier; } }
  @keyframes shoot-right  { 100% { background-position: -832px * $size-multiplier -1216px * $size-multiplier; } }
  @keyframes die          { 100% { background-position: -384px * $size-multiplier -1280px * $size-multiplier; } }

}
