.ctr-little_worlds.act-character_builder {

  code.json-placeholder {
    text-align: left;
    p {
      white-space: pre;
      line-height: 1;
      margin: 0;
    }
  }

  .character-form {
    .options-container {
      margin-top: 30px;
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
      padding-top: 0;

      .option {
        margin-top: 10px;
        display: inline-block;
        border: 2px solid black;
        overflow: hidden;
        padding: 3px;
        box-sizing: border-box;

        &.selected { border: 2px solid red; }
        &:hover { border: 2px solid orange; }
        &.current-scope { border: 2px solid blue; }
      }
    }
  }

}
