.ctr-little_worlds.act-character_builder {

  code.json-placeholder {
    text-align: center;
    display: block;
    margin: 10px;

    p {
      text-align: left;
      display: inline-block;
      white-space: pre;
      line-height: 1;
      margin: 0;
    }
  }

  .character-form {
    .options-container {
      margin-top: 20px;
      border-collapse: collapse;
      padding: 10px;
      padding-top: 0;

      .option {
        display: inline-block;
        border: 2px solid black;
        border-radius: 3px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        &.selected {
          border: 2px solid red;
          color: red;
        }
        &:hover {
          border: 2px solid orange;
          color: orange;
        }
        &.current-scope {
          border: 2px solid blue;
          color: blue;
        }
      }
    }
  }

}
