<% if (error ||= nil).present? %>
  <div class="color-error"><%= error %></div>
<% end %>
<% colors.each do |color| %>
  <color style="color: <%= ColorGenerator.contrast_text_color_on_background(color) %>"><%= color %></color>
<% end %>
