<%= meta_title "SVG" %>
<%= meta_description "Create and edit SVGs with this path editor." %>

<div class="skinny-container">
  <div class="form">
    <div class="form-title">SVG</div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-content">
      <div class="svg-container"><div id="svg-box"></div></div>
      <pre id="svg-raw" contenteditable class="textarea"></pre>
    </div>
  </div>
</div>
