<table id="enemy-scores-table" class="hidden">
  <thead>
    <tr>
      <td>#</td>  <!-- player.playerNumber -->
      <td>Frame</td>  <!-- player.scores.length -->
      <td>Now</td>  <!-- player.scores.last -- Does not include mid-frame -->
      <td>HDCP</td>  <!-- player.playerHcp -->
      <td>Tot</td>  <!-- player.scoreCompletedGames + player.scores.last -->
      <td>Max</td>  <!-- player.maxScore -->
    </tr>
  </thead>
  <tbody>
    <!-- Each player -->
    <!-- Team Totals -->
  </tbody>
</table>
