<li class="search-result" data-type="box" data-id="">
  <div class="result-body">
    <code class="item-hierarchy"></code>
    <div class="item-name"></div>
    <div class="item-description"></div>
    <div class="item-tags"></div>
  </div>
</li>
