<%= meta_title "Cards" %>
<%= meta_description "Generic deck of cards that can be used to play games." %>
<% content_for(:viewport_tag) { "" } %>
<% content_for :head do %>
  <%= javascript_include_tag 'support/touch_punch.js' %>
<% end %>

<div class="card-game-container">
  <div class="playing-field">
    <div class="deck">
      <%# circle, semi-circle, carbon, checker45, weave %>
      <% @deck.cards.count.times do %>
        <%= render partial: 'card', locals: { card: @deck.draw, back: "semi-circle" } %>
      <% end %>
    </div>
  </div>
  <% if true || dealer? %>
    <div class="dealer-controls">
      <a href="#" class="btn add-zone" data-type="no-flip">New Zone</a>
    </div>
  <% end %>
</div>
