<% content_for(:viewport_tag) { "" } %>
<% content_for :head do %>
  <%= javascript_include_tag 'support/touch_punch.js' %>
<% end %>

<div class="card-game-container">
  <div class="playing-field">
    <%= render partial: 'card', locals: { card: @deck.draw } %>
    <%= render partial: 'card', locals: { card: @deck.draw } %>
    <div class="deck">
      <% @deck.cards.count.times do %>
      <% end %>
    </div>
  </div>
  <% if true || dealer? %>
    <div class="dealer-controls">
      <a href="#" class="btn add-zone" data-type="no-flip">New Zone</a>
    </div>
  <% end %>
</div>
