.task-trigger-btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }
}

.execute-btn-wrapper {
  display: inline-block;
  text-align: center;
  position: relative;
  transition: transform, box-shadow 0.1s ease;
  margin-bottom: 30px;
  width: 120px;

  --btn-size: 14px; // Font size
  --btn-color: #0150D5;
  --btn-color-d2: color-mix(in srgb, var(--btn-color) 90%, black);
  --btn-color-d4: color-mix(in srgb, var(--btn-color-d2) 70%, black);

  .execute-btn {
    width: 100px;
    height: 95px;
    font-size: 1.5em;
    border-radius: 500px;
    position: relative;
    z-index: 1;
    border: 2px solid var(--btn-color-d4);
    box-shadow: 0 10px 0 var(--btn-color-d4);
    background-color: var(--btn-color);
    display: flex;
    font-size: var(--btn-size);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    left: 10px;

    .execute-btn-title {
      margin-top: -2px;
    }

    &:hover {
      transform: translateY(1px);
      box-shadow: 0 9px 0 var(--btn-color-d4);
    }
    &:active {
      transform: translateY(9px);
      box-shadow: 0 1px 0 var(--btn-color-d4);
    }
    &.disabled {
      background-color: $grey-blue;
      cursor: not-allowed;
      border-color: var(--btn-color-d4);
      transform: translateY(9px);
      box-shadow: 0 1px 0 $grey-blue;
    }
  }

  .execute-btn-base {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 120px;
    background-color: var(--btn-color-d2);
    border-radius: 8px;
    border: 2px solid var(--btn-color-d4);
  }

  .message-wrapper {
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    font-size: 0.9em;
    text-align: center;
    z-index: 3;
  }
}

.ctr-tasks.act-trigger {
  .execute-btn-wrapper {
    margin: 0 auto;
    margin-top: 20%;
    width: 220px;

    .execute-btn {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      font-size: 1.5em;
      left: 0;
    }

    .execute-btn-base {
      height: 220px;
    }
  }
}
