.ctr-action_events.act-calendar {
  .calendar {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    grid-auto-rows: minmax(0, auto);
    border-collapse: collapse;

    .cal-date, .cal-hour, .cal-cell {
      padding: 5px;
      border: 1px solid $blue-d2;
    }
  }
}
