code {
  display: inline;
  background: #E0E0E5;
  padding: 0 3px;
  font-family: monospace;
  white-space: nowrap;
}

pre.prettyprint {
  display: block;
  padding: 30px 20px;
  overflow-x: scroll;
  overflow-y: visible;

  .str {
    color: #98C379;
  }

  .com {
    font-style: italic;
  }
}

pre.preformat {
  background: #333;
  padding: 10px;
}

.color-highlight {
  display: inline;
  padding: 0 3px;
  font-family: monospace;
  white-space: nowrap;
}

.command {
  display: block;
  position: relative;
  background: black;
  padding: 10px 20px;
  overflow-x: scroll;
  overflow-y: visible;
  color: lime;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  white-space: pre;
}
