code {
  display: inline;
  white-space: nowrap;
  font-family: monospace;
  background: #E0E0E5;
  padding: 0 3px;
}
pre.prettyprint {
  display: block;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 30px 20px;

  .str { color: #98C379; }
  .com { font-style: italic; }
}
pre.preformat {
  padding: 10px;
  background: #333;
}
.color-highlight {
  display: inline;
  white-space: nowrap;
  font-family: monospace;
  padding: 0 3px;
}
