.skinny-container {
  position: relative;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

.split-container {
  display: flex;
  justify-content: space-around;

  .half-container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  .flex-field {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

    @for $i from 1 through 12 {
      &.flex-#{$i} {
        width: (100% / (12 / $i));
      }
    }
  }
}

.flex-vert-align {
  display: flex;
  vertical-align: middle;
}
