.skinny-container {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.split-container {
  display: flex;
  justify-content: space-around;

  .half-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
  }
}
