$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;

.flash-banner {
  position: fixed;
  z-index: 11;
  top: 10px;
  right: 20px;
  max-width: 100%;
  margin-left: 20px;
  text-align: center;

  .flash-container {
    position: relative;
    padding: 10px;
    max-width: 300px;
    height: auto;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 8px 10px -8px #000;

    .dismiss-flash {
      position: absolute;
      font-size: 12px;
      top: 0px;
      right: 2px;
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &.flash-notice > .flash-container {
    background-color: $flash-notice-bg;
    color: white;
    .dismiss-flash i.fa-times-circle-o { color: white; }
  }
  &.flash-alert > .flash-container {
    background-color: $flash-alert-bg;
    color: white;
    .dismiss-flash i.fa-times-circle-o { color: white; }
  }
}
