form:not(.basic), .app-card-container, .form {
  margin-top: 30px;
  box-shadow: 3px 3px 10px $grey-blue;
  border-radius: 10px;
  background: $blue-1;
  overflow: hidden;
  font-family: Arial;

  .form-title, .app-card-title {
    background: $blue-3;
    padding: 20px;
    color: white;
    font-size: 32px;

    .subtitle {
      font-size: 14px;
    }
  }
  .form-container {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;

    h3 {
      margin-bottom: 0;
    }
  }
  .form-fields, .app-card-body {
    margin: 20px auto;
  }
  .form-field, .app-card-inner {
    padding: 0 15px;
    label { color: darken($grey-blue, 15%); }
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
  .split-fields {
    font-size: 0;
    .form-field {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      font-size: 16px;
    }
  }
  .form-submission {
    margin-bottom: 15px;
    text-align: center;
  }
  .helpful-links {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    a { display: block; }
  }
}

// Text-ish
input[type=color], input[type=date], input[type=datetime], input[type=email],
input[type=month], input[type=number], input[type=password], input[type=search],
input[type=tel], input[type=text], input[type=time], input[type=url],
input[type=week], textarea, .textarea {
  box-sizing: border-box;
  margin: 4px auto;

  border: 2px solid rgba($grey-blue, 0.5);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: darken($grey-blue, 10%);

  font-size: 18px;
}
textarea {
  min-height: 50px;
  resize: vertical;
}

// Button-ish
.btn, button, input[type=button], input[type=reset], input[type=submit] {
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;

  box-shadow: inset 0px 1px 0px 0px lighten($blue-3, 15%);
  border: 1px solid darken($blue-3, 5%);
  border-radius: 6px;
  background: linear-gradient(to bottom, $blue-3 5%, darken($blue-3, 15%) 100%);
  background-color: $blue-3;

  padding: 6px 24px;

  color: white !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570CD;

  &:hover {
    background: linear-gradient(to bottom, darken($blue-3, 15%) 5%, $blue-3 100%);
    background-color: darken($blue-3, 15%);
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &.wide {
    padding: 8px 24px;
    width: 100%;
  }
  &.danger {
    box-shadow: inset 0px 1px 0px 0px lighten($danger, 15%);
    border: 1px solid darken($danger, 5%);
    background: linear-gradient(to bottom, $danger 5%, darken($danger, 15%) 100%);
    background-color: $danger;
    &:hover {
      background: linear-gradient(to bottom, darken($danger, 15%) 5%, $danger 100%);
      background-color: darken($danger, 15%);
    }
  }
  &.disabled {
    cursor: not-allowed;
    box-shadow: inset 0px 1px 0px 0px lighten($grey-blue, 10%);
    border: 1px solid darken($grey-blue, 5%);
    background: linear-gradient(to bottom, darken($grey-blue, 10%), $grey-blue 100%);
    background-color: darken($grey-blue, 10%);
  }
}


select {
  appearance: none;
  box-sizing: border-box;
  margin: 4px auto;
  box-shadow: none;

  border: 2px solid darken($grey-blue, 10%);
  border-radius: 4px;

  background: white url('https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.png') no-repeat calc(100% - 15px) 55%;
  background-color: white;
  background-size: 10px 10px;
  padding: 0 8px;
  width: 100%;
  height: 28px;
  overflow: hidden;

  color: darken($grey-blue, 10%);
  font-weight: normal;

  line-height: 100%;
  text-overflow: ellipsis;

  &:disabled {
    // color: $grey-med;
    // border-color: $grey-med-light;
  }
}

.checkbox-wrapper {
  input[type=checkbox] { display: none; }
  input[type=checkbox] + label {
    .checkbox-placeholder {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin: 2px;
      width: 25px;
      height: 25px;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $base-blue;
        border-radius: 4px;
        content: "";
      }
      &:after {
        position: absolute;
        top: -8px;
        left: 0;
        font-family: "FontAwesome";
        font-size: 35px;
      }
    }
  }
  input[type=checkbox]:not(:checked) + label:hover .checkbox-placeholder:after {
    color: rgba($base-blue, 0.7);
    content: "\f00c";
  }
  input[type=checkbox]:checked + label .checkbox-placeholder:after {
    color: $base-blue;
    content: "\f00c";
  }
}

.radio-wrapper {
  display: inline-block;
  vertical-align: middle;

  input[type=radio] { display: none; }
  input[type=radio] + label {
    .radio-placeholder {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin: 2px;
      width: 16px;
      height: 16px;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $base-blue;
        border-radius: 100%;
        content: "";
      }
      &:after {
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        border-radius: 100%;
        content: "";
      }
    }
  }
  input[type=radio]:not(:checked) + label:hover .radio-placeholder:after {
    background: rgba($base-blue, 0.7);
  }
  input[type=radio]:checked + label .radio-placeholder:after {
    background: $base-blue;
  }
}

// file
// range

// hidden
