.app-card-container,
.form,
form:not(.basic) {
  margin-top: 30px;
  box-shadow: 3px 3px 10px $grey-blue;
  border-radius: 10px;
  background: $blue-l5;
  overflow: hidden;
  font-family: Arial;

  .app-card-title,
  .form-title {
    background: $base-blue;
    padding: 20px;
    color: white;
    font-size: 32px;

    .subtitle {
      font-size: 14px;
    }
  }

  .form-container {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;

    h3 {
      margin-bottom: 0;
    }
  }

  .app-card-body,
  .form-fields {
    margin: 20px auto;
  }

  .app-card-inner,
  .form-field {
    padding: 0 15px;

    label {
      color: darken($grey-blue, 15%);
    }

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  .split-fields {
    font-size: 0;

    .form-field {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      font-size: 16px;
    }
  }

  .flex-fields {
    display: flex;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-submission {
    margin-bottom: 15px;
    text-align: center;
  }

  .helpful-links {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;

    a {
      display: block;
    }
  }
}

// Text-ish
.textarea,
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  &:not(.basic, .invisi-field) {
    box-sizing: border-box;
    margin: 4px auto;

    border: 2px solid rgba($grey-blue, 0.5);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    color: $text-color;

    font-size: 18px;
  }
  &.invisi-field {
    border: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    color: inherit;
    background: inherit;
  }
}

textarea {
  min-height: 50px;
  resize: vertical;
}

@mixin btn-color($btn-color) {
  background-color: $btn-color;
  box-shadow: 0 1px 0 0 lighten($btn-color, 15%);
  text-shadow: 0 1px 0 darken($btn-color, 15%);

  &:hover {
    background-color: darken($btn-color, 15%);
    box-shadow: 0 1px 0 0 $btn-color;
  }

  &:active, &.active {
    background-color: darken($btn-color, 20%);
    box-shadow: 0 1px 0 0 darken($btn-color, 5%);
  }
}
// Button-ish
.btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  @include btn-color($base-blue);
  transition: 0.2s;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;

  border-radius: 6px;

  padding: 6px 24px;

  color: white !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  &:active {
    position: relative;
    top: 1px;
  }

  &.wide {
    padding: 8px 24px;
    width: 100%;
  }

  &.danger {
    box-shadow: inset 0 1px 0 0 lighten($danger, 15%);
    border: 1px solid darken($danger, 5%);
    background-color: $danger;

    &:hover {
      background: linear-gradient(to bottom, darken($danger, 15%) 5%, $danger 100%);
      background-color: darken($danger, 15%);
    }
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    box-shadow: inset 0 1px 0 0 lighten($grey-blue, 10%);
    border: 1px solid darken($grey-blue, 5%);
    background-color: $text-color;
  }
}

select {
  appearance: none;
  box-sizing: border-box;
  margin: 4px auto;
  box-shadow: none;

  border: 2px solid $text-color;
  border-radius: 4px;

  background: white url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%230160FF"/></svg>') no-repeat calc(100% - 5px) 55%;
  background-color: white;
  background-size: 10px 10px;
  padding: 0 8px;
  width: 100%;
  height: 28px;
  overflow: hidden;

  color: $text-color;
  font-weight: normal;

  line-height: 100%;
  text-overflow: ellipsis;

  &:disabled {
    // color: $grey-med;
    // border-color: $grey-med-light;
  }
}

.checkbox-wrapper {
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label {
    .checkbox-placeholder {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin: 2px;
      width: 25px;
      height: 25px;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $base-blue;
        border-radius: 4px;
        content: "";
      }

      &:after {
        position: absolute;
        top: -8px;
        left: 0;
        font-family: "FontAwesome";
        font-size: 35px;
      }
    }
  }

  input[type=checkbox]:not(:checked) + label:hover .checkbox-placeholder:after {
    color: rgba($base-blue, 0.7);
    content: "\f00c";
  }

  input[type=checkbox]:checked + label .checkbox-placeholder:after {
    color: $base-blue;
    content: "\f00c";
  }

  &.white {
    input[type=checkbox] + label {
      .checkbox-placeholder {
        &:before {
          border: 2px solid white;
        }
      }
    }
    input[type=checkbox]:not(:checked) + label:hover .checkbox-placeholder:after {
      color: $grey-light;
    }
    input[type=checkbox]:checked + label .checkbox-placeholder:after {
      color: white;
    }
  }
}

.radio-wrapper {
  display: inline-block;
  vertical-align: middle;

  input[type=radio] {
    display: none;
  }

  input[type=radio] + label {
    .radio-placeholder {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin: 2px;
      width: 16px;
      height: 16px;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $base-blue;
        border-radius: 100%;
        content: "";
      }

      &:after {
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        border-radius: 100%;
        content: "";
      }
    }
  }

  input[type=radio]:not(:checked) + label:hover .radio-placeholder:after {
    background: rgba($base-blue, 0.7);
  }

  input[type=radio]:checked + label .radio-placeholder:after {
    background: $base-blue;
  }
}

// file
// range

// hidden

.dark-mode {
  .app-card-container, .form, form:not(.basic) {
    box-shadow: 3px 3px 10px $grey-dark;
    background: $blue-d2;
    color: $grey-light;

    .app-card-title, .form-title {
      background: $blue-d3;
    }

    .app-card-inner, .form-field {
      label {
        color: $grey-light;
      }
    }
  }

  select,
  .textarea,
  input[type=color],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea {
    &:not(.basic) {
      border: 2px solid rgba($blue-d2, 0.5);
      color: $grey-light;
      &:not(select) {
        background: $grey-blue;
      }
    }
    &::placeholder {
      color: darken($grey-light, 30%);
    }
    &.invisi-field {
      border: none;
      color: inherit;
      background: inherit;
    }
  }
  select {
    background: $grey-blue url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%23FFFFFF"/></svg>') no-repeat calc(100% - 5px) 55%;
    // background-color: $grey-blue;
  }

  .btn,
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
    @include btn-color($blue-d1);

    color: $grey-light !important;

    // No changes to these, just need to have them after the btn-color mixin
    &.danger {
      box-shadow: inset 0 1px 0 0 lighten($danger, 15%);
      border: 1px solid darken($danger, 5%);
      background-color: $danger;

      &:hover {
        background: linear-gradient(to bottom, darken($danger, 15%) 5%, $danger 100%);
        background-color: darken($danger, 15%);
      }
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      box-shadow: inset 0 1px 0 0 lighten($grey-blue, 10%);
      border: 1px solid darken($grey-blue, 5%);
      background-color: $text-color;
    }
  }
}
