.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  overflow: auto;

  .modal-content {
    position: relative;
    margin: 10% auto;
    width: 500px;
    max-width: 100%;

    h3 {
      color: $base-blue;
      font-size: 24px;
      text-align: center;
    }

    .close-btn {
      float: right;
      transition: color 0.4s;
      color: white;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: $grey-blue;
      }
    }
  }
}
