#list-item-schedule {
  input[type=text] {
    display: inline-block;
    vertical-align: middle;
    border-width: 1px;
    padding: 1px;
    width: 26px;
    height: 23px;
    font-size: 16px;
    line-height: 23px;

    text-align: center;

    &.right { text-align: right; }
    &.left { text-align: left; }
  }
  input[type=submit] { margin-top: 15px; }
  select {
    display: inline-block;
    vertical-align: middle;
    border-width: 1px;
    background: white url('https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.png') no-repeat calc(100% - 2px) 55%;
    background-size: 10px 10px;
    padding: 0 15px 0 3px;
    width: auto;
    height: 23px;
    font-size: 16px;
    line-height: 20px;
  }
  input[type=checkbox]#meridian {
    display: none;

    & + label {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      box-sizing: border-box;
      margin: 4px auto;

      border: 1px solid $text-color;
      border-radius: 4px;
      padding: 1px;
      width: 28px;
      height: 23px;

      color: $text-color;
      font-size: 14px;
      line-height: 20px;
      user-select: none;
      text-align: center;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        content: "AM";
      }
    }
    &:checked + label:after { content: "PM"; }
  }

  .calendar {
    margin-top: 10px;
    font-size: 0;

    strong {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 30px;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
    }
    input[type=checkbox] {
      display: none;

      & + label {
        display: inline-block;
        position: relative;
        vertical-align: top;
        box-sizing: border-box;
        margin: -1px;

        border: 2px solid $text-color;
        padding: 0;
        width: 24px;
        height: 24px;
        color: $text-color;
        font-size: 14px;
        font-weight: bold;
        line-height: 23px;
        user-select: none;

        text-align: center;

        &.span-4 {
          width: 90px;
        }
      }
      &:checked + label {
        background: $text-color;
        color: white;
      }
    }
  }
}

.dark-mode {
  #list-item-schedule {
    select {
      background: $blue-d2 url('https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.png') no-repeat calc(100% - 2px) 55%;
    }
    input[type=checkbox]#meridian {
      & + label {
        border: 1px solid $grey-light;
        color: $grey-light;
      }
    }
    .calendar {
      input[type=checkbox] {
        & + label {
          border: 2px solid $grey-light;
          color: $grey-light;
        }
        &:checked + label {
          background: $grey-light;
          color: $text-color;
        }
      }
    }
  }
}
