#list-item-schedule {
  input[type=text] {
    height: 23px;
    width: 26px;
    display: inline-block;
    vertical-align: middle;

    text-align: center;
    line-height: 23px;
    font-size: 16px;
    padding: 1px;
    border-width: 1px;

    &.right { text-align: right; }
    &.left { text-align: left; }
  }
  input[type=submit] { margin-top: 15px; }
  select {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 23px;
    font-size: 16px;
    line-height: 20px;
    border-width: 1px;
    background: white url('https://image.freepik.com/free-icon/caret-arrowhead-facing-down_318-34455.png') no-repeat calc(100% - 2px) 55%;
    background-size: 10px 10px;
    padding: 0 15px 0 3px;
  }
  input[type=checkbox]#meridian {
    display: none;

    & + label {
      position: relative;
      height: 23px;
      width: 28px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 20px;

      border: 1px solid darken($grey-blue, 10%);
      border-radius: 4px;
      margin: 4px auto;

      color: darken($grey-blue, 10%);
      box-sizing: border-box;
      font-size: 14px;
      padding: 1px;
      user-select: none;

      &:after {
        content: "AM";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
    }
    &:checked + label:after { content: "PM"; }
  }

  .calendar {
    font-size: 0;
    margin-top: 10px;

    strong {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      line-height: 22px;
      font-size: 14px;
      text-align: left;
      margin-right: 5px;
    }
    input[type=checkbox] {
      display: none;

      & + label {
        position: relative;
        height: 24px;
        width: 24px;
        margin: -1px;
        padding: 0;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;

        border: 2px solid darken($grey-blue, 10%);

        text-align: center;
        line-height: 23px;
        font-size: 14px;
        color: darken($grey-blue, 10%);
        font-weight: bold;
        user-select: none;

        &.span-4 {
          width: 90px;
        }
      }
      &:checked + label {
        background: darken($grey-blue, 10%);
        color: white;
      }
    }
  }
}
