table.monsters {
  margin: 0 auto;
  text-align: left;
  tr {
    td {
      width: 100px;
      border: 1px solid black;
      border-collapse: collapse;

      p { text-align: left; }
      &:not(.rune-value) {
        padding-left: 10px;
        padding-right: 10px;
      }
      &:first-of-type {
        font-weight: bold;
      }
      &:not(:first-of-type) {
        text-align: right;
        input {
          text-align: right;
        }
      }
    }
  }
}


.ttable {
  display: table;
  &.wide { width: 100%; max-width: 100%; }
  &.equal { table-layout: fixed; }
  &.striped {
    color: $text-color;

    .trow:nth-child(even) {
      background-color: $blue-l5;
    }
    .trow:nth-child(odd) {
      background-color: $blue-l4;
    }
  }
  .title-row .tcell {
    background-color: $base-blue;
  }
  &.bordered {
    .tcell {
      padding: 5px;
      border: 1px solid white;
      border-collapse: collapse;
    }
  }
  .trow.title-row {
    font-weight: bold;
    font-size: 20px;
  }
  a.trow {
    text-decoration: none;
    &:hover {
      background-color: $base-blue !important;
    }
  }
}
.tbody { display: table-row-group; }
.trow, .thead { display: table-row; }
.tcell, .th { display: table-cell; }
