#cube-container {
  position: absolute;
  cursor: grab;
  left: calc(50% - 200px);
  top: 100px;
}

// #cube-viewport {
//   perspective: 800px;
//   perspective-origin: 50% 200px;
// }

#cube {
  position: relative;
  height: 400px;
  width: 400px;
  transform-style: preserve-3d;
  transition: all .2s linear;
  .cubie {
    position: absolute;
    margin: 1px;
    backface-visibility: hidden;
    border-radius: 15px;
    width:  95px;
    height: 95px;
    background-size: 95px;
    opacity: 1;
    z-index: -1;
    text-align: center;
    font-size: 30px;
    border: 3px solid #333;
    overflow: hidden;
    & > div {
      line-height: 95px;
      box-sizing: border-box;
      border-collapse: collapse;
      span { visibility: hidden; }
      &.face1 { background: blue; }
      &.face2 { background: red; }
      &.face3 { background: #DDD; }
      &.face4 { background: orange; }
      &.face5 { background: yellow; }
      &.face6 { background: green; }
    }
  }
}

/* PLANES & ROTATIONS */
#plane { transform-style: preserve-3d; }
.moving { transition: all .2s linear; }

/* PLANE M */
.M-left {
  transform-origin: 0px 200px;
  transform: rotateX(90deg);
}
.M-right {
  transform-origin: 0px 200px;
  transform: rotateX(-90deg);
}

/* PLANE E */
.E-right {
  transform: rotateY(90deg);
}
.E-left {
  transform: rotateY(-90deg);
}

/* PLANE S */
.S-left {
  transform-origin: 200px 200px;
  transform: rotateZ(-90deg);
}
.S-right {
  transform-origin: 200px 200px;
  transform: rotateZ(90deg);
}

/* CUBIES POSITIONS */

/* UP FACE CUBIES */
.utl { transform: rotateX(90deg) translate3d(50px, -100px, 0); }
.ucl { transform: rotateX(90deg) translate3d(50px, 0, 0); }
.ubl { transform: rotateX(90deg) translate3d(50px, 100px, 0px); }
.utc { transform: rotateX(90deg) translate3d(150px, -100px, 0); }
.ucc { transform: rotateX(90deg) translate3d(150px, 0, 0); }
.ubc { transform: rotateX(90deg) translate3d(150px, 100px, 0); }
.utr { transform: rotateX(90deg) translate3d(250px, -100px, 0); }
.ucr { transform: rotateX(90deg) translate3d(250px, 0, 0); }
.ubr { transform: rotateX(90deg) translate3d(250px, 100px, 0); }

/* FRONT FACE CUBIES */
.ftl { transform: translate3d(50px, 50px, 150px); }
.fcl { transform: translate3d(50px, 150px, 150px); }
.fbl { transform: translate3d(50px, 250px, 150px); }
.ftc { transform: translate3d(150px, 50px, 150px); }
.fcc { transform: translate3d(150px, 150px, 150px); }
.fbc { transform: translate3d(150px, 250px, 150px); }
.ftr { transform: translate3d(250px, 50px, 150px); }
.fcr { transform: translate3d(250px, 150px, 150px); }
.fbr { transform: translate3d(250px, 250px, 150px); }

/* DOWN FACE CUBIES */
.dtl { transform: rotateX(-90deg) translate3d(50px, -100px, 300px); }
.dcl { transform: rotateX(-90deg) translate3d(50px, 0, 300px); }
.dbl { transform: rotateX(-90deg) translate3d(50px, 100px, 300px); }
.dtc { transform: rotateX(-90deg) translate3d(150px, -100px, 300px); }
.dcc { transform: rotateX(-90deg) translate3d(150px, 0px, 300px); }
.dbc { transform: rotateX(-90deg) translate3d(150px, 100px, 300px); }
.dtr { transform: rotateX(-90deg) translate3d(250px, -100px, 300px); }
.dcr { transform: rotateX(-90deg) translate3d(250px, 0px, 300px); }
.dbr { transform: rotateX(-90deg) translate3d(250px, 100px, 300px); }

/* BACK FACE CUBIES */
.btl { transform: rotateX(-180deg) translate3d(50px, -250px, 150px); }
.bcl { transform: rotateX(-180deg) translate3d(50px, -150px, 150px); }
.bbl { transform: rotateX(-180deg) translate3d(50px, -50px, 150px); }
.btc { transform: rotateX(-180deg) translate3d(150px, -250px, 150px); }
.bcc { transform: rotateX(-180deg) translate3d(150px, -150px, 150px); }
.bbc { transform: rotateX(-180deg) translate3d(150px, -50px, 150px); }
.btr { transform: rotateX(-180deg) translate3d(250px, -250px, 150px); }
.bcr { transform: rotateX(-180deg) translate3d(250px, -150px, 150px); }
.bbr { transform: rotateX(-180deg) translate3d(250px, -50px, 150px); }

/* LEFT FACE CUBIES */
.ltl { transform: rotateY(-90deg) translate3d(-100px, 50px, 0px); }
.lcl { transform: rotateY(-90deg) translate3d(-100px, 150px, 0px); }
.lbl { transform: rotateY(-90deg) translate3d(-100px, 250px, 0px); }
.ltc { transform: rotateY(-90deg) translate3d(0px, 50px, 0px); }
.lcc { transform: rotateY(-90deg) translate3d(0px, 150px, 0px); }
.lbc { transform: rotateY(-90deg) translate3d(0px, 250px, 0px); }
.ltr { transform: rotateY(-90deg) translate3d(100px, 50px, 0px); }
.lcr { transform: rotateY(-90deg) translate3d(100px, 150px, 0px); }
.lbr { transform: rotateY(-90deg) translate3d(100px, 250px, 0px); }

/* RIGHT FACE CUBIES */
.rtl { transform: rotateY(90deg) translate3d(-100px, 50px, 300px); }
.rcl { transform: rotateY(90deg) translate3d(-100px, 150px, 300px); }
.rbl { transform: rotateY(90deg) translate3d(-100px, 250px, 300px); }
.rtc { transform: rotateY(90deg) translate3d(0px, 50px, 300px); }
.rcc { transform: rotateY(90deg) translate3d(0px, 150px, 300px); }
.rbc { transform: rotateY(90deg) translate3d(0px, 250px, 300px); }
.rtr { transform: rotateY(90deg) translate3d(100px, 50px, 300px); }
.rcr { transform: rotateY(90deg) translate3d(100px, 150px, 300px); }
.rbr { transform: rotateY(90deg) translate3d(100px, 250px, 300px); }
