#clocks, #flashcards {
  position: absolute;
}

#flashcards {
  right: 0;
}

#options {
  margin-left: 140px;
  #textfields {
    margin-left: -40px;
  }
}

#searchResults {
  margin: 10px 0 10px 75px;
  width: 250px;
  height: 150px;
  border: gray 3px ridge;
}

#flashCard {
  margin: 0 20px 20px 20px;
  width: 400px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0 0 5px #000;
  #cardrule {
    list-style: none;
    line-height: 12px;
  }

  #flashcard-title {
    border-bottom: 2px #FF7B7B solid;
    height: 30px;
    font-weight: bold;
    background: transparent;
  }

  #flashcard-line {
    border-bottom: 2px #A8ABFF solid;
    height: 20px;
  }

  .flashcard-class {
    font-family: "Comic Sans MS";
    padding-right: 21px;
    padding-left: 8px;
    font-size: 16px;
    width: 371px;
    border: none;
    &:focus {
      outline: 0;
    }
  }

  .center {
    text-align: center;
  }

  .flashcard-btn {
    position: absolute;
    right: 0;
    padding: 2px;
    width: 14px;
    height: 14px;
  }
  .jsflip-btn {
    margin: 6px 3px 0 0;
  }
  .center-btn {
    margin: 1px 3px 0 0;
  }
  .back-body {
    padding: 20px;
  }
  .back-textbox {
    font-family: "Comic Sans MS";
    font-size: 16px;
    line-height: 16px;
    resize: none;
    border: none;
    overflow: hidden;
    &:focus {
      outline: 0;
    }
  }
}

.flashcard-container {
  width: 400px;
  height: 240px;
  position: relative;
  margin: 10px 50px 10px 0;
}

.flashcard-container.flip .card {
  -webkit-transform: rotateY(180deg)translateX(-200px);
  -moz-transform: rotateY(180deg)translateX(-200px);
}

.flashcard-container .card {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform-origin: 100px 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transform-origin: 100px 100%;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.6s;
}

.flashcard-container .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flashcard-container .card .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  background: white;
}
