$base-blue: #0160FF;
$base-comp: #FE9F00;
$danger: #F6433D;
$grey-blue: #6481A1;
$text-color: darken($grey-blue, 20%);

:root {
  --statement-width: 500px;
  --body-bg: #21374F;

  --syntax-base: #ABB2BF;
  --syntax-class: #E5C07B;
  --syntax-variable: #F7DEB1;
  --syntax-bool: #D19A66;
  --syntax-string: #1DC116;
  --syntax-symbol: #56B6C2;
  /* --style-return: #C678DD; */

  --style-varname: #61AFEF;
  --style-danger: #B20015;
  /* #D62839 */

  --statement-bg: #013080;
  // --statement-bg-highlight: color-mix(in srgb, var(--statement-bg), #EEF 20%);
  --statement-border: #4F677F;
  --statement-bg-commented: #5282b7;
  --statement-flash: orange;

  --input-bg: #6481A1;

  --checkbox-width: 60px;
  --checkbox-padding: calc(var(--checkbox-width) * 0.05);
  --checkbox-height: calc(var(--checkbox-width)/3 + var(--checkbox-padding));
  --checkbox-innerheight: calc(var(--checkbox-width)/3 - var(--checkbox-padding));
  --checkbox-fontsize: calc(var(--checkbox-width)/6);
}

// .fa, .fa-regular, .fa-hashtag {
//   display: inline-block;
//   width: 6px;
//   height: 10px;
//   background: #0160FF;
//   border-radius: 2px;
// }

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  padding-bottom: 500px;
  color: var(--syntax-base);
  font-family: "Menlo";
}

.env-banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  background: $base-comp;
  height: 10px;
  color: $text-color;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}
body:has(.title-bar) {
  margin-top: 40px;
}
body:has(.env-banner) {
  margin-top: 50px; // 40+10
}

.hidden { display: none !important; }
.text-center { text-align: center; }

.title-bar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 2px $grey-blue;
  background: var(--input-bg);
  height: 40px;
  color: var(--body-bg);
  font-weight: bold;
  text-align: center;
}
body:has(.env-banner) .title-bar {
  top: 10px;
}

.modal-wrapper {
  display: none;
}
.modal-wrapper:has(.modal.show) {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  padding-top: 50px;
  overflow: auto;
  overflow-y: auto;

  .modal {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--body-bg);
    padding: 10px;
    width: 400px;
    max-width: 100%;

    code {
      display: block;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: black;
      padding: 10px;
      min-height: 100px;
      overflow-x: auto;
      color: lime;
      font-family: monospace;
      font-size: 12px;
      line-height: 1.5;
      white-space: pre;

      .syntax--statement:not(.syntax--commented) {
        color: #DBDBDB; // Default syntax color (=, ::, (), etc...)

        .syntax--inspect {}
        .syntax--variable {
          color: #276AD9; // abcde = fdsa.doit((abcd))
        }
        .syntax--varname {
          color: #276AD9; // (abcde) = fdsa.doit
        }
        .syntax--objname {
          color: #276AD9; // abcde = (fdsa).doit
        }
        .syntax--singleton {
          color: #26D9D9; // abcde = (Class).doit
        }
        .syntax--methodname {
          color: #ABB2BF; // abcde = fdsa.(doit)
        }
        .syntax--op {
          color: #DBDBDB; // ::
        }
        .syntax--cast {
          color: darkcyan; // ::(Cast)
        }
        .syntax--string {
          color: #26D926;
        }
        .syntax--constant {
          color: #C678DD; // (true|false|null)
        }
        .syntax--numeric {
          color: #EDDD3D; // (17)
        }
        .syntax--space {
          position: relative;

          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: grey;
            width: 2px;
            height: 2px;
            content: "" ;
          } // Literally a space character
        }
      }
      .syntax--commented {
        color: grey;
        font-style: italic;
      }
      // .jil-console {
      //   position: fixed;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   z-index: 999;
      //   background: $blue-d5;
      //   max-width: 100%;
      //   height: 100px;
      //   overflow: auto;
      //   padding: 5px;
      //
      //   &::-webkit-scrollbar {
      //     height: 4px;
      //     width: 4px;
      //     background: $blue-d3;
      //   }
      //
      //   &::-webkit-scrollbar-thumb {
      //     background: darken(lime, 25%);
      //     border-radius: 1ex;
      //     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
      //
      //     &:hover { background: darken(lime, 15%); }
      //     &:active { background: darken(lime, 5%); }
      //   }
      //
      //   &::-webkit-scrollbar-corner {
      //     background: $blue-d4;
      //   }
      //
      //   code {
      //     display: block;
      //     position: relative;
      //     margin: 0 auto;
      //     background: none;
      //     width: 600px;
      //     max-width: 100%;
      //     height: 100%;
      //     color: lime;
      //     white-space: pre-wrap;
      //   }
      // }
    }
  }
}


.toast {
  position: fixed;
  top: 20px;
  right: -300px;
  transform: translateX(0);
  opacity: 0;
  z-index: 9999;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #333;
  padding: 15px;
  min-width: 100px;
  max-width: 300px;
  color: white;

  &.show {
    transform: translateX(-320px);
    opacity: 1;
  }
  &:has(.text-center) { text-align: center; }
  &.toast-success { background-color: #4CAF50; }
  &.toast-error { background-color: #F44336; }
  &.toast-info { background-color: #2196F3; }
}

#reference-dropdown {
  position: fixed;
  z-index: 1;
  border-radius: 5px;
  background: white;
  width: 200px;
  height: auto;
  overflow: auto;

  ul {
    margin: 10px;
    // margin-block-start: 0;
    padding: 0;

    li {
      border-radius: 5px;
      padding: 2px 5px;
      color: var(--input-bg);
      list-style-type: none;

      &.upcoming {
        color: var(--syntax-base);
      }
    }

    li:not(:has(ul)).dropdown-hovered-item {
      background: lightgrey;
    }
  }

  .horz-list {
     ul {
       display: flex;
       justify-content: space-around;
       margin: 0;
       list-style-type: none;

       li {
         display: inline-block;
       }
     }
  }
}

input, textarea, select {
  display: inline-block;
  margin: 3px 1px;
  border: 1px solid var(--statement-border);
  // border-color: rgba(211, 211, 211, 1);
  border-radius: 4px;
  background-color: var(--input-bg);
  color: lightgrey;
  font-size: 12px;

  &::placeholder {
    opacity: 0.4;
    color: lightgrey;
  }
  &::-webkit-scrollbar {
    background: lightgrey;
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    border-radius: 1ex;
    background: var(--statement-bg);
  }
  &::-webkit-scrollbar-corner {
    background: lightgrey;
  }
}

@mixin btn-color($btn-color) {
  box-shadow: 0 1px 0 0 lighten($btn-color, 15%);
  background-color: $btn-color;
  text-shadow: 0 1px 0 darken($btn-color, 15%);

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 0 0 $btn-color;
    background-color: darken($btn-color, 15%);
  }

  &:active, &.active {
    box-shadow: 0 1px 0 0 darken($btn-color, 5%);
    background-color: darken($btn-color, 20%);
  }
}
// Button-ish
.btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  @include btn-color($base-blue);
  transition: 0.2s;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;

  border-radius: 6px;

  padding: 6px 24px;

  color: white !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  &:active {
    position: relative;
    top: 1px;
  }

  &.wide {
    padding: 8px 24px;
    width: 100%;
  }

  &.btn-dirty { @include btn-color(#E5C07B); }
  &.btn-success { @include btn-color(lime); }
  &.danger, &.btn-error { @include btn-color($danger); }
  &.disabled, &:disabled, &.btn-pending {
    @include btn-color($text-color);

    cursor: not-allowed;
    pointer-events: none;
  }
}

.config-wrapper {
  margin: 20px auto;
  width: 100%;

  .config {
    margin: 0 auto;
    width: 100%;
    max-width: var(--statement-width);

    input {
      padding: 5px;
      width: 100%;
      font-size: 18px;
    }

    .btns {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}

.results {
  position: relative;
  margin: 10px auto;
  border: 2px solid var(--statement-border);
  border-radius: 10px;
  background: var(--statement-bg);
  padding: 10px;
  width: 100%;
  max-width: var(--statement-width);

  &:has(.result:empty):has(.output:empty):has(.error:empty):has(.timestamp:empty) {
    display: none;
  }

  .timestamp {
    position: absolute;
    top: 2px;
    left: 5px;
    color: $grey-blue;
    font-size: 12px;
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .result {
    color: lime;
  }
  .output {
    overflow: auto;
    color: lightgrey;
    font-size: 12px;
    white-space: pre-wrap;
  }
}

.sortable-ghost {
  margin: 5px 0;
  border: 2px solid $grey-blue;
  border-radius: 8px;
  background: $base-blue;
  min-height: 10px;
  max-height: 10px;

  * {
    display: none;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;

  .statements {
    margin: 0 auto;
    width: 100%;
    max-width: var(--statement-width);
  }
  .statement-wrapper {
    width: 100%;

    .statement {
      position: relative;
      margin: 5px 0;
      border: 1px solid var(--statement-border);
      border-radius: 5px;
      background-color: var(--statement-bg);
      padding: 12px;
      padding-left: 25px;

      .obj-args {
        display: flex;
        flex-flow: wrap;
        margin: 5px auto;
        min-height: 10px;

        tab {
          display: inline-block;
          flex-grow: 1;
        }
        nl {
          display: block;
          width: 100%;
          height: 5px;
        }

        .content {
          position: relative;
          width: 100%;
          min-height: 10px;

          &:before {
            position: absolute;
            left: -5px;
            border-right: none;
            border-width: 1px 1px 1px;
            border-style: solid none solid solid;
            border-color: var(--statement-border) var(--statement-border) var(--statement-border);
            border-image: initial;
            width: 2px;
            height: 100%;
            min-height: 10px;
            content: "";
          }

          &.open {
            padding-bottom: 12px;
            min-height: 20px;

            .content-dropdown.below {
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }
      }

      .obj-info, .obj-dup, .obj-actions, .obj-data, .obj-inspect {
        position: absolute;
        font-size: 10px;

        * { display: inline-block; }
        .obj-dup, .obj-varname, .obj-delete, .obj-returntype, .obj-inspect {
          cursor: pointer;
        }
      }

      .obj-dup {
        position: absolute;
        top: 2px;
        left: 5px;
        width: 10px;
        color: lightgrey;
      }
      .obj-inspect {
        position: absolute;
        bottom: 3px;
        left: 3px;
        width: 10px;
        color: rgba(lightgrey, 0.6);

        &.fa-eye {
          color: white;
        }
      }
      .obj-info {
        top: 2px;
        left: 20px;

        .obj-type { color: var(--syntax-class); }
        .obj-varname { color: var(--style-varname); }
        .obj-varname.noname:before {
          color: lightgrey;
          font-family: var(--fa-style-family, "Font Awesome 6 Free");
          font-weight: var(--fa-style, 900);
          content: "\f303"; /* fa-pencil */
        }
        .obj-refname { color: var(--style-varname); }
      }
      .obj-actions {
        top: 2px;
        right: 5px;

        .obj-delete { color: var(--style-danger); }
      }

      .obj-data {
        right: 2px;
        bottom: 0;

        .obj-returntype {
          padding-left: 2px;
          color: var(--syntax-class);
        }
      }
      .handle {
        position: absolute;
        top: 50%;
        left: 5px;
        cursor: move;
        margin-top: -10px;
        width: 15px;
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
    &.selected > .statement { border-color: lightgrey; }
    &.upper-selected {
      margin-left: -2%;
      width: 104%;
    }
    &.lower-selected {
      margin-left: 2%;
      width: 96%;
    }
    &.commented .statement {
      opacity: 0.5;
      filter: grayscale(0.8) brightness(0.9);

      .commented .statement {
        opacity: 1;
        filter: none;
      }
    }

    &.flash .statement {
      transition: background-color 0s ease-in;
      background-color: var(--statement-flash);
    }
    &.flash.fade-out .statement {
      transition: background-color 0.3s ease-out;
      background-color: initial;
    }
    &.error .statement {
      background-color: var(--style-danger);

      .obj-actions .obj-delete { color: darkgrey; }
    }
  }
}

.content-dropdown {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background: var(--input-bg);
  padding: 12px;
}
.content > .content-dropdown {
  padding: 6px;
}

.reference {
  position: absolute;
  bottom: 2px;
  left: 50%;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='5px' viewBox='0 0 100 20'%3E%3Cpath d='M 3,3 50,17 97,3'/%3E%3C/svg%3E");
  width: var(--statement-width);
  width: calc(5px*5);
  height: 5px;
}
.content-dropdown {
  margin: 0 auto;
  max-width: var(--statement-width);
}
.content-dropdown.below .reference {
  transform: rotate(180deg);
}

.statement .obj-args {
  & > span:not(.input-wrapper) { padding: 2px; }
  .input-wrapper {
    position: relative;
  }
  btn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin-top: 3px;
    margin-right: -1px;
    border: 1px solid var(--statement-border);
    border-right: none;
    border-radius: 4px 0 0 4px;
    background: var(--input-bg);
    width: 18px;
    height: 18px;

    &:after {
      position: absolute;
      top: calc(50% - 1px);
      left: 5px;
      border-top: 4px solid var(--statement-border);
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      width: 0;
      height: 0;
      content: "";
    }
    &:not(:empty) {
      margin-right: 1px;
      border: 1px solid var(--statement-border);
      border-radius: 4px;
      padding-left: 20px;
      width: 93px;
      font-size: 10px;
      line-height: 18px;
      text-align: center;
    }
  }
  input { width: 75px; }
  select { max-width: 100px; }
  input, select { height: 18px; }
  .input-wrapper:has(> textarea) { width: 100%; }
  input[type=number] {
    width: 40px;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  .input-wrapper:not(:has(.selected-tag:empty)) {
    & > input, & > .switch { display: none; }
  }
  .input-wrapper .selected-tag:empty {
    display: none;
  }
  .input-wrapper:has([required]):after {
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 8px;
    content: "*";
  }
  .selected-tag {
    margin-left: 3px;
    color: var(--style-varname);
    font-size: 12px;
  }
  btn + input, btn + select {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  textarea {
    width: 100%;
    max-width: 100%;
  }
  // input, textarea, select, textarea {
  //   &::placeholder {
  //     color: lightgrey;
  //     opacity: 0.4;
  //   }
  //   &::-webkit-scrollbar {
  //     background: lightgrey;
  //     height: 4px;
  //     width: 4px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: var(--statement-bg);
  //     border-radius: 1ex;
  //     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  //   }
  //   &::-webkit-scrollbar-corner {
  //     background: lightgrey;
  //   }
  // }
}
.statement:has(> .obj-args:empty) {
  .obj-info {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 16px;
  }
  .obj-args {
    min-height: 0;
  }
}

.switch {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  background: none;
  width: var(--checkbox-width);
  height: calc(var(--checkbox-width)/3 + 3);

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    cursor: pointer;
    border-radius: var(--checkbox-width);
    background-color: lightgrey; /* Off BG color */

    &:before {
      position: absolute;
      bottom: var(--checkbox-padding);
      left: var(--checkbox-padding);
      transition: 0.4s;
      border-radius: var(--checkbox-height);
      background-color: white; /* Slider Circle color */
      width: var(--checkbox-innerheight);
      height: var(--checkbox-innerheight);
      content: "";
    }
    &:after {
      position: absolute;
      right: calc(var(--checkbox-padding)*2);
      left: calc(var(--checkbox-padding)*2);
      color: black; /* False Text color */
      font-size: var(--checkbox-fontsize);
      line-height: var(--checkbox-height);
      text-align: right;
      content: "false";
    }
  }

  input:checked + .slider {
    background-color: #2196F3; /* True BG color */
  }

  input:checked + .slider {
    &:before {
      transform: translateX(calc(var(--checkbox-width) - var(--checkbox-innerheight) - (var(--checkbox-padding)*2)));
    }
    &:after {
      color: white; /* True Text color */
      text-align: left;
      content: "true";
    }
  }
}
