$base-blue: #0160FF;
$danger: #F6433D;
$grey-blue: #6481A1;
$text-color: darken($grey-blue, 20%);

:root {
  --statement-width: 500px;

  --syntax-class: #E5C07B;
  --syntax-variable: #F7DEB1;
  --syntax-bool: #D19A66;
  --syntax-string: #1DC116;
  --syntax-symbol: #56B6C2;
  /* --style-return: #C678DD; */

  --style-varname: orange;
  --style-danger: #B20015;
  /* #D62839 */

  --statement-bg: #013080;
  --statement-bg-highlight: color-mix(in srgb, var(--statement-bg), #EEF 20%);
  --statement-bg-commented: #5282b7;
  --statement-flash: orange;

  --input-bg: #6481A1;

  --checkbox-width: 60px;
  --checkbox-padding: calc(var(--checkbox-width) * 0.05);
  --checkbox-height: calc(var(--checkbox-width)/3 + var(--checkbox-padding));
  --checkbox-innerheight: calc(var(--checkbox-width)/3 - var(--checkbox-padding));
  --checkbox-fontsize: calc(var(--checkbox-width)/6);
}

// .fa, .fa-regular, .fa-hashtag {
//   display: inline-block;
//   width: 6px;
//   height: 10px;
//   background: #0160FF;
//   border-radius: 2px;
// }

* {
  box-sizing: border-box;
}

body {
  background: #21374F;
  color: #ABB2BF;
  font-family: "Menlo";
}

.hidden { display: none !important; }

#reference-dropdown {
  position: fixed;
  z-index: 1;
  border-radius: 5px;
  background: white;
  width: 200px;
  height: auto;
  overflow: auto;

  ul {
    margin: 10px;
    margin-block-start: 0;
    padding: 0;

    li {
      border-radius: 5px;
      padding: 2px 5px;
      list-style-type: none;
    }

    li:not(:has(ul)).dropdown-hovered-item {
      background: lightgrey;
    }
  }

  .horz-list {
     ul {
       display: flex;
       justify-content: space-around;
       margin: 0;
       list-style-type: none;

       li {
         display: inline-block;
       }
     }
  }
}

input, textarea, select {
  display: inline-block;
  margin: 3px 1px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  border-color: rgba(211, 211, 211, 1);
  background-color: var(--input-bg);
  color: lightgrey;
  font-size: 12px;

  &::placeholder {
    opacity: 0.4;
    color: lightgrey;
  }
  &::-webkit-scrollbar {
    background: lightgrey;
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    border-radius: 1ex;
    background: var(--statement-bg);
  }
  &::-webkit-scrollbar-corner {
    background: lightgrey;
  }
}

@mixin btn-color($btn-color) {
  box-shadow: 0 1px 0 0 lighten($btn-color, 15%);
  background-color: $btn-color;
  text-shadow: 0 1px 0 darken($btn-color, 15%);

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 0 0 $btn-color;
    background-color: darken($btn-color, 15%);
  }

  &:active, &.active {
    box-shadow: 0 1px 0 0 darken($btn-color, 5%);
    background-color: darken($btn-color, 20%);
  }
}
// Button-ish
.btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  @include btn-color($base-blue);
  transition: 0.2s;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;

  border-radius: 6px;

  padding: 6px 24px;

  color: white !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  &:active {
    position: relative;
    top: 1px;
  }

  &.wide {
    padding: 8px 24px;
    width: 100%;
  }

  &.btn-flash { @include btn-color(lime); }
  &.danger, &.btn-error { @include btn-color($danger); }
  &.disabled, &:disabled, &.btn-pending {
    @include btn-color($text-color);

    cursor: not-allowed;
    pointer-events: none;
  }
}

.config-wrapper {
  margin: 20px auto;
  width: 100%;

  .config {
    margin: 0 auto;
    width: 100%;
    max-width: var(--statement-width);

    input {
      padding: 5px;
      width: 100%;
      font-size: 18px;
    }

    .btns {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}

.results {
  margin: 10px auto;
  border-radius: 10px;
  background: var(--statement-bg);
  padding: 10px;
  width: 100%;
  max-width: var(--statement-width);
  border: 2px solid $text-color;

  &:has(.result:empty):has(.output:empty) {
    display: none;
  }

  .result {
    color: lime;
  }
  .output {
    font-size: 12px;
    color: lightgrey;
    white-space: pre-wrap;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;

  .statements {
    margin: 0 auto;
    width: 100%;
    max-width: var(--statement-width);
  }
  .statement-wrapper {
    width: 100%;

    .statement {
      position: relative;
      margin: 5px 0;
      border: 1px solid lightgrey;
      border-radius: 5px;
      background-color: var(--statement-bg);
      padding: 12px;
      padding-left: 25px;

      .obj-args {
        display: flex;
        flex-flow: wrap;
        margin: 5px auto;
        min-height: 10px;

        tab {
          display: inline-block;
          flex-grow: 1;
        }
        nl {
          display: block;
          width: 100%;
          height: 5px;
        }

        .content {
          position: relative;
          width: 100%;
          min-height: 10px;

          &:before {
            position: absolute;
            left: -5px;
            border-right: none;
            border-width: 1px 1px 1px;
            border-style: solid none solid solid;
            border-color: lightgrey lightgrey lightgrey;
            border-image: initial;
            width: 2px;
            height: 100%;
            min-height: 10px;
            content: "";
          }

          &.open {
            padding-bottom: 12px;
            min-height: 50px;

            .content-dropdown.below {
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }
      }

      .obj-info, .obj-dup, .obj-actions, .obj-data {
        position: absolute;
        font-size: 10px;

        * { display: inline-block; }
        .obj-dup, .obj-varname, .obj-delete, .obj-returntype {
          cursor: pointer;
        }
      }

      .obj-dup {
        position: absolute;
        top: 2px;
        left: 5px;
        width: 10px;
        color: white;
      }
      .obj-info {
        top: 2px;
        left: 20px;

        .obj-type { color: var(--syntax-class); }
        .obj-varname { color: var(--style-varname); }
        .obj-varname.noname:before {
          color: lightgrey;
          font-family: var(--fa-style-family, "Font Awesome 6 Free");
          font-weight: var(--fa-style, 900);
          content: "\f303"; /* fa-pencil */
        }
        .obj-refname { color: var(--style-varname); }
      }
      .obj-actions {
        top: 2px;
        right: 5px;

        .obj-delete { color: var(--style-danger); }
      }

      .obj-data {
        right: 2px;
        bottom: 0;

        .obj-returntype {
          padding-left: 2px;
          color: var(--syntax-class);
        }
      }
      .handle {
        position: absolute;
        top: 50%;
        left: 5px;
        cursor: move;
        margin-top: -10px;
        width: 15px;
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
    &.selected .statement { background-color: var(--statement-bg-highlight); }
    &.upper-selected {
      margin-left: -2%;
      width: 104%;
    }
    &.lower-selected {
      margin-left: 2%;
      width: 96%;
    }
    &.commented .statement {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background-color: var(--statement-bg-commented); */
        opacity: 0.6;
        background-color: grey;
        content: '';
      }

      /* select, input, textarea {
        background-color: $grey-blue;
        color: darkgrey;
      } */
    }

    &.flash .statement {
      transition: background-color 0s ease-in;
      background-color: var(--statement-flash);
    }
    &.flash.fade-out .statement {
      transition: background-color 0.3s ease-out;
      background-color: initial;
    }
    &.error .statement {
      background-color: var(--style-danger);

      .obj-actions .obj-delete { color: darkgrey; }
    }
  }
}

.content-dropdown {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background: var(--input-bg);
  padding: 12px;
}
.content > .content-dropdown {
  padding: 6px;
}

.reference {
  position: absolute;
  bottom: 2px;
  left: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='5px' viewBox='0 0 100 20'%3E%3Cpath d='M 3,3 50,17 97,3'/%3E%3C/svg%3E");
  width: var(--statement-width);
  width: calc(5px*5);
  height: 5px;
}
.content-dropdown {
  margin: 0 auto;
  max-width: var(--statement-width);
}
.content-dropdown.below .reference {
  transform: rotate(180deg);
}

.statement .obj-args {
  & > span:not(.input-wrapper) { padding: 2px; }
  .input-wrapper {
    position: relative;
  }
  btn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin-top: 3px;
    margin-right: -1px;
    border: 1px solid lightgrey;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background: var(--input-bg);
    width: 18px;
    height: 18px;

    &:after {
      position: absolute;
      top: calc(50% - 1px);
      left: 5px;
      border-top: 4px solid lightgrey;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      width: 0;
      height: 0;
      content: "";
    }
    &:not(:empty) {
      margin-right: 1px;
      border: 1px solid lightgrey;
      border-radius: 4px;
      padding-left: 20px;
      width: 93px;
      font-size: 10px;
      line-height: 18px;
      text-align: center;
    }
  }
  // input, textarea, select {
  //   background-color: var(--input-bg);
  //   border: 1px solid lightgrey;
  //   border-color: rgba(211, 211, 211, 1);
  //   border-radius: 4px;
  //   color: lightgrey;
  //   display: inline-block;
  //   font-size: 12px;
  //   margin: 3px 1px;
  // }
  input { width: 75px; }
  select { max-width: 100px; }
  input, select { height: 18px; }
  .input-wrapper:has(> textarea) { width: 100%; }
  input[type=number] {
    width: 40px;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  .input-wrapper:not(:has(.selected-tag:empty)) {
    & > input, & > .switch { display: none; }
  }
  .input-wrapper .selected-tag:empty {
    display: none;
  }
  .input-wrapper:has([required]):after {
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 8px;
    content: "*";
  }
  .selected-tag {
    margin-left: 3px;
    color: var(--style-varname);
    font-size: 12px;
  }
  btn + input, btn + select {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  textarea {
    width: 100%;
    max-width: 100%;
  }
  // input, textarea, select, textarea {
  //   &::placeholder {
  //     color: lightgrey;
  //     opacity: 0.4;
  //   }
  //   &::-webkit-scrollbar {
  //     background: lightgrey;
  //     height: 4px;
  //     width: 4px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: var(--statement-bg);
  //     border-radius: 1ex;
  //     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  //   }
  //   &::-webkit-scrollbar-corner {
  //     background: lightgrey;
  //   }
  // }
}
.statement:has(> .obj-args:empty) {
  .obj-info {
    position: relative;
    top: 3px;
    left: 0;
    font-size: 16px;
  }
  .obj-args {
    min-height: 0;
  }
}

.switch {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  background: none;
  width: var(--checkbox-width);
  height: calc(var(--checkbox-width)/3 + 3);

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    cursor: pointer;
    border-radius: var(--checkbox-width);
    background-color: lightgrey; /* Off BG color */

    &:before {
      position: absolute;
      bottom: var(--checkbox-padding);
      left: var(--checkbox-padding);
      transition: 0.4s;
      border-radius: var(--checkbox-height);
      background-color: white; /* Slider Circle color */
      width: var(--checkbox-innerheight);
      height: var(--checkbox-innerheight);
      content: "";
    }
    &:after {
      position: absolute;
      right: calc(var(--checkbox-padding)*2);
      left: calc(var(--checkbox-padding)*2);
      color: black; /* False Text color */
      font-size: var(--checkbox-fontsize);
      line-height: var(--checkbox-height);
      text-align: right;
      content: "false";
    }
  }

  input:checked + .slider {
    background-color: #2196F3; /* True BG color */
  }

  input:checked + .slider {
    &:before {
      transform: translateX(calc(var(--checkbox-width) - var(--checkbox-innerheight) - (var(--checkbox-padding)*2)));
    }
    &:after {
      color: white; /* True Text color */
      text-align: left;
      content: "true";
    }
  }
}
