.black { background: black; }

.list-container {
  position: relative;
  width: 600px;
  max-width: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: "gunny_rewrittenregular", "claire_handregular", "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;

  .list-item-container {
    position: relative;

    .list-item-handle {
      z-index: 1;
      position: absolute;
      left: 0px;
      top: 10px;
    }
  }


  .list-title {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
  }

  .list-field {
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    text-align: center;

    input.new-list-item {
      box-sizing: border-box;
      width: 100%;
      max-width: 600px;
      font-size: 24px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 2px;
      border-color: black;
    }
  }

  .list-items {
    input[type=checkbox] { display: none; }
    label.list-item {
      position: relative;
      display: block;
      border: 1px solid black;
      border-bottom-color: white;
      padding: 20px 5px 20px 40px;

      .checkbox-wrapper {}
      .item-name {}
    }

    input[type=checkbox]:checked + label {
      color: red;
      background: pink;
      border-color: red;
      text-decoration: line-through;
      &:after {
        content: "\2713 ";
        position: absolute;
        line-height: 1;
        font-size: 35px;
        top: 10px;
        left: 10px;
      }
    }
  }
}
