#maze {
  margin: 0 auto;
  text-align: center;
  .maze-row {
    font-size: 0;
    white-space: nowrap;
    .cell {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: -1px; padding: 0;
      &.cell-player { background: blue; }
      &.cell-finish { background: red; }
      &.cell-open { background: yellow; }
      &.cell-wall { background: black; }
    }
  }
}
.maze-victory {
  line-height: 100px;
  font-size: 72px;
  color: green;
  text-align: center;
}
