.poke-page {
  width: 100%;
  text-align: center;
  .pokemon-list-container {
    text-align: center;
  }
  .scan {
    margin: 50px auto;
    border-radius: 50px;
    font-size: 32px;
    background: blue;
    color: white;
    width: 200px;
    height: auto;
    line-height: 2;
    text-align: center;
    cursor: pointer;
  }
}
