.poke-marker {
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 70px;
  .poke-timer {
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 60%;
    height: 16px;
    background: rgba(0, 0, 0, 0.6);

    border-radius: 10px;
    line-height: 16px;
    font-size: 12px;
    color: white;
    text-align: center;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0, 0, 0, 0.6);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.map-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  #map {
    width: 100%;
    height: 400px;
  }
}
.poke-page {
  width: 100%;
  text-align: center;
  .pokemon-list-container {
    text-align: center;
  }
  .scan {
    margin: 50px auto;
    border-radius: 50px;
    font-size: 32px;
    background: blue;
    color: white;
    width: 200px;
    height: auto;
    line-height: 2;
    text-align: center;
    cursor: pointer;
  }
}

.location-options {
  .location-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: 100px;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
    background: black;
  }
  .search-btn {
    display: inline-block;
    width: auto;
    background-image: linear-gradient(#1565c0, lighten(#1565c0, 10%));
    border-radius: 8px;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
}
