@import "config/_variables";
@import "config/terminess_font.scss";
@import "components/forms";

@keyframes blink {
  from { visibility: hidden; }
  50% { visibility: hidden; }
  to { visibility: visible; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes jiggle {
  0% {
    transform: rotate(-2deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(2.5deg);
    animation-timing-function: ease-out;
  }
}

html, body {
  background: darken($blue-d5, 5%);
  height: 100%;
  overflow: auto;
  color: $grey-light;
  font-family: terminess, monospace;
  margin: 0;
  padding: 10px;

  &, * { box-sizing: border-box; }
}

.hidden { display: none; }

.settings {
  position: absolute;
  top: 30px;
  left: 30px;

  i {
    font-size: 32px;
    cursor: pointer;
  }
}

.settings-wrapper {
  margin: 30px;
  text-align: center;
}

i.emoji {
  position: absolute;
  font-size: 64px;
  font-style: normal;
  white-space: nowrap;
  letter-spacing: -64px;
  line-height: 0;
  left: calc(50% - 32px);
  text-align: center;

  img {
    position: absolute;
    height: 48px;
    margin-left: 8px; // (48 - 32)/2
    margin-top: -20px; // min-widget height / 4 (emoji is centered)
  }
}

.widget-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 675px;

  .delete-widget {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($danger, 0.2);
    z-index: 1;
    font-size: 32px;
    padding: 10px;
  }
  .widget-holder {
    align-self: center;
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s;
    background: darken($blue-d5, 5%);
    box-shadow: 1px 1px 3px 0 $grey-blue, inset 0 0 0 0 $grey-blue;
    border: 1px solid $grey-blue;
    border-radius: 8px;
    width: 150px;
    height: 150px;

    .widget {
      text-align: center;

      .lines p {
        margin: 0;
        padding: 0;
        height: 15px;
        font-size: 12px;
        line-height: 0;
      }

      &.upcoming {
        .lines p {
          width: 125px;
          overflow-x: hidden;
          line-height: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &.garage {
        font-size: 100px;

        .ti-mdi-garage_open { display: none; visibility: hidden; }
        .ti-mdi-garage { display: none; visibility: hidden; }

        &.open {
          color: orange;

          .ti-mdi-garage_open {
            display: inline-block;
            visibility: visible;
          }
        }
        &.between {
          color: yellow;

          .ti-mdi-garage_open {
            display: inline-block;
            animation: 1s infinite blink;
          }
        }
        &.closed {
          color: green;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
        &:not(.open, .between, .closed) {
          color: grey;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
      }

      .loading {
        position: absolute;
        top: 2.4px; left: 3.7px;
        animation: spin 1s linear infinite;
        width: 10px; height: 10px;

        .ti {
          position: absolute;
          top: -3px; left: 0;
          width: 0; height: 0;
          color: $grey-light;
          font-size: 10px;
          text-align: left;
        }
      }
      .error {
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: $danger;
        font-size: 12px;
      }
      .disconnected {
        position: absolute;
        top: 5px; left: 6px;

        &:before {
          position: absolute;
          border-radius: 100%;
          background: $danger;
          width: 5px; height: 5px;
          content: "";
        }
      }
      .refresh {
        position: absolute;
        top: 0; right: 0;
        padding: 5px;
        width: 25px; height: 25px;

        color: $grey-light;
        font-size: 24px;
        line-height: 25px;
      }
      .last-sync {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: $grey-light;
        font-size: 12px;
      }
    }

    &:active, &:hover {
      box-shadow: 0 0 0 0 $grey-blue, inset 2px 2px 5px 0 $grey-blue;
    }

    &.empty {
      box-shadow: none;
      border: none;
    }

    // .draggable-source--is-dragging -- placeholder
    // .draggable-mirror -- held item (ghost)
    &.jiggle:not(&.draggable-mirror) {
      cursor: grab;
      animation: jiggle 0.3s alternate infinite;
      &:nth-of-type(2n) { animation-delay: -0.75s; }
      &:nth-of-type(3n) { animation-delay: -0.31s; }
      &:nth-of-type(4n) { animation-delay: -0.67s; }
      &:nth-of-type(5n) { animation-delay: -0.27s; }
    }
    &.draggable-source--is-dragging {
      opacity: 0.3;
    }
    /* .draggable-mirror { cursor: grabbing; } */
  }
}

.flash {
  position: fixed;
  top: 10px;
  left: -300px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  background: $grey-dark;
  padding: 10px;
  color: $grey-light;

  &.show {
    left: 10px;
  }
}

.modal {
  position: fixed;
  top: 20px; left: 20px;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  pointer-events: auto;

  .modal-content {
    border-radius: 12px;
    background: $grey-blue;
    width: 100%;
    height: 100%;
    color: $text-color;
    overflow: auto;
    box-shadow: 1px 1px 4px 2px $grey-dark, inset 0 0 0 0 $grey-dark;
  }

  .close {
    z-index: 2;
    position: absolute;
    top: 0; right: 0;
    width: 35px; height: 35px;
    color: $danger;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }

  .status {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background: red;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 3px 2px $grey-dark;

    &.connected {
      background: green;
    }
  }

  &.widget-modal .modal-content {
    position: relative;
    padding: 30px;

    .widget-wrapper {
      .widget-holder {
        margin: 8px;
        box-shadow: 1px 1px 3px 0 $grey-dark, inset 0 0 0 0 $grey-dark;
        border: 1px solid $grey-dark;
        background: $grey-blue;
        width: 80px;
        height: 80px;
        position: relative;
        color: $blue-d4;
        font-size: 16px;
        font-weight: bold;

        .widget {
        }

        .subtitle {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &:active, &:hover {
          box-shadow: 0 0 0 0 $grey-dark, inset 2px 2px 5px 0 $grey-dark;
        }

        &.hidden {
          &, &:active, &:hover {
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }

  &#widget-form {
    margin: 40px auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: 400px;
    height: calc(100% - 80px);

    form {
      margin: 30px;
      font-size: 28px;

      select {
        width: 100%;
      }
    }
  }

  &#command-modal {
    height: 350px;

    .modal-content {
      display: flex;
      flex-direction: column;
      font-family: "Arial Unicode MS", "Segoe UI", "Helvetica Neue", "Open Sans", "Roboto";

      .messages {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        overflow: auto;

        .message {
          margin: 5px 10px;
          box-shadow: 2px 2px 3px 0 $grey-dark;
          border-radius: 8px;
          padding: 8px;
          color: $grey-light;
          white-space: pre-wrap;

          &.in {
            margin-right: 50px;
            background: $grey-dark;
          }
          &.out {
            margin-left: 50px;
            background: $base-blue;
          }
        }
      }
      .text-entry {
        padding: 5px;

        input {
          box-sizing: border-box;
          margin: 4px auto;

          border: 2px solid rgba($grey-blue, 0.5);
          border-radius: 4px;
          padding: 8px;
          width: 100%;
          color: $text-color;
          font-size: 16px;
        }
      }
    }
  }

  &:not(.show) {
    top: -280px;
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 550px) {
  .widget-wrapper {
    .widget-holder.empty {
      display: none;
    }
  }
}
