@import "config/_variables";
@import "config/terminess_font.scss";

@keyframes blink {
  from { visibility: hidden; }
  50% { visibility: hidden; }
  to { visibility: visible; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

html, body {
  background: darken($blue-d5, 5%);
  height: 100%;
  overflow: hidden;
  color: $grey-light;
  font-family: terminess, monospace;

  &, * { box-sizing: border-box; }
}

.hidden { display: none; }

i.emoji {
  font-size: 64px;
  font-style: normal;
  white-space: nowrap;
}

.widget-wrapper {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  .widget-holder {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid $grey-blue;
    box-shadow: 1px 1px 3px 0 $grey-blue, inset 0 0 0 0 $grey-blue;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    transition: box-shadow 0.2s;

    .widget {
      text-align: center;

      .lines p {
        margin: 0;
        padding: 0;
        height: 15px;
        font-size: 12px;
        line-height: 0;
      }

      &.garage {
        font-size: 100px;

        .ti-mdi-garage_open { display: none; visibility: hidden; }
        .ti-mdi-garage { display: none; visibility: hidden; }

        &.open {
          color: orange;

          .ti-mdi-garage_open {
            display: inline-block;
            visibility: visible;
          }
        }
        &.between {
          color: yellow;

          .ti-mdi-garage_open {
            display: inline-block;
            animation: 1s infinite blink;
          }
        }
        &.closed {
          color: green;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
        &:not(.open, .between, .closed) {
          color: grey;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
      }

      .loading {
        position: absolute;
        top: 2.4px; left: 3.7px;
        animation: spin 1s linear infinite;
        width: 10px; height: 10px;

        .ti {
          position: absolute;
          top: -3px; left: 0;
          width: 0; height: 0;
          color: $grey-light;
          font-size: 10px;
          text-align: left;
        }
      }
      .error {
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: $danger;
        font-size: 12px;
      }
      .disconnected {
        position: absolute;
        top: 5px; left: 6px;

        &:before {
          position: absolute;
          border-radius: 100%;
          background: $danger;
          width: 5px; height: 5px;
          content: "";
        }
      }
      .refresh {
        position: absolute;
        top: 0; right: 0;
        padding: 5px;
        width: 25px; height: 25px;

        color: $grey-light;
        font-size: 24px;
        line-height: 25px;
      }
      .last-sync {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: $grey-light;
        font-size: 12px;
      }
    }

    &:active, &:hover {
      box-shadow: 0 0 0 0 $grey-blue, inset 2px 2px 5px 0 $grey-blue;
    }
  }
}

.modal {
  position: fixed;
  top: 20px; left: 20px;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow: hidden;
  pointer-events: auto;

  .modal-content {
    border-radius: 12px;
    background: $grey-blue;
    width: 100%;
    height: 100%;
    color: $text-color;

    .close {
      position: absolute;
      top: 0; right: 0;
      width: 35px; height: 35px;
      color: $danger;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
    }
  }

  &.mini-widgets .modal-content {
    padding: 30px;

    .widget-wrapper {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;

      .widget-holder {
        width: 80px;
        height: 80px;
        border: 1px solid $grey-dark;
        box-shadow: 1px 1px 3px 0 $grey-dark, inset 0 0 0 0 $grey-dark;

        .widget {
        }

        &:active, &:hover {
          box-shadow: 0 0 0 0 $grey-dark, inset 2px 2px 5px 0 $grey-dark;
        }
      }
    }
  }

  &#drugs-modal .modal-content {
    .mini-widget {
      color: $blue-d4;
      font-size: 8px;
    }
  }

  &#command-modal {
    height: 350px;

    .modal-content {
      display: flex;
      flex-direction: column;
      font-family: "Arial Unicode MS", "Segoe UI", "Helvetica Neue", "Open Sans", "Roboto";

      .messages {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        overflow: scroll;

        .message {
          margin: 5px 10px;
          box-shadow: 2px 2px 3px 0 $grey-dark;
          border-radius: 8px;
          padding: 8px;
          color: $grey-light;
          white-space: pre-wrap;

          &.in {
            margin-right: 50px;
            background: $grey-dark;
          }
          &.out {
            margin-left: 50px;
            background: $base-blue;
          }
        }
      }
      .text-entry {
        padding: 5px;

        input {
          box-sizing: border-box;
          margin: 4px auto;

          border: 2px solid rgba($grey-blue, 0.5);
          border-radius: 4px;
          padding: 8px;
          width: 100%;
          color: $text-color;
          font-size: 16px;
        }
      }
    }
  }

  &:not(.show) {
    top: -280px;
    opacity: 0;
    pointer-events: none;
  }
}
