@import "config/_variables";
@import "config/terminess_font.scss";

@keyframes blink {
  from { visibility: hidden; }
  50% { visibility: hidden; }
  to { visibility: visible; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

html, body {
  background: darken($blue-d5, 5%);
  color: $grey-light;
  font-family: terminess, monospace;
}

.hidden { display: none; }

.widget-wrapper {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  .widget-holder {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid $base-blue;
    border-radius: 8px;
    width: 150px;
    height: 150px;

    .widget {
      text-align: center;

      .lines p {
        font-size: 12px;
        height: 15px;
        margin: 0;
        padding: 0;
        line-height: 0;
      }

      &.garage {
        font-size: 100px;

        .ti-mdi-garage_open { display: none; visibility: hidden; }
        .ti-mdi-garage { display: none; visibility: hidden; }

        &.open {
          color: orange;

          .ti-mdi-garage_open {
            display: inline-block;
            visibility: visible;
          }
        }
        &.between {
          color: yellow;

          .ti-mdi-garage_open {
            display: inline-block;
            animation: 1s infinite blink;
          }
        }
        &.closed {
          color: green;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
        &:not(.open, .between, .closed) {
          color: grey;

          .ti-mdi-garage {
            display: inline-block;
            visibility: visible;
          }
        }
      }

      .loading {
        position: absolute;
        top: 2.4px; left: 3.7px;
        animation: spin 1s linear infinite;
        width: 10px; height: 10px;

        .ti {
          position: absolute;
          top: -3px; left: 0;
          width: 0; height: 0;
          color: $grey-light;
          font-size: 10px;
          text-align: left;
        }
      }
      .disconnected {
        position: absolute;
        top: 5px; left: 6px;

        &:before {
          position: absolute;
          border-radius: 100%;
          background: red;
          width: 5px; height: 5px;
          content: "";
        }
      }
      .refresh {
        position: absolute;
        top: 0; right: 0;
        padding: 5px;
        width: 25px; height: 25px;

        color: $grey-light;
        font-size: 24px;
        line-height: 25px;
      }
      .last-sync {
        position: absolute; right: 5px;
        bottom: 5px;
        color: $grey-light;
        font-size: 12px;
      }
    }

  }
}
