name: Deploy after merge

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Begin Deploy
      run: |
        curl -X POST -H "Authorization: Bearer ${{ secrets.PORTFOLIO_ACCESS_KEY }}" -d "deploy=start" https://ardesian.com/jil/tasks/e7a6570c-3d6d-434b-bcd6-568a41fb6b02/run

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.2

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install

    - name: Deploy to Digital Ocean
      env:
        SSH_PRIVATE_KEY: /tmp/ssh_key
      run: |
        eval `ssh-agent -s` # Manually start ssh-agent
        mkdir -p /home/runner/.ssh # /home/runner is the Github Action directory
        ssh-keyscan 138.68.3.152 >> /home/runner/.ssh/known_hosts
        echo "${{ secrets.PORTFOLIO_DEPLOY_SSH_KEY }}" > /home/runner/.ssh/github_actions
        chmod 600 /home/runner/.ssh/github_actions
        ssh-agent -a $SSH_PRIVATE_KEY > /dev/null
        ssh-add /home/runner/.ssh/github_actions
        bundle exec cap production deploy

    - name: Complete Deploy
      run: |
        sleep 10 # Attempt to give the server enough time to wake up after deploy
        curl -X POST -H "Authorization: Bearer ${{ secrets.PORTFOLIO_ACCESS_KEY }}" -d "deploy=finish" https://ardesian.com/jil/tasks/e7a6570c-3d6d-434b-bcd6-568a41fb6b02/run
