# sudo /bin/systemctl restart puma_portfolio_production
# sudo /bin/systemctl start puma_portfolio_production
# journalctl -r -u puma_portfolio_production.service
# systemctl status puma_portfolio_production.service
# check syntax error with `sc`
# (local) bundle exec cap production deploy

name: Deploy after merge

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Begin Deploy
      run: |
        curl -X POST -H "Authorization: Bearer ${{ secrets.PORTFOLIO_ACCESS_KEY }}" -d "id=deploy&deploy=start" https://ardesian.com/jil/trigger/monitor

    - name: Checkout code
      uses: actions/checkout@v2

    - name: SSH to server and trigger deploy
      env:
        SSH_PRIVATE_KEY: /tmp/ssh_key
      run: |
        eval `ssh-agent -s` # Manually start ssh-agent
        mkdir -p /home/runner/.ssh # /home/runner is the Github Action directory
        ssh-keyscan 165.227.15.235 >> /home/runner/.ssh/known_hosts
        echo "${{ secrets.PORTFOLIO_DEPLOY_SSH_KEY }}" > /home/runner/.ssh/github_actions
        chmod 600 /home/runner/.ssh/github_actions
        ssh-add /home/runner/.ssh/github_actions
        ssh -o StrictHostKeyChecking=no deploy@165.227.15.235 "cd /home/deploy/apps/portfolio/current && bundle exec cap production deploy"

    - name: Complete Deploy
      run: |
        sleep 5
        curl -X POST -H "Authorization: Bearer ${{ secrets.PORTFOLIO_ACCESS_KEY }}" -d "id=deploy&deploy=finish" https://ardesian.com/jil/trigger/monitor
