<div class="flash-banner flash-<%= type %>">
  <div class="flash-container">
    <%= message %>
    <div class="dismiss-flash">
      <a id="dismissFlash">
        <i class="fa fa-times-circle-o"></i>
      </a>
    </div>
  </div>
</div>
