  <div class="skinny-container">
    <div class="full-banner">
    <p>
      Welcome! We've created a temporary account so you can use the site as if you were logged in.<br>
      If you already have an account, please <%= link_to "Sign In", login_path %>.
    </p>
    <p>We recommend registering your account by visiting the <%= link_to "Account", account_path %> page and adding a username and password so that you can come back later and move between devices.</p>
  </div>
</div>
