<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jil</title>
    <script src="https://kit.fontawesome.com/b00e44a575.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "jil", media: "all" %>
  </head>
  <body>
    <%= content_tag(:div, "[#{Rails.env.upcase}]", class: "env-banner") unless Rails.env.production? %>
    <div class="modal-wrapper">
      <div class="modal" id="config-modal" tabindex="-1">
        <div class="status"></div>
        <div class="close"><i class="ti ti-fa-close"></i></div>
        <div class="modal-content">
          <code contenteditable="true" data-language="jil" class="code-preview"></code>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
